@import "/imports/ui/components/user-list/styles.scss";
@import "/imports/ui/stylesheets/mixins/_scrollable";
@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";


.smallTitle {
  @extend .smallTitle;
}

.BreakoutRoomsContents {
  flex-grow: 0;
  display: flex;
  flex-flow: row;
  padding-top: var(--lg-padding-y);
  padding-bottom: var(--lg-padding-y);
}

.BreakoutRoomsIcon {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-left: var(--sm-padding-x) / 2;
  text-align: right;
  font-size: 175%;
  flex-shrink: 1;
  color: var(--user-icons-color);
}

.BreakoutRoomsText {
  @extend %flex-column;
  min-width: 0;
  flex-grow: 1;
  margin-left: var(--sm-padding-x);
  justify-content: center;
  font-size: var(--font-size-small);
  color: var(--color-gray-dark);
}

.BreakoutRoomsItem {
  @extend %list-item;
  margin-left: 0.375rem;
  padding-left: var(--lg-padding-y);
}

.link {
  text-decoration: none;
}