@import '/imports/ui/stylesheets/mixins/_indicators';

.switch {
    &:hover {
        @include highContrastOutline();
    }

    &:focus,
    &:focus-within {
        @include highContrastOutline();
        outline-style: solid;
    }
}

.invertBackground {
    background-color: #008081 !important;
    &.checked {
        background-color: #DF2721 !important;
    }
}
