@import '/imports/ui/stylesheets/mixins/_indicators';
@import "/imports/ui/stylesheets/variables/placeholders";

.switch {
    &:hover {
        @extend %highContrastOutline;
    }

    &:focus,
    &:focus-within {
        @extend %highContrastOutline;
        outline-style: solid;
    }
}

.invertBackground {
    background-color: #008081 !important;
    &.checked {
        background-color: #DF2721 !important;
    }
}
