location /graphql-test {
  proxy_pass http://127.0.0.1:3000;
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "Upgrade";
}

# Websocket connection
location /v1/graphql {
	proxy_http_version 1.1;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection "Upgrade";
	proxy_set_header Host $host;
	#proxy_pass         http://127.0.0.1:8080; #Hasura
	proxy_pass         http://127.0.0.1:8378; #Graphql Middleware
}
