body {
    font-family: 'Nunito', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #fff;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc; 
}