@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/_scrollable";


@import "/imports/ui/stylesheets/variables/typography";



.heading{
font-style: normal;
//font-weight: 500;
font-size: 20px;
line-height: 36px;
    padding:  1.6rem;
    color: #000000;
}
.name{
  flex: 1;
  margin: 0;
  font-weight: 400;
  font-size: var(--font-size-large);
  text-align: center;
  align-self: flex-end;
}
.input{
    padding:  1.6rem;
     height: 2.7rem;
    background: #e6e6e6;
    border-radius: 8px;
    border: 0;
    text-indent: 10px;

}
.Join{
//     padding:  0.6rem;
//   flex: auto;
// line-height: 25px;
display: flex;
flex-flow: column wrap;
align-items: flex-start;
// margin-top: 2rem;
:nth-child(n){
  margin: 0.01rem;
}
}
.JoinLabel{
    //font-size: 15px;
font-style: normal;
color: #000000;

display: flex;
align-items: center;
//width: 64%;
flex-direction: row;
//padding:  0.6rem 0 0.6rem 1.6rem;
    input{
        background: #F1F2F2;
        border: 1px solid #DCDCDC;
        box-sizing: border-box;
        opacity: 1;
        border-radius: 2px;
    }
 
}
.username{
  font-style: normal;
 
      padding:  0.6rem 0rem 0.6rem 0.9rem;
      
      color: #000000;

      font-weight: 500;
font-size: 0.813rem;
}
input.JoinCheckbox{
  padding:  0.6rem 0 0.6rem 1.6rem;
  background: #F5F6FA;
border: 1px solid #DCDCDC;
box-sizing: border-box;

border-radius: 2px;
width: 1rem;
height: 1rem;

}


.selectUserScreen {
    position: fixed;
    display: block;
    height: 100vh;
    width: 100%;
    background-color: var(--color-white);
    z-index: 1002;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .header {
    display: flex;
    padding: var(--line-height-computed) 0;
    border-bottom: var(--border-size) solid var(--color-gray-lighter);
    margin: 0 1rem 0 1rem;
  }
  
  .title {
  //  @extend %text-elipsis;
    align-content: flex-end;
    flex: 1;
    margin: 0;
    font-weight: 400;
  }
  
  .buttonAdd {
    flex: 0 1 35%;
  }
  
  .selectUserContainer {
    margin: 1.5rem 1rem;
  }
  
  .textName {
   // @extend %text-elipsis;
    margin-left: 1.5rem;
  }



.btns{
  flex: auto;
  flex-direction: row;
}

.nbtn{
  flex: 0;
   align-self: auto;
  float:right;
  margin-bottom: 0;
  background: #36A1FF;
border-radius: 20px;
border: 0;
color: white;
 padding: 5px 24px 5px 24px;
 margin: auto;
// min-width: 24px;
}
.pbtn{
   flex: 0;
  //  align-self: auto;
    float: right;
   color:#36A1FF;
   border-radius: 20px;
   background: white;
   border: 1px solid #36A1FF;
box-sizing: border-box;
border-radius: 20px;
margin: 0px 10px ;
 padding: 5px 24px 5px 24px;
}



.inputheading{
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.015em;
  color: #000000;
}
.number{
  text-align: center;
  margin-top: 19px;
  margin-bottom: 30px;
}
.num{
  border-color: #36A1FF ;
  border-radius: 4px;
}

.userList{
  @include scrollbox-vertical();
  height: 16rem;
  padding: 1.6rem;
 // overflow-y: scroll;
}

.userAvatar {
  width: 1.5rem;
  margin: 1.9rem;
  padding: 0.6rem 1.6rem 0.6rem 1.6rem;
}
.userContentContainer {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  //width: 64%;
  flex-direction: row;
}
 