@import '/imports/ui/stylesheets/variables/_all';

:root {
  ::-webkit-media-controls {
    display: none !important;
  }
}

.wrapper {
  position: absolute;
  right: 0;
  background-color: var(--color-transparent);
  cursor: pointer;
  border: none !important;

  [class*="presentationZoomControls"] & {
    position: relative !important;
  }
}

.button {

  &,
  &:active,
  &:hover {
    background-color: var(--color-transparent);
    border: none;

    i {
      border: none !important;
      background-color: var(--color-transparent) !important;
    }
  }
}

.top {
  top: 0;
}

.bottom{
  bottom: 0;
}

.light .button i {
  color: var(--color-white);
}

.dark .button i {
  color: var(--color-black);
}

.fullScreenButton {
  padding: 5px;

  &:hover {
    border: 0;
  }

  i {
    font-size: 1rem;
  }

  &:focus{
    background-color: unset;
    border: none;
    box-shadow: none;
  }
}

.bg_dark,
.bg_light {
  opacity: 0.6;
  border-radius: 4px;
}

.bg_dark{
  background-color: #000;
}

.bg_light{
  background-color: #fff;
}