<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<beans>


       <!-- ***************** JMS Configuration ****************** -->
       <!-- ActiveMQ Connection -->
       <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
           <property name="brokerURL" value="tcp://localhost:61616" />
       </bean>

       <!-- Queue ActiveMQ -->
       <bean id="jmsDest" class="org.apache.activemq.command.ActiveMQQueue">
           <property name="physicalName" value="RecorderEventsQueue" />
       </bean>
       <bean id="dataAccessProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
           <property name="location" value="/WEB-INF/application.properties"/>
       </bean>
       <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
           <property name="driverClassName" value="${jdbc.driver}" />
           <property name="url" value="${jdbc.url}" />
           <property name="username" value="${jdbc.username}" />
           <property name="password" value="${jdbc.password}" />
       </bean>

       <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
           <property name="dataSource" ref="dataSource" />

       </bean>

       <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
           <constructor-arg ref="dataSource" />
       </bean>

       <!-- Class MessageListener -->
       <bean id="messageClient" class="org.bigbluebutton.recorder.EventListener">
           <property name="jdbcTemplate" ref="jdbcTemplate" />
       </bean>

       <!-- Integration Connection, Queue, MessageListener -->
       <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
           <property name="connectionFactory" ref="connectionFactory" />
           <property name="destination" ref="jmsDest" />
           <property name="messageListener" ref="messageClient" />
           <property name="transactionManager" ref="transactionManager"/>
       </bean>

</beans>
