@import "/imports/ui/stylesheets/variables/_all";

.panel {
  background-color: #fff;
  padding: $md-padding-x;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  transform: translateZ(0);
}

.link {
  text-decoration: none;
}

.breakoutActions
.content,
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  font-size: $font-size-small;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breakoutActions {
  color: $color-primary;
  & > button {
    padding: 0 .5rem 0 .5rem;
  }
}

.button {
  flex: 0 1 48%;
  color: $color-primary;
}
