# NamedConsumerPool can gets consumer configuration parameters from a file like this.

ma.gnolia.consumerKey: - Your key here -
ma.gnolia.consumerSecret: - Your secret here -
ma.gnolia.serviceProvider.requestTokenURL: http://ma.gnolia.com/oauth/get_request_token
ma.gnolia.serviceProvider.userAuthorizationURL: http://ma.gnolia.com/oauth/authorize
ma.gnolia.serviceProvider.accessTokenURL: http://ma.gnolia.com/oauth/get_access_token

twitter.consumerKey: - Your key here -
twitter.consumerSecret: - Your secret here -
twitter.callbackURL: - Your URL here -
twitter.consumer.oauth_signature_method: PLAINTEXT
# There can be more consumer properties.
twitter.serviceProvider.requestTokenURL: http://twitter.com/oauth/request_token
twitter.serviceProvider.userAuthorizationURL: http://twitter.com/oauth/authorize
twitter.serviceProvider.accessTokenURL: http://twitter.com/oauth/access_token
