{
  "expressServer": {
    "host": "127.0.0.1",
    "port": 8787
  },
  "hocuspocusServer": {
    "host": "127.0.0.1",
    "port": 9001
  },
  "log": {
    "level": "info"
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379,
    "password": null,
    "channels": {
      "publish": "to-akka-apps-redis-channel",
      "subscribe": [
        "from-akka-apps-redis-channel",
        "from-etherpad-redis-channel"
      ]
    }
  }
}
