@import "/imports/ui/stylesheets/variables/_all";

.videoCanvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoList {
  display: grid;

  overflow: hidden;
  grid-auto-flow: dense;
  grid-gap: 5px;

  @include mq($medium-up) {
    grid-gap: 10px;
  }
}

.videoListItem {
  overflow: hidden;
  display: flex;

  &.focused {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}

.content {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 5px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid rgba($color-white, .25);
    border-radius: 5px;
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none;

  }

  &.talking::after {
    opacity: 1;
  }
}

%media-area {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

.connecting {
  @extend %media-area;
  position: absolute;
  background-color: $color-gray;
  color: rgba($color-white, .25);
  font-size: 2.5rem;
  text-align: center;
  white-space: nowrap;

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }

  &::before {
    content: "\e949"; /* ascii code for the ellipsis character */
    font-family: 'bbb-icons' !important;
    display: inline-block;
    animation: spin 4s infinite linear;
  }
}

.media {
  @extend %media-area;
}

.info {
  position: absolute;
  display: flex;
  bottom: 5px;
  left: 5px;
  right: 5px;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  z-index: 2;
}

.dropdown {
  flex: 1;
  display: flex;
  outline: none !important;

  @include mq($medium-up) {
    > [aria-expanded] {
      padding: .25rem;
    }
  }
}

.dropdownTrigger {
  @extend %text-elipsis;
  position: relative;
  background-color: rgba($color-gray, .5);
  color: $color-white;
  font-size: 80%;
  border-radius: 15px;
  padding: 0 1rem 0 .5rem !important;
  max-width: 50%;

  &::after {
    content: "\203a";
    position: absolute;
    transform: rotate(90deg);
    top: 45%;
    width: 0;
    line-height: 0;
    right: .45rem;
  }
}

.dropdownList {
  @include mq($medium-up) {
    font-size: .86rem;
  }
}

.hiddenDesktop {
  display: none;

  @include mq($small-only) {
    display: block;
  }
}

.muted, .voice {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  color: $color-white;
  border-radius: 50%;

  &::before {
    font-size: 75%;
  }
}

.webRTCStats {
  background: rgba(0,0,0,0.85);
  padding: 15px;
  height: 100%;
  color: $color-white;
  font-size: $font-size-small;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.statsCloseButton {
  float: right;
}

.statsCloseButton:hover {
  cursor: pointer;
}

.muted {
  background-color: $color-danger;
}

.voice {
  background-color: $color-success;
}
