@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/actions-bar/styles.scss";

.container {
  display: flex;
  flex-flow: row;

  > * {
    margin: 0 var(--sm-padding-x);

    @include mq($small-only) {
      margin: 0 var(--sm-padding-y);
    }

    span:first-child {
      box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
    }
  }

  > :first-child {
    margin-left: 0;
  }

  > :last-child {
    margin-right: 0;
  }
}

.button {
  &:focus {
    outline: none !important;
  }

  &.glow {
    animation: pulse calc(var(--enableAnimation) * 1s) infinite ease-in;
    border-radius: 50%;
  }
}

[style~="--enableAnimation:0;"] .button.glow span {
  content: '';
  outline: none !important;
  background-clip: padding-box;
  border: var(--border-size-large) solid transparent;
  box-shadow: 0 0 0 var(--border-size) rgba(255,255,255,.5);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  70% {
    box-shadow: 0 0 0 0.5625rem transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.ghostButton {
  @extend .btn;
}
