%h1 Personal Capture Using BigBlueButton
%form{:action => "login", :method => "post"} 
	%legend
		Login into the Application
	%p
		%label{:for => "txtusername"} Username:
		%input{:name => "txtusername" , :type => "text", :id => "txtusername"}
	%p
		%label{:for => "txtpassword"} Password:
		%input{:name => "txtpassword" , :type => "password", :id => "txtpassword"}
	%p
		%input{:type => "submit", :value=>"Login"}
