Application
{
	background-image: Embed(source="assets/img/wallpaperOS9.gif");
}

MDIWindow
{
	titleStyleName: "macTitle";
}

.macTitle
{
	fontFamily: Georgia;
	fontSize: 12;
	fontWeight: normal;
	color: #000000;
}

.mdiWindowFocus
{
	borderColor: #CCCCCC;
	borderAlpha: 1;
	borderThicknessLeft: 2;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 2;
	roundedBottomCorners: false;
	cornerRadius: 5;
	dropShadowEnabled: false;
	headerHeight: 29;
	backgroundAlpha: 1; 
	backgroundColor: #FFFFFF;	
	titleBackgroundSkin: Embed(source="assets/swf/WindowsAssets.swf", symbol="macHeaderFocus");
}

.mdiWindowNoFocus
{
	borderColor: #CCCCCC;
	borderAlpha: 1;
	borderThicknessLeft: 2;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 2;
	roundedBottomCorners: false;
	cornerRadius: 5;
	dropShadowEnabled: false;
	headerHeight: 29;
	backgroundAlpha: 1; 
	backgroundColor: #FFFFFF;
	titleBackgroundSkin: Embed(source="assets/swf/WindowsAssets.swf", symbol="macHeaderNoFocus");
}

.mdiWindowMinimizeBtn
{
	upSkin:        Embed(source="assets/swf/WindowsAssets.swf", symbol="minimizeBtnOS9");
	overSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="minimizeBtnOS9");
	downSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="minimizeBtnOS9");
	disabledSkin:  Embed(source="assets/swf/WindowsAssets.swf", symbol="minimizeBtnOS9");
}

.mdiWindowMaximizeBtn
{
	upSkin:        Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
	overSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
	downSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
	disabledSkin:  Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
}

.mdiWindowRestoreBtn
{
	upSkin:        Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
	overSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
	downSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
	disabledSkin:  Embed(source="assets/swf/WindowsAssets.swf", symbol="maxRestoreBtnOS9");
}

.mdiWindowCloseBtn
{
	upSkin:        Embed(source="assets/swf/WindowsAssets.swf", symbol="closeBtnOS9");
	overSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="closeBtnOS9");
	downSkin:      Embed(source="assets/swf/WindowsAssets.swf", symbol="closeBtnOS9");
	disabledSkin:  Embed(source="assets/swf/WindowsAssets.swf", symbol="closeBtnOS9");
}