Application 
{  
  themeColor: #CCC;
  backgroundGradientAlphas: 1, 1;  
  backgroundGradientColors: #FFF, #FFF;
  color: #504f3d;
  fontFamily: Arial;
}

ApplicationControlBar {
  fillAlphas: 1, 1;
  fillColors: #ffffff, #fffcf5;
  backgroundAlpha: 0;
  dropShadowEnabled: true;
  shadowDistance: 1
}


MDICanvas 
{
  backgroundColor: #FFFFFF;
  backgroundAlpha: 0;
}


Button 
{
  cornerRadius: 0;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fff, #fff, #f6eded, #f6eded;
  color: #504f3d;
  textRollOverColor: #e6e3dc;
  textSelectedColor: #d6d4c9;
  borderColor: #bebcac;
  themeColor:#d6d4c9;
  fontFamily: Arial;
  fontSize: 12;
  
  
}

Button.Present{
  cornerRadius: 0;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #262626, #262626, #454545, #454545;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #262626;
  borderColor: #000000;
  themeColor: #000000;
  fontFamily: Arial;
  fontSize: 12;
}

Button.Send{
  cornerRadius: 0;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #262626, #262626, #454545, #454545;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #262626;
  borderColor: #000000;
  themeColor: #000000;
  fontFamily: Arial;
  fontSize: 12;
}

Button.Logout{
  cornerRadius: 0;
  highlightAlphas: 0, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #262626, #262626, #454545, #454545;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #262626;
  borderColor: #000000;
  themeColor: #000000;
  fontFamily: Arial;
  fontSize: 12;
}

LinkButton {
  rollOverColor: #cccccc;
  selectionColor: #999999;
  color: #504f3d;
  textRollOverColor: #504f3d;
  textSelectedColor: #504f3d;
}

VScrollBar {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
  trackColors: #94999b, #e7e7e7;
  themeColor: #333333;
}

ComboBox {
  color: #504f3d;
  borderColor: #999999;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
  selectionColor: #cccccc;
  textSelectedColor: #504f3d;
  useRollOver: true;
  rollOverColor: #cccccc;
  textRollOverColor: #ffffff;
  themeColor: #999999;
}

VBox.whiteboardToolbarStyle {
  backgroundColor: #4798C6;
  cornerRadius: 5;
  borderColor: #2D586E;
  borderStyle: solid;
  borderThickness: 1;
  paddingBottom: 3;
  paddingTop: 3;
  paddingLeft: 3;
  paddingRight: 3;
}

Button.whiteboardButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
}

.whiteboardUndoButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/undo.png');
}

.whiteboardCircleButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/ellipse.png');  
}

.whiteboardClearButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/trash.png');    
}

.whiteboardLineButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/line.png');    
}

.whiteboardPanZoomButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/hand.png');   
}

.whiteboardRectangleButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/square.png');   
}

.whiteboardTextButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/text.png');   
}

.whiteboardTriangleButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon: Embed('assets/images/triangle.png');    
}

.presentationUploadButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon:   Embed('assets/images/upload.png'); 
}

.presentationBackButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon:   Embed('assets/images/left_arrow.png'); 
}

.presentationForwardButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon:   Embed('assets/images/left_arrow.png'); 
}

.presentationFitToWidthButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon:   Embed('assets/images/fit-to-width.png'); 
}

.presentationFitToPageButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #96c7e6, #50a6d7, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #ffffff;
  textSelectedColor: #ffffff;
  borderColor: #50a6d7;
  icon:   Embed('assets/images/fit-to-screen.png'); 
}

MDIWindow {
  resizeCursorHorizontalXOffset: 20	
}

.mdiWindowFocus 
{
  headerHeight: 26;
  roundedBottomCorners: false;
  backgroundAlpha: 1;
  backgroundColor: #003650;
  backgroundSize: '100%';
  
  borderStyle: solid;
  borderColor: #003650;
  borderAlpha: 1;
  borderThickness: 2;
  borderThicknessLeft: 6;
  borderThicknessTop: 6;
  borderThicknessBottom: 6;
  borderThicknessRight: 6;
  cornerRadius: 0;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
  
  cornerResizeImg: Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
  cornerResizeWidth: 15;
  cornerResizeHeight: 15;
  cornerResizePaddingRight: 2;
  cornerResizePaddingBottom: 2;
  
  controlButtonWidth: 10;
  controlButtonHeight: 10;
  controlButtonGap: 4;
}

.mdiWindowNoFocus 
{
  headerHeight: 26;
  roundedBottomCorners: false;
  backgroundAlpha: 0.5;
  backgroundColor: #003650;
  backgroundSize: '100%';
  
  borderStyle: solid;
  borderColor: #003650;
  borderAlpha: 1;
  borderThickness: 2;
  borderThicknessLeft: 6;
  borderThicknessTop: 6;
  borderThicknessBottom: 6;
  borderThicknessRight: 6;
  cornerRadius: 0;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
  
  cornerResizeImg: Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
  cornerResizeWidth: 15;
  cornerResizeHeight: 15;
  cornerResizePaddingRight: 2;
  cornerResizePaddingBottom: 2;
  
  controlButtonWidth: 10;
  controlButtonHeight: 10;
  controlButtonGap: 4;
}

.videoDockStyleNoFocus 
{
  borderColor: #242424;
  borderAlpha: 1;
  borderThicknessLeft: 0;
  borderThicknessTop: 0;
  borderThicknessBottom: 0;
  borderThicknessRight: 0;
  roundedBottomCorners: false;
  cornerRadius: 0;
  headerHeight: 0;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.videoDockStyleFocus 
{
  borderColor: #242424;
  borderAlpha: 1;
  borderThicknessLeft: 0;
  borderThicknessTop: 0;
  borderThicknessBottom: 0;
  borderThicknessRight: 0;
  roundedBottomCorners: false;
  cornerRadius: 0;
  headerHeight: 0;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.videoViewStyleNoFocus 
{
  borderColor: #003650;
  borderAlpha: 1;
  borderThicknessLeft: 5;
  borderThicknessTop: 5;
  borderThicknessBottom: 5;
  borderThicknessRight: 5;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.videoViewStyleFocus 
{
  borderColor: #003650;
  borderAlpha: 1;
  borderThicknessLeft: 5;
  borderThicknessTop: 5;
  borderThicknessBottom: 5;
  borderThicknessRight: 5;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.videoPublishStyleNoFocus 
{
  borderColor: #003650;
  borderAlpha: 1;
  borderThicknessLeft: 5;
  borderThicknessTop: 5;
  borderThicknessBottom: 5;
  borderThicknessRight: 5;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.videoPublishStyleFocus 
{
  borderColor: #003650;
  borderAlpha: 1;
  borderThicknessLeft: 5;
  borderThicknessTop: 5;
  borderThicknessBottom: 5;
  borderThicknessRight: 5;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.videoAvatarStyleNoFocus 
{
  borderColor: #003650;
  borderAlpha: 1;
  borderThicknessLeft: 5;
  borderThicknessTop: 5;
  borderThicknessBottom: 5;
  borderThicknessRight: 5;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.videoAvatarStyleFocus 
{
  borderColor: #003650;
  borderAlpha: 1;
  borderThicknessLeft: 5;
  borderThicknessTop: 5;
  borderThicknessBottom: 5;
  borderThicknessRight: 5;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundColor: #242424;
  dropShadowEnabled: false;
  titleStyleName: "mypanelTitle";
}

.mypanelTitle {
  color: #6cccff;
  fontFamily: Arial;
  fontSize: 12;
}

.closeBtnFocus
{
  upSkin:        Embed('assets/img/3_closeButton.png');
  overSkin:      Embed('assets/img/3_closeButton.png');
  downSkin:      Embed('assets/img/3_closeButton.png');
  disabledSkin:  Embed('assets/img/3_closeButton.png');
}

.closeBtnNoFocus
{
  upSkin:        Embed('assets/img/3_closeButton.png');
  overSkin:      Embed('assets/img/3_closeButton.png');
  downSkin:      Embed('assets/img/3_closeButton.png');
  disabledSkin:  Embed('assets/img/3_closeButton.png');
}


.increaseBtnFocus
{
  upSkin:        Embed('assets/img/3_increaseButton.png');
  overSkin:      Embed('assets/img/3_increaseButton.png');
  downSkin:      Embed('assets/img/3_increaseButton.png');
  disabledSkin:  Embed('assets/img/3_increaseButton.png');
}

.increaseBtnNoFocus
{
  upSkin:        Embed('assets/img/3_increaseButton.png');
  overSkin:      Embed('assets/img/3_increaseButton.png');
  downSkin:      Embed('assets/img/3_increaseButton.png');
  disabledSkin:  Embed('assets/img/3_increaseButton.png');
}


.decreaseBtnFocus 
{
  upSkin:        Embed('assets/img/3_decreaseButton.png');
  overSkin:      Embed('assets/img/3_decreaseButton.png');
  downSkin:      Embed('assets/img/3_decreaseButton.png');
  disabledSkin:  Embed('assets/img/3_decreaseButton.png');
}

.decreaseBtnNoFocus 
{
  upSkin:        Embed('assets/img/3_decreaseButton.png');
  overSkin:      Embed('assets/img/3_decreaseButton.png');
  downSkin:      Embed('assets/img/3_decreaseButton.png');
  disabledSkin:  Embed('assets/img/3_decreaseButton.png');
}


.minimizeBtnFocus 
{
  upSkin:        Embed('assets/img/3_minimizeButton.png');
  overSkin:      Embed('assets/img/3_minimizeButton.png');
  downSkin:      Embed('assets/img/3_minimizeButton.png');
  disabledSkin:  Embed('assets/img/3_minimizeButton.png');
}


.resizeHndlr 
{
  upSkin:        Embed('assets/img/resizeHandler.png');
  overSkin:      Embed('assets/img/resizeHandler.png');
  downSkin:      Embed('assets/img/resizeHandler.png');
  disabledSkin:  Embed('assets/img/resizeHandler.png');
}
