Application 
{  
   backgroundColors: #000000,#3f3f3f;
   backgroundImage: Embed(source="assets/img/bk3.jpg");
   backgroundSize: "100%";
   backgroundGradientColors: #B4BFCF, #78829C;
   themeColor: #0094C7;
   backgroundGradientAlphas: 0.62, 0.26;
}

/*The image for your logo is 200x200 pixels. No other size is currently supported so resize your logo accordingly. The logo will always appear in the lower right corner. */
BrandingLogo
{
	backgroundImage: Embed(source="assets/img/BBBLogo.png");
	backgroundSize: "100%";
}


MDICanvas 
{
	backgroundColor: #0094C7;
	backgroundAlpha: 0;
}


Button 
{
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors: #5f89b9, #697182, #ffffff, #eeeeee;
}


.mdiWindowFocus 
{
	headerHeight: 26;
	roundedBottomCorners: true;
	backgroundAlpha: 1;
	backgroundColor: #FFFFFF;
	backgroundImage: Embed(source="assets/swf/Blue.swf", symbol="Window_Background");
	backgroundSize: '100%';
	
	borderStyle: solid;
	borderColor: #ffffff;
	borderAlpha: 1;
	borderThickness: 2;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	cornerRadius: 4;
	dropShadowEnabled: false;
	titleStyleName: "mypanelTitle";
	
	cornerResizeImg: Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
	cornerResizeWidth: 15;
	cornerResizeHeight: 15;
	cornerResizePaddingRight: 2;
	cornerResizePaddingBottom: 2;
	
	controlButtonWidth: 10;
	controlButtonHeight: 10;
	controlButtonGap: 4;
}

.mdiWindowNoFocus 
{
	headerHeight: 26;
	roundedBottomCorners: true;
	backgroundAlpha: 0.5;
	backgroundImage: Embed(source="assets/swf/Blue.swf", symbol="Window_Background");
	backgroundSize: '100%';
	
	borderStyle: solid;
	borderColor: #ffffff;
	borderAlpha: 1;
	borderThickness: 2;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 0;
	borderThicknessRight: 0;
	cornerRadius: 4;
	dropShadowEnabled: false;
	titleStyleName: "mypanelTitle";
	
	cornerResizeImg: Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
	cornerResizeWidth: 15;
	cornerResizeHeight: 15;
	cornerResizePaddingRight: 2;
	cornerResizePaddingBottom: 2;
	
	controlButtonWidth: 10;
	controlButtonHeight: 10;
	controlButtonGap: 4;
}

.mypanelTitle 
{
	fontFamily: Arial;
	fontSize: 12;
	fontWeight: bold;
	color: #ffffff;
}


.closeBtnFocus
{
	upSkin:        Embed('assets/img/3_closeButton.png');
	overSkin:      Embed('assets/img/3_closeButton.png');
	downSkin:      Embed('assets/img/3_closeButton.png');
	disabledSkin:  Embed('assets/img/3_closeButton.png');
}

.closeBtnNoFocus
{
	upSkin:        Embed('assets/img/3_closeButton.png');
	overSkin:      Embed('assets/img/3_closeButton.png');
	downSkin:      Embed('assets/img/3_closeButton.png');
	disabledSkin:  Embed('assets/img/3_closeButton.png');
}


.increaseBtnFocus
{
	upSkin:        Embed('assets/img/3_increaseButton.png');
	overSkin:      Embed('assets/img/3_increaseButton.png');
	downSkin:      Embed('assets/img/3_increaseButton.png');
	disabledSkin:  Embed('assets/img/3_increaseButton.png');
}

.increaseBtnNoFocus
{
	upSkin:        Embed('assets/img/3_increaseButton.png');
	overSkin:      Embed('assets/img/3_increaseButton.png');
	downSkin:      Embed('assets/img/3_increaseButton.png');
	disabledSkin:  Embed('assets/img/3_increaseButton.png');
}


.decreaseBtnFocus 
{
	upSkin:        Embed('assets/img/3_decreaseButton.png');
	overSkin:      Embed('assets/img/3_decreaseButton.png');
	downSkin:      Embed('assets/img/3_decreaseButton.png');
	disabledSkin:  Embed('assets/img/3_decreaseButton.png');
}

.decreaseBtnNoFocus 
{
	upSkin:        Embed('assets/img/3_decreaseButton.png');
	overSkin:      Embed('assets/img/3_decreaseButton.png');
	downSkin:      Embed('assets/img/3_decreaseButton.png');
	disabledSkin:  Embed('assets/img/3_decreaseButton.png');
}


.minimizeBtnFocus 
{
	upSkin:        Embed('assets/img/3_minimizeButton.png');
	overSkin:      Embed('assets/img/3_minimizeButton.png');
	downSkin:      Embed('assets/img/3_minimizeButton.png');
	disabledSkin:  Embed('assets/img/3_minimizeButton.png');
}

.minimizeBtnNoFocus 
{
	upSkin:        Embed('assets/img/3_minimizeButton.png');
	overSkin:      Embed('assets/img/3_minimizeButton.png');
	downSkin:      Embed('assets/img/3_minimizeButton.png');
	disabledSkin:  Embed('assets/img/3_minimizeButton.png');
}


.resizeHndlr 
{
	upSkin:        Embed('assets/img/resizeHandler.png');
	overSkin:      Embed('assets/img/resizeHandler.png');
	downSkin:      Embed('assets/img/resizeHandler.png');
	disabledSkin:  Embed('assets/img/resizeHandler.png');
}