@import "../../../stylesheets/variables/_all";

:root {
  --position-left-edge: 60%;
  --position-bottom-edge: 5%;
  --position-top-firefox: 8em;
  --position-left-firefox: 22em;
  --position-top-chrome: 5.5em;
  --position-left-chrome: 18em;
  --position-top-safari: 100px;
  --position-left-safari-1280: 53em;
  --position-left-safari-1440: 58em;
  --position-left-safari-1680: 65em;
  --position-left-safari-1920: 68em;
  --arrow-top: -65px;
  --arrow-left: -20px;
  --arrow-top-edge: -2.5rem;
  --arrow-left-edge: -21rem;
}

@mixin arrowIconStyle() {
  &:after {
    top: var(--arrow-top);
    left: var(--arrow-left);
    font-size: 20px;
    display: block;
    font-family: 'bbb-icons';
    content: "\E906";
    position: relative;

    [style~="--enableAnimation:1;"] & {
      animation: bounce 2s infinite;
    }
  }

  :global(.browser-edge) &:after {
    top: var(--arrow-top-edge);
    left: var(--arrow-left-edge);
    font-size: 20px;
    [style~="--enableAnimation:1;"] & {
      animation: bounceRotate 2s infinite;
    }
  }
}

@mixin positionHint() {
  :global(.browser-edge) & {
    left: var(--position-left-edge);
    bottom: var(--position-bottom-edge);
  }
  :global(.browser-firefox) & {
    top: var(--position-top-firefox);
    left: var(--position-left-firefox);
  }
  :global(.browser-chrome) & {
    top: var(--position-top-chrome);
    left: var(--position-left-chrome);
  }
  :global(.browser-safari) & {
    top: var(--position-top-safari);
    @include mq($safari1280) {
      left: var(--position-left-safari-1280);
    }
    @include mq($safari1440) {
      left: var(--position-left-safari-1440);
    }
    @include mq($safari1680) {
      left: var(--position-left-safari-1680);
    }
    @include mq($safari1920) {
      left: var(--position-left-safari-1920);
    }
  }
}

.overlay {
  position: fixed;
  z-index: 1002;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .85);

  [style~="--enableAnimation:1;"] & {
    animation: fade-in .5s ease-in;
  }
}

.content {
  color: var(--color-white);
}

.hint {
  @include positionHint();
  background: none;
  box-shadow: none;
  position: absolute;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding-left: var(--jumbo-padding-x);
  line-height: 18px;
  width: 340px;

  small {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 3px;
    opacity: .6;
  }

  @include arrowIconStyle();
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  60% {
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes bounceRotate {
  0%,
  20%,
  50%,
  80%,
  100% {
    -ms-transform: translateY(0) rotate(180deg);
    transform: translateY(0) rotate(180deg);
  }
  40% {
    -ms-transform: translateY(10px) rotate(180deg);
    transform: translateY(10px) rotate(180deg);
  }
  60% {
    -ms-transform: translateY(5px) rotate(180deg);
    transform: translateY(5px) rotate(180deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
