:root {
  --color-transparent: #ff000000;
  ::-webkit-media-controls {
    display:none !important;
  }
}

.wrapper {
  position: absolute;
  right: 0;
  background-color: var(--color-transparent);
  cursor: pointer;
  border: none !important;
}

.button {
  span, span:active, span:hover {
    background-color: var(--color-transparent) !important;
    border: none !important;
    i {
      border: none !important;
      background-color: var(--color-transparent) !important;
      font-weight: bold !important;
    }
  }
}

.light {
  top: 0;
}

.light .button span i {
  color: var(--color-white);
}

.dark {
  bottom: 0;
}

.dark .button span i {
  color: var(--color-black);
}
