@import '/imports/ui/stylesheets/variables/_all';

:root {
  ::-webkit-media-controls {
    display: none !important;
  }
}

.wrapper {
  position: absolute;
  right: 0;
  background-color: var(--color-transparent);
  cursor: pointer;
  border: none !important;

  [class*="presentationZoomControls"] & {
    position: relative !important;
  }
}

.button {

  &,
  &:active,
  &:hover {
    background-color: var(--color-transparent) !important;
    border: none !important;

    i {
      border: none !important;
      background-color: var(--color-transparent) !important;
    }
  }
}

.light {
  top: 0;
}

.light .button i {
  color: var(--color-white);
}

.dark {
  bottom: 0;
}

.dark .button i {
  color: var(--color-black);
}

.fullScreenButton {
  padding: 5px;

  &:hover {
    border: 0;
  }

  i {
    font-size: 1rem;
  }
}