        location /playback/slides {
                root    /var/bigbluebutton;
                index  index.html index.htm;
        }

        location /slides {
                root    /var/bigbluebutton/published;
                index  index.html index.htm;
        }

