@import "/imports/ui/stylesheets/variables/breakpoints";
@import "/imports/ui/stylesheets/variables/placeholders";
@import '/imports/ui/stylesheets/mixins/_indicators';
@import '/imports/ui/stylesheets/mixins/focus';

%list-item {
  display: flex;
  flex-flow: row;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;

  [dir="rtl"] & {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    @extend %highContrastOutline;
    background-color: var(--list-item-bg-hover);
  }

  &:active,
  &:focus {
    @extend %highContrastOutline;
    outline-style: solid;
    background-color: var(--list-item-bg-hover);
    box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border), inset 1px 0 0 1px var(--item-focus-border);
  }
}

/* Animations
 * ==========
 */

// Actions
.enter,
.appear {
  opacity: 0;
  max-height: 0;
}

.enterActive,
.appearActive {
  opacity: 1;
  max-height: 10rem;

  :global(.animationsEnabled) & {
    transition: all 300ms;
  }
}

.leave {
  opacity: 1;
  max-height: 10rem;
}

.leaveActive {
  opacity: 0;
  max-height: 0rem;
  
  :global(.animationsEnabled) & {
    transition: all 500ms;
  }
}

// Text under username
.subUserNameEnter,
.subUserNameAppear {
  opacity: 0.01;
  transform: translateY(-100%);
}

.subUserNameEnterActive,
.subUserNameAppearActive {
  transform: translateY(0%);
  opacity: 1;
  max-height: 10rem;

  :global(.animationsEnabled) & {
    transition: all 500ms;
  }
}

.subUserNameLeave {
  opacity: 1;
  transform: translateY(0%);
}

.subUserNameLeaveActive {
  opacity: 0;
  transform: translateY(-100%);

  :global(.animationsEnabled) & {
    transition: all 300ms;
  }
}

.actionsHeader {
  color: var(--color-gray);

  &:hover {
    color: var(--color-gray) !important;
    cursor: default;
  }
}

.active {
  background-color: var(--list-item-bg-hover);
  box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border), inset 1px 0 0 1px var(--item-focus-border);
}

.usertListItemWithMenu {
  @extend %highContrastOutline;
  outline-style: solid;
  background-color: var(--list-item-bg-hover);
  box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border), inset 1px 0 0 1px var(--item-focus-border);
  border-top-left-radius: var(--sm-padding-y);
  border-bottom-left-radius: var(--sm-padding-y);

  &:focus {
    outline-style: solid;
    outline-color: transparent !important;
  }
}

.userListItem {
  @extend %list-item;
  flex-flow: column;
  flex-shrink: 0;
}

.userAvatar {
  flex: 0 0 2.25rem;
}

.userItemContents {
  flex-grow: 0;
  display: flex;
  flex-flow: row;

  padding: var(--lg-padding-y) 0 var(--lg-padding-y) var(--lg-padding-y);

  [dir="rtl"] & {
    padding: var(--lg-padding-y) var(--lg-padding-y) var(--lg-padding-y) 0;
  }
}

.dropdown {
  position: static;
  margin: 0 0 1px var(--lg-padding-y);
}

.dropdownContent {
  @extend %text-elipsis;
  cursor: default;
  min-width: 10vw;
  @include mq($medium-only) {
    min-width: 13vw;
  }
  @include mq($large-up) {
    min-width: 8vw;
  }
  max-width: 100%;
  overflow: visible;
}

.emojiSelected {
  span,
  i {
    color: var(--color-primary);
  }
}
