@import "imports/ui/stylesheets/variables/_all";

.settingsMenuLeft {
  border-right: 2px solid $color-gray-light;
  border-top: 2px solid $color-gray-light;
  float: left;
  width: 30%;
  height: 100%;
  overflow: auto;
}

.settingsMenuRight {
  border-top: 2px solid $color-gray-light;
  float: right;
  padding-left: 10px;
  width: 70%;
  height: 100%;
  overflow: auto;
  color: $color-heading;
}

.settingsSubmenuItem {
  color: $color-heading;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.settingsSubmenuItem:last-child {
  color: $color-primary;
}

.settingsSubmenuItemText {
  padding-left: 10px;
  vertical-align: middle;
}

.settingsSubmenuItemActive {
  border-right: 4px solid $color-primary;
  color: $color-primary;
}
