@import "/imports/ui/stylesheets/variables/_all";

.dndContainer {
  height: 200px;
}

.customPollValuesTextfield {
  width: 100%;
  height: 100%;
  resize: none;
  font-size: var(--font-size-small);
}

.dndActive {
  @extend .customPollValuesTextfield;
  background: grey;
}

.dndInActive {
  @extend .customPollValuesTextfield;
  background: white;
}

.btn {
  width: 100%;
}
