@import "colors";

#users {
	margin-left: 0.5%;
	padding-bottom: 10px; /*min-width:230px;*/
	width: 20%;
}

#user-contents {
	height: 95%;
	padding-bottom: 10px;
}

.userCurrent {
	font-weight: bold;
}

.usersListIcon {}

.userListSettingIcon {}

.userNameContainer {
	border-right: 1px solid extract(@lightGrey, 3);
	padding-right: 0px;
}

.userNameEntry {
	height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100px;
}

.user-entry tr:nth-child(even) {background-color: rgb(245,245,245);}

.user-entry tr:hover {font-weight: bold;}
