@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/modal/simple/styles";

.header {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem 0;

  .audioBtn:first-child {
    margin-right: 3rem;

    @include mq($small-only) {
      margin-right: 1rem;
    }
  }
}

.overlay {
  @extend .overlay;
}

.modal {
  @extend .modal;
  padding: 1.5rem;
  min-height: 20rem;
}

.closeBtn {
  position: relative;
  background-color: $color-white;

  i {
    color: $color-gray-light;
  }

  &:focus,
  &:hover{
    background-color: $color-gray-lighter;
    i{
      color: $color-gray;
    }
  }
}

.audioBtn {
  &:focus {
    outline: none !important;
  }

  i{
    color: #3c5764;
  }
}

// Modifies the audio button icon colour
.audioBtn span:first-child {
  color: #1b3c4b;
  background-color: #f1f8ff;
  box-shadow: none;
  border: 5px solid  #f1f8ff;
  font-size: 3.5rem;

  @include mq($small-only) {
    font-size: 2.5rem;
  }
}

// When hovering over a button of class audioBtn, change the border colour of first span-child
.audioBtn:hover span:first-child,
.audioBtn:focus span:first-child {
  border: 5px solid $color-primary;
  background-color: #f1f8ff;
}

// Modifies the button label text
.audioBtn span:last-child {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  white-space: normal;

  @include mq($small-only) {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.connecting {
  font-size: 2rem;
}

.connecting:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0;
  margin-right: 1.25em;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
    margin-right: 0;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
    margin-right: 0;
  }
}

.audioNote {
  color: $color-text;
  display: inline-block;
  font-size: 0.9rem;
}
