@import "../../styles.scss";
@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/variables/typography";

.smallTitle {
  font-size: var(--font-size-small);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 var(--sm-padding-x);
  margin-top: var(--sm-padding-x);
}

.scrollableList {
  margin: 0 0 0 var(--md-padding-y);
  
  [dir="rtl"] & {
    margin: 0 var(--md-padding-y) 0 0;
  }

  padding-top: var(--border-size);
  margin-bottom: var(--sm-padding-y);
}

.noteLink {
  @extend %list-item;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: var(--lg-padding-y);
  padding-bottom: var(--lg-padding-y);
  padding-left: var(--lg-padding-y);
  padding-right: 0;
  text-decoration: none;
  width: 100%;
  color: var(--color-gray-dark);
  background-color: var(--color-off-white);

  [dir="rtl"] & {
    padding-left: 0;
    padding-right: var(--lg-padding-y);
  }

  > i {
    display: flex;
    font-size: 175%;
    color: var(--color-gray-light);
    flex: 0 0 2.2rem;
  }

  > span {
    font-weight: 400;
    font-size: var(--font-size-small);
    color: var(--color-gray-dark);
    position: relative;
    flex-grow: 1;
    line-height: 2;
    text-align: left;
    padding-left: var(--lg-padding-y);
    padding-right: var(--sm-padding-y);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    [dir="rtl"] & {
      text-align: right;
      padding-left: 0;
      padding-right: var(--lg-padding-y);
    }
  }
}

.active {
  background-color: var(--list-item-bg-hover);
  box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border), inset 1px 0 0 1px var(--item-focus-border);
}

.unreadContent {
  @extend %flex-column;
  justify-content: center;
}

.unreadContentText {
  @extend %flex-column;
  @extend %no-margin;
  justify-content: center;
  color: var(--color-white);
  line-height: calc(1rem + 1px);
  padding: 0 0.5rem;
  text-align: center;
  border-radius: 0.5rem/50%;
  font-size: 0.8rem;
  background-color: var(--unread-messages-bg);
}
