@import "/imports/ui/stylesheets/variables/_all";

.actionsbar,
.left,
.center {
  display: flex;
  flex-direction: row;
}

.left,
.center {
  flex: 1;
  justify-content: center;

  > * {
    margin: 0 $sm-padding-x;
  }
}

.left{
  position: absolute;
}

.center {
  align-items: center;
}

.button {
  &:focus {
    outline: none !important;
  }

  span:first-child {
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
  }
}

.emojiSelected {
  span, i::before{
    color: $color-primary;
  }
}
