@import "imports/ui/stylesheets/variables/_all";

.actionsbar {
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.left,
.right,
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 $line-height-computed;
  }
}

.left,
.right {
  flex: 0;
}

.center {
  flex: 1;
}
