@import "/imports/ui/stylesheets/variables/_all";

.actionsbar,
.left,
.center,
.right {
  display: flex;
  flex-direction: row;
}

.left,
.center,
.right {
  flex: 1;
  justify-content: center;

  > * {
    margin: 0 var(--sm-padding-x);

    @include mq($small-only) {
      margin: 0 var(--sm-padding-y);
    }
  }
}

.left {
  position: absolute;
  @include mq($small-only) {
    bottom: var(--sm-padding-x);
    left: var(--sm-padding-x);
  }
}

.right {
  position: absolute;
  bottom: var(--sm-padding-x);
  right: var(--sm-padding-x);
}

.centerWithActions {
  @include mq($xsmall-only) {
    justify-content: flex-end;
  }
}

.button {
  &:focus {
    outline: none !important;
  }

  span:first-child {
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
  }
}

.btn {
  span {
    border: none;
    box-shadow: none;
    background-color: transparent !important;
    color: var(--color-white) !important;
    border: 1.5px solid var(--color-white) !important;
  }

  span:hover {
    border: 1.5px solid rgba(255,255,255, .5) !important;
  }
}
