@import "/imports/ui/stylesheets/variables/_all";

.actionsbar,
.center,
.right {
  display: flex;
  flex-direction: row;
}

.center,
.right {
  flex: 1;
  justify-content: center;
}

.left,
.center,
.right {
  > * {
    margin: 0 var(--sm-padding-x);

    @include mq($small-only) {
      margin: 0 var(--sm-padding-y);
    }
  }
}

.left {
  display: inherit;
  flex: 0;
  @include mq($small-only) {
    bottom: var(--sm-padding-x);
    left: var(--sm-padding-x);
    right: auto;

    [dir="rtl"] & {
      left: auto;
      right: var(--sm-padding-x);
    }
  }
}

.right {
  position: absolute;
  bottom: var(--sm-padding-x);
  right: var(--sm-padding-x);
  left: auto;

  [dir="rtl"] & {
    right: auto;
    left: var(--sm-padding-x);
  }
}

.centerWithActions {
  @include mq($xsmall-only) {
    justify-content: flex-end;
  }
}

.button {
  span:first-child {
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
  }
}

.btn {
  span {
    box-shadow: none;
    background-color: transparent !important;
    border-color: var(--color-white) !important;
  }
}
