<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- JDBC Database connection settings -->
        <!--        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>-->
        <!--        <property name="connection.url">jdbc:mysql://localhost:3306/bbb?useSSL=false&amp;serverTimezone=UTC</property>-->
        <property name="connection.url">jdbc:postgresql://localhost:5432/bbb</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>


        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">1</property>

        <!-- Select our SQL dialect -->
        <!--        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="dialect">org.hibernate.dialect.PostgreSQL92Dialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>

        <property name="hibernate.show_sql">false</property>
        <!-- format the sql nice -->
        <property name="hibernate.format_sql">false</property>
        <!-- show the hql as comment -->
        <property name="use_sql_comments">false</property>

    </session-factory>

</hibernate-configuration>