IMAGE_REPO=ghcr.io/bigbluebutton

IMAGE_APPS_AKKA_TAG=latest
IMAGE_WEB_TAG=latest
IMAGE_HTML5_CLIENT_TAG=latest
IMAGE_LEARNING_DASHBOARD_TAG=latest
IMAGE_GRAPHQL_ACTIONS_TAG=latest
IMAGE_GRAPHQL_MIDDLEWARE_TAG=latest
IMAGE_GRAPHQL_SERVER_TAG=latest
IMAGE_EXPORT_ANNOTATIONS_TAG=latest
IMAGE_ETHERPAD_TAG=latest
IMAGE_RECORD_AND_PLAYBACK_TAG=latest
IMAGE_NGINX_TAG=latest
IMAGE_WEBHOOKS_TAG=latest
IMAGE_WEBRTC_SFU_TAG=latest
IMAGE_PADS_TAG=latest
IMAGE_WEBRTC_RECORDER_TAG=latest

# Set your BBB Server URL
BBB_SERVER_URL=bbb.local

ENABLE_RECORDING=true
REMOVE_OLD_RECORDING=false
RECORDING_MAX_AGE_DAYS=14

# Create using: `openssl rand -hex 24`
SHARED_SECRET=
HASURA_GRAPHQL_ADMIN_SECRET=
POSTGRES_PASSWORD=
BBB_POSTGRES_HASURA_APP_PASSWORD=
BBB_POSTGRES_BBB_HASURA_PASSWORD=
BBB_POSTGRES_BBB_CORE_PASSWORD=

ETHERPAD_API_KEY=

# LiveKit configuration
# Generate your own with `docker run livekit/livekit-server generate-keys`
LIVEKIT_KEY=
LIVEKIT_SECRET=

# TURN server configuration
TURN_SECRET=
TURN_DOMAIN=
