IMAGE_REPO=ghcr.io/bigbluebutton

IMAGE_AKKA_BBB_APPS_TAG=latest
IMAGE_WEB_TAG=latest
IMAGE_HTML5_CLIENT_TAG=latest
IMAGE_LEARNING_DASHBOARD_TAG=latest
IMAGE_GRAPHQL_ACTIONS_TAG=latest
IMAGE_GRAPHQL_MIDDLEWARE_TAG=latest
IMAGE_GRAPHQL_SERVER_TAG=latest
IMAGE_EXPORT_ANNOTATIONS_TAG=latest
IMAGE_ETHERPAD_TAG=latest
IMAGE_RECORD_AND_PLAYBACK_TAG=latest
IMAGE_BBB_NGINX_TAG=latest
