.DS_Store
._.DS_Store*
.metadata/
record-and-playback/playback-client-js/testmeeting/
record-and-playback/playback-web/playback-web-0.1.war
record-and-playback/.project
**/target/*
**/.cache-main
**/.cache-tests
.vagrant/*
**/.settings/*
*/.gradle
bigbluebutton-web/.settings*
bigbluebutton-web/.classpath
bigbluebutton-web/.project
akka-bbb-apps/akka-bbb-apps*.log
bigbluebutton-web/target-eclipse*
record-and-playback/.loadpath
**/.idea/*
*.iml
*~
cache/*
artifacts/*
bbb-presentation-video.zip
bbb-presentation-video
bbb-core-api/gen
bbb-graphql-actions-adapter-server/
bigbluebutton-html5/public/locales/index.json
