.languageOverlay {
  li {
    box-sizing: unset;
    display: flex;
    justify-content: space-between;

    padding-left: 1em;
    padding-right: 1em;
    min-width: 8em;
    list-style: none;

    &:hover{
      color: var(--color-white);
    }
  }

  ul {
    padding: 5px;
    background-color: var(--color-off-white);
  }
}

.languageOption{
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary);
  }
}

.filteredLanguageOption {
  color: var(--color-gray);
  cursor: default;

  &:hover {
    background-color: var(--color-gray);
  }
}
