@import '../../stylesheets/variables/palette';

.flex-column {
  display: flex;
  flex-flow: column;
}

.zero-margin {
  margin: 0;
}

.header {
  @extend .flex-column;
  justify-content: center;
  min-height: 3rem;
  flex-grow: 1;
}

.headerTitle {
  font-size: 1rem;
  margin-left: 30px;
}

.content {
  @extend .flex-column;
  flex-grow: 9;
}

.unreadMessages {
  @extend .flex-column;
  justify-content: center;
}

.unreadMessagesText {
  @extend .flex-column;
  @extend .zero-margin;
  justify-content: center;
  color: $color-white;
  height: 1.3rem;
  padding: 0 8px;
  text-align: center;
  border-radius: 0.5rem/50%;
  font-size: 0.8rem;
  background-color: $color-danger;
}

.userList {
  @extend .flex-column;
  justify-content: flex-start;
  background-color: $color-white;
  color: $color-gray-dark;
  height: 100vh;
}

.lists {
  @extend .flex-column;
  @extend .zero-margin;
  padding: 0;
}

.participantsList,
.chatsList {
  @extend .lists;
}

.userListItem,
.chatListItem {
  padding: 5px;
  padding-left: 15px;
  padding-right: 10px;
  margin-left: 15px;
  margin-top: 10px;
  display: flex;
  flex-flow: row;
  cursor: pointer;
  transition: all 0.3s;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  &:hover,
  &:focus {
    background-color: darken($color-white, 7%);
  }

  &:first-child {
    margin-top: 0px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.chatThumbnail {
  @extend .flex-column;
  justify-content: center;
  flex-basis: 30px;
  height: 30px;
  font-size: 1.1rem;
}

.chatName {
  @extend .flex-column;
  flex-grow: 1;
  justify-content: center;
}

.chatNameMain {
  @extend .zero-margin;
  font-size: 0.9rem;
}

.thumbnail {
  @extend .flex-column;
  flex-basis: 2rem;
  height: 2rem;
  justify-content: center;
  font-size: 1.05rem;
  text-align: center;
  border-radius: 20px;
  border: 2px solid $color-gray-light;
  color: $color-gray-light;
}

.thumbnailContainer {
  @extend .flex-column;
  flex-basis: 2rem;
  height: 2rem;
  justify-content: center;
  border-radius: 20px;
}

.voiceUser{
  background-color: $color-success;
  color: $color-white;
  border: none;
}

.presenter {
  border-radius: 2px;
}

.moderator {
  border: none;
  color: $color-white;
  background-color: $color-primary;
}

.userName {
  @extend .flex-column;
  flex-grow: 1;
  margin-left: 15px;
  justify-content: center;
}

.userNameMain {
  font-size: 0.9rem;
  @extend .zero-margin;
}

.userNameSub {
  @extend .zero-margin;
  font-size: 0.8rem;
  font-style: italic;
  color: $color-gray-light;
}

.userIcons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: right;
  font-size: 1rem;
  flex-basis: 4rem;
  color: $color-gray-light;
}

.userIconsContainer {
  @extend .flex-column;
  text-align: center;
  flex-basis: 1rem;
  justify-content: center;
  transition: 0.3s all;
  &:hover,
  &:focus {
    color: $color-gray;
  }
}

.smallTitle {
  margin-bottom: 0;
  color: $color-text;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 10px 30px;
  margin-bottom: 10px;
}

.scrollable {
  overflow: auto;
}
