@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/whiteboard/whiteboard-toolbar/styles";

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.presentationArea {
  order: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  overflow: hidden;
  position: relative;
}

.whiteboardSizeAvailable {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.svgStyles {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  //always show an arrow by default
  cursor: default;

  //double click on the whiteboard shouldn't change the cursor
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.presentationContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
