@import "../../stylesheets/variables/_all";

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.presentationPaper {
  width: 100%;
  display: flex;
  flex: 1;
}

.presentationTransitions {
  width: 100%;
  flex: 1;
  display: flex;
}

.svgStyles {
  object-fit: contain;
  flex: 1;
}

.presentationContainer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-flow: column;
}

.presentationWrapper {
  order: 1;
  flex: 1;
  display: flex;
  position: relative;
}
