@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/whiteboard/whiteboard-toolbar/styles";

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.slideArea {
  flex: 1;
}

.presentationArea {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.slideArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.whiteboardSizeAvailable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.svgStyles {
  //always show an arrow by default
  cursor: default;

  //double click on the whiteboard shouldn't change the cursor
  user-select: none;
}

.presentationContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1;
}
