@import "/imports/ui/components/user-list/styles.scss";
@import "/imports/ui/stylesheets/mixins/_scrollable";
@import "/imports/ui/stylesheets/mixins/focus";

.content {
  @extend %flex-column;
  flex-grow: 1;
  overflow: hidden;
}

.scrollableList {
  @include elementFocus($list-item-bg-hover);
  @include scrollbox-vertical($user-list-bg);
}
