@import "/imports/ui/components/user-list/styles.scss";
@import "/imports/ui/stylesheets/mixins/_scrollable";
@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

.content {
  @extend %flex-column;
  flex-grow: 1;
  overflow: hidden;
}

.scrollableList {
  @include elementFocus($list-item-bg-hover);
  @include scrollbox-vertical($user-list-bg);

  &:active {
    box-shadow: none;
    border-radius: none;
  }
}

.list {
  margin-left: $md-padding-y;
}

.smallTitle {
  @extend .smallTitle;
}

.separator {
  margin: 1rem auto;
  width: 2.2rem;
  border: 0;
  border-top: 1px solid $color-gray-lighter;
}

.chatsList {
  @extend .lists;
  overflow: hidden;
  flex-shrink: 1;
}
