@import "/imports/ui/components/user-list/styles.scss";
@import "/imports/ui/stylesheets/mixins/_scrollable";
@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/mixins/_indicators";
@import "/imports/ui/stylesheets/variables/_all";

.content {
  @extend %flex-column;
  flex-grow: 1;
  overflow: hidden;
}

.container{
  display: flex;
  align-items: center;
  margin-bottom: var(--lg-padding-y);
  margin-top: var(--sm-padding-x);
}

.scrollableList {
  @include elementFocus(var(--list-item-bg-hover));
  @include scrollbox-vertical(var(--user-list-bg));
  @include highContrastOutline();

  &:focus-within,
  &:focus {
    outline-style: solid;
  }

  &:active {
    box-shadow: none;
    border-radius: none;
  }

  outline-width: 1px !important;
  outline-color: transparent !important;
}

.list {
  margin-left: var(--md-padding-y);
  margin-bottom: 1px;
}

.smallTitle {
  @extend .smallTitle;
  flex: 1;
  margin: 0;
}

.separator {
  margin: 1rem auto;
  width: 2.2rem;
  border: 0;
  border-top: 1px solid var(--color-gray-lighter);
}

.chatsList {
  @extend .lists;
  overflow: hidden;
  flex-shrink: 1;
}

.footer {
  @include mq($small-only) {
    margin: 4rem;
  }
}
