[Unit]
Description=BigBlueButton recording processing starter
Wants=redis-server.service
After=redis-server.service

[Service]
Type=simple
ExecStart=/usr/local/bigbluebutton/core/scripts/rap-starter.rb
WorkingDirectory=/usr/local/bigbluebutton/core/scripts
User=bigbluebutton
Slice=bbb_record_core.slice
Restart=on-failure

[Install]
WantedBy=multi-user.target
