[Unit]
Description=BigBlueButton recording & playback processing
Wants=bbb-rap-starter-worker.service bbb-rap-events-worker.service
StopWhenUnneeded=true
