[Unit]
Description=BigBlueButton recording & playback processing
Wants=bbb-rap-archive-worker.service bbb-rap-sanity-worker.service bbb-rap-process-worker.service bbb-rap-publish-worker.service bbb-rap-events-worker.service
StopWhenUnneeded=true
