[Unit]
Description=BigBlueButton recording processing starter

[Service]
Type=simple
ExecStart=bundle exec ruby scripts/rap-starter.rb
WorkingDirectory=/usr/local/bigbluebutton/core
User=bigbluebutton
Slice=bbb_record_core.slice
Restart=on-failure

[Install]
WantedBy=multi-user.target
