[Unit]
Description=BigBlueButton resque worker for recordings
Wants=redis-server.service
After=redis-server.service

[Service]
Type=simple
ExecStart=/usr/bin/bundle exec rake -f Rakefile resque:workers
WorkingDirectory=/usr/local/bigbluebutton/core/scripts
Environment=QUEUE=rap:archive,rap:publish,rap:process,rap:sanity,rap:captions,rap:events
Environment=COUNT=1
# Environment=VVERBOSE=1
User=bigbluebutton
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
