<?xml version="1.0" encoding="UTF-8"?>
<!--

BigBlueButton open source conferencing system - http://www.bigbluebutton.org/

Copyright (c) 2012 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.

-->
<configuration scan="true">
  <jmxConfigurator/>
  
  <appender name="BIGBLUEBUTTON" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>log/bigbluebutton.log</File>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>log/bigbluebutton.%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 14 days worth of history -->
      <MaxHistory>14</MaxHistory>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"} %-5level %logger{35} - %msg%n</pattern>
    </encoder>   
  </appender> 
  
	<root>
		<level value="DEBUG" />
		<appender-ref ref="BIGBLUEBUTTON" />
	</root>		
	
	<!-- LEVEL CAN NOT BE DEBUG -->
  <logger name="org.apache" level="INFO"></logger>
</configuration>
