@import '/imports/ui/stylesheets/mixins/focus';
@import '/imports/ui/stylesheets/variables/_all';
@import "/imports/ui/components/modal/simple/styles";

:root{
  --modal-margin: 3rem;
}

.title {
  color: var(--color-gray-dark);
  font-weight: 400;
  font-size: var(--lg-padding-x);
  margin: 0;
  margin-bottom: var(--jumbo-padding-y);
  text-align: center !important;
}

.form {
  display: flex;
  flex-flow: column;
}

.container{
    margin: var(--modal-margin);
    margin-top: var(--indicator-padding);
    margin-bottom: var(--lg-padding-x);
}

.subHeader{
  color: var(--color-gray-label);
  font-size: var(--font-size-base);
  margin-bottom: var(--jumbo-padding-y) !important;
}

.modal {
    @extend .modal;
    padding: var(--jumbo-padding-y);
 }

.overlay {
    @extend .overlay;
  }

.description{
    text-align: center;
    color: var(--color-gray);
}
.row {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: var(--md-padding-x);
}

.col {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: var(--md-padding-x);
}

.label {
  color: var(--color-gray-label);
  font-size: var(--font-size-small);
  margin-bottom: var(--lg-padding-y);
}

.formElement {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.pullContentRight {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
}

.title {
  font-weight: bold;
  text-align: center;
}

.bold{
    font-weight: bold;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    position: relative;
    background-color: var(--color-white);
  
    i {
      color: var(--color-gray-light);
    }
  
    &:focus,
    &:hover{
      background-color: var(--color-gray-lighter);
      i{
        color: var(--color-gray);
      }
    }
  }

  .header {
    margin: 0;
    padding: 0;
    border: none;
    line-height: var(--jumbo-padding-y);
  }