.manager
.scala_dependencies
.classpath
.gradle/
.project
app/build/classes/
app/build/libs/
applet/build/classes/
applet/build/libs/
bin/
common/build/classes/
common/build/ivy.xml
common/build/libs/
lib/
build
