/* BigBlueButton Font */

@namespace s "library://ns.adobe.com/flex/spark";

@font-face {
  src: url("../../shared/assets/fonts/BBBIcons/bbb-icons.ttf");
  fontFamily: BBBIcons;
  fontStyle: normal;
  fontWeight: normal;
  embedAsCFF: true;
}

@font-face {
  src: url("../../shared/assets/fonts/BBBIcons/bbb-icons.ttf");
  fontFamily: BBBIcons;
  fontStyle: normal;
  fontWeight: bold;
  embedAsCFF: true;
}

.icon {
  fontFamily: BBBIcons;
}

.icon-mute {
  icon: "\ue931";
}

.icon-unmute {
  icon: "\ue932";
}

.icon-file {
  icon: "\ue92f";
}

.icon-upload {
  icon: "\ue930";
}

.icon-audio-close {
  icon: "\ue901";
}

.icon-applause {
  icon: "\ue924";
}

.icon-thumbs-down {
  icon: "\ue92d";
}

.icon-thumbs-up {
  icon: "\ue92e";
}

.icon-fullscreen {
  icon: "\ue92b";
}

.icon-settings {
  icon: "\ue92c";
}

.icon-fit-to-screen {
  icon: "\ue92a";
}

.icon-line-tool {
  icon: "\ue91d";
}

.icon-circle-tool {
  icon: "\ue91e";
}

.icon-triangle-tool {
  icon: "\ue91f";
}

.icon-square-tool {
  icon: "\ue920";
}

.icon-text-tool {
  icon: "\ue921";
}

.icon-plus {
  icon: "\ue922";
}

.icon-fit-to-width {
  icon: "\ue923";
}

.icon-undo {
  icon: "\ue925";
}

.icon-pen-tool {
  icon: "\ue926";
}

.icon-lock {
  icon: "\ue927";
}

.icon-polling {
  icon: "\ue928";
}

.icon-desktop {
  icon: "\ue929";
}

.icon-logout {
  icon: "\ue900";
}

.icon-video {
  icon: "\u1f55";
}

.icon-more {
  icon: "\ue902";
}

.icon-promote {
  icon: "\ue903";
}

.icon-application {
  icon: "\ue904";
}

.icon-video-off {
  icon: "\ue905";
}

.icon-user {
  icon: "\ue906";
}

.icon-up-arrow {
  icon: "\ue907";
}

.icon-undecided {
  icon: "\ue908";
}

.icon-time {
  icon: "\ue909";
}

.icon-sad {
  icon: "\ue90a";
}

.icon-right-arrow {
  icon: "\ue90b";
}

.icon-presentation {
  icon: "\ue90c";
}

.icon-listen {
  icon: "\ue90d";
}

.icon-left-arrow {
  icon: "\ue90e";
}

.icon-happy {
  icon: "\ue90f";
}

.icon-hand {
  icon: "\ue910";
}

.icon-group-chat {
  icon: "\ue911";
}

.icon-confused {
  icon: "\ue912";
}

.icon-close {
  icon: "\ue913";
}

.icon-clear-status {
  icon: "\ue914";
}

.icon-circle {
  icon: "\ue915";
}

.icon-circle-minus {
  icon: "\ue916";
}

.icon-circle-close {
  icon: "\ue917";
}

.icon-circle-add {
  icon: "\ue918";
}

.icon-check {
  icon: "\ue919";
}

.icon-chat {
  icon: "\ue91a";
}

.icon-audio {
  icon: "\ue91b";
}

.icon-audio-off {
  icon: "\ue91c";
}

/* Aliases for emoji status */

.icon-away {
  icon: "\ue909";
}

.icon-raiseHand {
  icon: "\ue910";
}

.icon-neutral {
  icon: "\ue908";
}