@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace views "org.bigbluebutton.lib.main.views.*";
@namespace users "org.bigbluebutton.lib.user.views.*";

views|TopToolbarBase {
	textAlign : center;
}

.echoTestLabel {
	textAlign : center;
}
