@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/focus";

$column-amount: 2;
$poll-blue: #1A73D4;

.hideBtn {
    position: relative;
    background-color: white;
    display: block;
    margin: 4px;
    margin-bottom: 2px;
    padding-left: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1rem;
  
    > i {
      color: black;
      text-align: left;
    }
  
    &:hover {
      background-color: #fff;
    }
  }

.customBtn,
.btn {
    width: 100%;
}

.btn {
    margin-top: $sm-padding-y;
    margin-bottom: $sm-padding-y;
}

.customInputWrapper {
    width: 100%;

    > input {
        width: 100%;
        margin-top: $sm-padding-y;
        margin-bottom: $sm-padding-y;
    }

    > input:first-child {
        margin-top: $md-padding-y;
    }

    > Button {
        width: 100%;
        margin-top: $sm-padding-y;
        margin-bottom: $sm-padding-y;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $md-padding-y;

    > a {
        text-decoration: none;
    }
}

.instructions {
    margin-top: $lg-padding-x;
    margin-bottom: $lg-padding-x;

    color: $color-text;
}

.grid {
    display: grid;
    grid-template-columns: repeat($column-amount, 1fr);

    > pollBtn:nth-child(odd) {
        grid-column: 1;
    }

    > pollBtn:nth-child(even) {
        grid-column: $column-amount;
    }
}

.pollBtn:nth-child(even) {
    margin-left: $sm-padding-y;
}

.pollBtn:nth-child(odd) {
    margin-right: $sm-padding-y;
}

.customBtn:hover,
.pollBtn:hover {
    box-shadow: 0 0 0 1px $poll-blue;
    background-color: $color-white;
    color: $poll-blue;

    > span {
        color: $poll-blue;
        opacity: 1;
    }
}

.customBtn,
.pollBtn {
    margin-top: $sm-padding-y;
    margin-bottom: $sm-padding-y;
    background-color: $color-white;
    box-shadow: 0 0 0 1px $color-gray-light;
    color: $color-gray-light;

    > span {
        color: $color-gray-light;
    }

    > span:hover {
        color: $poll-blue;
        opacity: 1;
    }
}

.customBtn:active,
.pollBtn:active {
    &:focus {
        box-shadow: 0 0 0 1px $poll-blue;
    }

    background-color: $color-white;
    box-shadow: 0 0 0 1px $poll-blue;

    > span {
        color: $poll-blue;
    }
}

.customBtn:focus,
.pollBtn:focus {
    background-color: $color-white;
    box-shadow: 0 0 0 1px $poll-blue;

    > span {
        color: $poll-blue;
    }
}

.input {
    @include inputFocus($color-blue-light);

    outline: 0;
    margin: 0;
    color: $color-text;
    background: $color-white;
    font-size: $font-size-small;
    border: 1px solid $color-gray-lighter;
    border-radius: $border-radius;
    padding: $sm-padding-y * 1 $sm-padding-x * 0.25;
    padding-left: $lg-padding-y;
}
