@import "../../../stylesheets/variables/_all";
@import "../../../stylesheets/variables/typography";
@import "../../../stylesheets/mixins/_indicators";

:root {
  --spoke-opacity: .5;
  --talker-margin-sm: .5rem;
  --talker-max-width: 10rem;
  --talker-font-weight: 400;
  --talker-border-radius: 2rem;
  --talker-height: 1.5rem;
  --max-speaker-height: 1.7rem;
  --bottom-offset: .25rem;
  --ltr-icon-offset: .375rem;
  --rtl-icon-offset: -.375rem;
}

.hidden {
  display: none;
}

.isTalkingWrapper,
.speaking,
.talker,
.spoke {
  display: flex;
  flex-direction: row;
}

.isTalkingWrapper {
  position: relative;
  margin-top: var(--talker-margin-sm);
  overflow: hidden;
}

.speaking {
  flex-wrap: wrap;
  max-height: var(--max-speaker-height);
}

.talker {
  @include highContrastOutline();
  color: white;
  font-weight: var(--talker-font-weight);
  border-radius: var(--talker-border-radius) var(--talker-border-radius);
  font-size: var(--font-size-base);
  margin-left: var(--border-radius);
  margin-right: var(--border-radius);
  height: var(--talker-height);
  box-shadow: none !important;
  
  i,
  span {
    position: relative;
    bottom: var(--bottom-offset);
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: var(--talker-max-width);
    height: 1rem;
    margin: 0 !important;

    [dir="rtl"]  & {
      direction:rtl;
    }
  }

  i {
    font-size: var(--font-size-small);
    width: 1rem;
    height: 1rem;
    background-color: var(--color-success);
    border-radius: 50%;
    position: relative;
    right: var(--ltr-icon-offset);

    [dir="rtl"]  & {
      right: var(--rtl-icon-offset);
    }
  }

  span:hover {
    opacity: 1;
  }
}

.spoke {
  opacity: var(--spoke-opacity);
 }

.muted {
  cursor: default;
  
  i {
    background-color: var(--color-danger);
  }
}
