<?xml version="1.0" ?>
<config>
    <version>0.4</version>
    <porttest host="192.168.0.103" application="oflaDemo"/>    
	<modules>
		<module name="VideoModule" url="VideoModule.swf" 
			uri="rtmp://192.168.0.103/oflaDemo"
			onUserJoinedEvent="START"
			onUserLogoutEvent="STOP"
		/>
		<module name="ChatModule" url="ChatModule.swf" 
			uri="rtmp://192.168.0.103/bigbluebutton" 
			loadNextModule="PresentationModule"	
			onUserJoinedEvent="START"
			onUserLogoutEvent="STOP"		 
		/>
		<module name="ViewersModule" url="ViewersModule.swf" 
			uri="rtmp://192.168.0.103/bigbluebutton" 
			host="http://192.168.0.103/bigbluebutton/conference-session/enter"
			onAppInitEvent="LOAD" loadNextModule="ChatModule"
			onAppStartEvent="START"
			onUserLogoutEvent="STOP"
		/>
		<module name="ListenersModule" url="ListenersModule.swf" 
			uri="rtmp://192.168.0.103/bigbluebutton" 
			recordingHost="http://192.168.0.103"
			loadNextModule="VideoModule"
			onUserJoinedEvent="START"
			onUserLogoutEvent="STOP"
		/>
		<module name="PresentationModule" url="PresentationModule.swf" 
			uri="rtmp://192.168.0.103/bigbluebutton" 
			host="http://192.168.0.103" 
			loadNextModule="ListenersModule"
			onUserJoinedEvent="START" 
			onUserLogoutEvent="STOP"
		/>
	</modules>
</config>
