<?xml version="1.0" ?>
<config>
    <version>0.4</version>
    <porttest host="192.168.0.124" application="oflaDemo"/>    
	<modules>
		<module name="VideoModule" url="VideoModule.swf" 
			uri="rtmp://192.168.0.124/oflaDemo"
			onUserJoinedEvent="START"
			onUserLogoutEvent="STOP"	
			loadNextModule="DeskShareModule"	
		/>
		<module name="ChatModule" url="ChatModule.swf" 
			uri="rtmp://192.168.0.124/bigbluebutton" 
			loadNextModule="PresentationModule"	
			onUserJoinedEvent="START"
			onUserLogoutEvent="STOP"		 
		/>
		<module name="ViewersModule" url="ViewersModule.swf" 
			uri="rtmp://192.168.0.124/bigbluebutton" 
			host="conf/join-mock.xml"
			onAppInitEvent="LOAD" loadNextModule="ChatModule"
			onAppStartEvent="START"
			onUserLogoutEvent="STOP"
		/>
		<module name="ListenersModule" url="ListenersModule.swf" 
			uri="rtmp://192.168.0.124/bigbluebutton" 
			recordingHost="http://192.168.0.124"
			loadNextModule="VideoModule"
			onUserJoinedEvent="START"
			onUserLogoutEvent="STOP"
		/>
		<module name="PresentationModule" url="PresentationModule.swf" 
			uri="rtmp://192.168.0.124/bigbluebutton" 
			host="http://192.168.0.124" 
			loadNextModule="ListenersModule"
			onUserJoinedEvent="START" 
			onUserLogoutEvent="STOP"
		/>
		
		<module name="DeskShareModule" url="DeskShareModule.swf" 
			uri="rtmp://192.168.0.124/deskShare" 
			onUserJoinedEvent="START" 
			onUserLogoutEvent="STOP"
		/>
		
		<!--module name="PhoneModule" url="PhoneModule.swf" 
			uri="rtmp://192.168.0.124/sip" 
			onUserJoinedEvent="START" 
			onUserLogoutEvent="STOP"
		/-->
	</modules>
</config>

