@import "../styles.scss";
@import "/imports/ui/stylesheets/variables/_all";

.chatListItem {
  @extend %list-item;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  color: var(--color-gray-dark);
  background-color: var(--color-off-white);
}

.chatListItemLink {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  padding-left: calc(var(--sm-padding-x) / 2);
  padding-right: var(--sm-padding-x);
  padding-top: var(--sm-padding-y);
  padding-bottom: var(--sm-padding-y);
  width: 100%;

  .chatListItem:first-child > & {
    padding-top: calc(var(--sm-padding-y) * 1.85);
    padding-bottom: calc(var(--sm-padding-y) * 1.85);
  }
}

.chatIcon {
  flex: 0 0 2.2rem;
}

.chatName {
  @extend %flex-column;
  @extend %text-elipsis;
  flex-grow: 1;
  justify-content: center;
}

.chatNameMain {
  @extend %no-margin;
  @extend %text-elipsis;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: var(--sm-padding-x);
  margin-right: var(--sm-padding-x);
  position: relative;
  top: var(--md-padding-y);
  padding: .5rem 0;
  margin-top: -.5rem;
}

.active {
  background-color: var(--list-item-bg-hover);
  box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border), inset 1px 0 0 1px var(--item-focus-border);
  outline: none;
}
