@import "../styles.scss";

.chatListItem {
  @extend %list-item;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
}

.chatListItemLink {
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  padding-left: $sm-padding-x / 2;
  padding-right: $sm-padding-x;
  padding-top: $sm-padding-y;
  padding-bottom: $sm-padding-y;
  width: 100%;

  .chatListItem:first-child > & {
    padding-top: $sm-padding-y * 1.85;
    padding-bottom: $sm-padding-y * 1.85;
  }
}

.chatIcon {
  flex: 0 0 2.2rem;
}

.chatName {
  @extend %flex-column;
  @extend %text-elipsis;
  flex-grow: 1;
  justify-content: center;
}

.chatNameMain {
  @extend %no-margin;
  @extend %text-elipsis;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: $sm-padding-x;
}

.active {
  background-color: $list-item-bg-hover;
}
