@import "/imports/ui/stylesheets/variables/_all";

.dropdown {
  position: static;
}

.dropdownContent {
  top: 4.8rem;
  margin-right: -0.2rem;
}

.optionsButton{
  display: block;
  margin-right: var(--sm-padding-y);

  span:first-child {
    width: 1.56rem;
    height: 1.56rem;
  }

  i {
    top: -.38em;
    left: -.44em;
    color: var(--color-gray-dark) !important;
    background-color: transparent !important;
  }

  &:hover,
  &:focus {
    > span:first-child {
      background-color: transparent !important;
    }
  }

}
