@import "/imports/ui/stylesheets/variables/_all";

:root{
  --icon-offset-left: -.5em;
  --icon-offset-top: -.4em;
  --dropdown-offset-top: 4.5rem;
  --dropdown-offset-right: -0.2rem;
}

.dropdown {
  position: static;
}

.dropdownContent {
  top: var(--dropdown-offset-top);
  margin-right: var(--dropdown-offset-right);
}

.optionsButton{
  display: block;
  margin-right: var(--sm-padding-y);

  span:first-child {
    width: var(--jumbo-padding-y);
    height: var(--jumbo-padding-y);
  }

  i {
    top: var(--icon-offset-top);
    left: var(--icon-offset-left);
    color: var(--color-gray-dark) !important;
    background-color: transparent !important;
  }

  &:hover,
  &:focus {
    > span:first-child {
      background-color: transparent !important;
    }
  }

}

