@import "../../../stylesheets/variables/_all";

.list {
  list-style: none;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  text-align: left;
  color: $color-gray-dark;
  padding: ($line-height-computed / 2);
  display: flex;
  flex-direction: column;
}


.separator {
  display: flex;
  flex: 1 1 100%;
  height: 1px;
  background-color: $color-gray-lighter;
  padding: 0;
  margin-left: -($line-height-computed / 2);
  margin-right: -($line-height-computed / 2);
  margin-top: $line-height-computed * .5;
  margin-bottom: $line-height-computed * .5;
}

.item {
  flex: 1 1 100%;
  padding: ($line-height-computed / 3) 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    color: $color-primary;

    .itemIcon,
    .itemLabel {
      color: inherit;
    }
  }
}

.itemIcon {
  margin-right: ($line-height-computed / 2);
  color: $color-text;
  flex: 0 0;
}

.itemLabel {
  color: $color-gray-dark;
  font-size: 90%;
  flex: 1;
  white-space: nowrap;
}
