@import "/imports/ui/stylesheets/variables/_all";

$more-icon-font-size: 12px;
$more-icon-line-height: 16px;

%list {
  list-style: none;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  text-align: left;
  color: $color-gray-dark;
  display: flex;

  @include mq($small-only) {
    font-size: $font-size-large * 1.1;
    padding: $line-height-computed;
  }
}

.verticalList {
  @extend %list;
  flex-direction: column;
}

.horizontalList {
  @extend %list;
  padding: 0;
  flex-direction: row;
  @include mq($small-only) {
    flex-direction: column;
    padding: $line-height-computed;
  }
}

.title {
  @extend %text-elipsis;
  color: $color-gray;
  font-weight: 600;
  width: 100%;
}

.separator {
  display: flex;
  flex: 1 1 100%;
  height: 1px;
  min-height: 1px;
  background-color: $color-gray-lighter;
  padding: 0;
  margin-top: $line-height-computed * .5;
  margin-bottom: $line-height-computed * .5;
}

.item {
  display: flex;
  flex: 1 1 100%;

  @include mq($small-only) {
    justify-content: center;
  }

  .verticalList & {
    padding: ($line-height-computed / 3) 0;

    @include mq($small-only) {
      padding: ($line-height-computed / 1.5) 0;
    }
  }

  .horizontalList & {
    padding: 0 ($line-height-computed / 3);

    @include mq($small-only) {
      padding: ($line-height-computed / 1.5) 0;
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    background-color: $color-primary;
    color: $color-white;

    .verticalList & {
      margin-left: -($line-height-computed / 2);
      margin-right: -($line-height-computed / 2);
      padding-left: ($line-height-computed / 2);
      padding-right: ($line-height-computed / 2);
    }

    .horizontalList & {
      margin-top: -($line-height-computed / 2);
      margin-bottom: -($line-height-computed / 2);
      padding-top: ($line-height-computed / 2);
      padding-bottom: ($line-height-computed / 2);

      @include mq($small-only) {
        margin: 0;
        padding: ($line-height-computed / 1.5) 0;
        margin-left: -($line-height-computed / 2);
        margin-right: -($line-height-computed / 2);
        padding-left: ($line-height-computed / 2);
        padding-right: ($line-height-computed / 2);
      }
    }

    @include mq($small-only) {
      border-radius: 0.2rem;
    }

    .moreIcon,
    .itemIcon,
    .itemLabel {
      color: inherit;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px $color-white, 0 0 2px 4px rgba($color-primary, .4);
  }
}

.moreIcon,
.itemIcon {
  margin-right: ($line-height-computed / 2);
  color: $color-text;
  flex: 0 0;
}

.moreIcon {
  margin-right: -$indicator-padding-left;
  margin-left: $sm-padding-x;
  font-size: $more-icon-font-size;
  line-height: $more-icon-line-height;
}

.itemLabel {
  @extend %text-elipsis;
  color: $color-gray-dark;
  font-size: 90%;
  flex: 1;
}
