@import "/imports/ui/stylesheets/variables/_all";

%list {
  list-style: none;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  text-align: left;
  color: $color-gray-dark;
  display: flex;

  @include mq($small-only) {
    font-size: $font-size-large * 1.1;
    padding: $line-height-computed;
  }
}

.verticalList {
  @extend %list;
  flex-direction: column;
}

.horizontalList {
  @extend %list;
  padding: 0;
  flex-direction: row;
  @include mq($small-only) {
    flex-direction: column;
    padding: $line-height-computed;
  }
}

.title {
  @extend %text-elipsis;
  color: $color-gray;
  font-weight: 600;
  width: 100%;
}

.separator {
  display: flex;
  flex: 1 1 100%;
  height: 1px;
  min-height: 1px;
  background-color: $color-gray-lighter;
  padding: 0;
  margin-top: $line-height-computed * .5;
  margin-bottom: $line-height-computed * .5;
}

.item {
  display: flex;
  flex: 1 1 100%;
  padding: ($line-height-computed / 3) 0;

  @include mq($small-only) {
    padding: ($line-height-computed / 1.5) 0;
    justify-content: center;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
    margin-left: -($line-height-computed / 2);
    margin-right: -($line-height-computed / 2);
    padding-left: ($line-height-computed / 2);
    padding-right: ($line-height-computed / 2);
    background-color: $color-primary;
    color: $color-white;

    @include mq($small-only) {
      border-radius: 0.2rem;
    }

    .itemIcon,
    .itemLabel {
      color: inherit;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px $color-white, 0 0 2px 4px rgba($color-primary, .4);
  }
}

.itemIcon {
  margin-right: ($line-height-computed / 2);
  color: $color-text;
  flex: 0 0;
}

.itemLabel {
  @extend %text-elipsis;
  color: $color-gray-dark;
  font-size: 90%;
  flex: 1;
}
