listening-port={{ .Env.PORT }}
tls-listening-port={{ .Env.PORT_TLS}}
min-port=49152
max-port=65535
fingerprint
lt-cred-mech
realm={{ .Env.SERVER_DOMAIN }}
cert={{ .Env.SSL_CERT_PATH }}
pkey={{ .Env.SSL_KEY_PATH }}
cipher-list="ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS:!AES256"
dh-file={{ .Env.SSL_DHPARAM_PATH }}
no-tlsv1
no-tlsv1_1
external-ip={{ .Env.EXTERNAL_IP }}

{{ if isTrue .Env.ENABLE_REST_API }}
use-auth-secret
static-auth-secret={{ .Env.SECRET }}
{{ else }}
user={{ .Env.LT_USER }}:{{ .Env.LT_SECRET }}
{{ end }}
