@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/variables/typography";

.wrapper {
  max-width: 15.3rem;
  height: 3.8rem;
  position: inherit;
  margin: 0.85rem;
  display: grid;
  grid-template-columns: 3.8rem 9rem 2.5rem;
  position: inherit;
  background-color: #F5F5F5;
  margin: 0.6rem;
}

.fileWrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 16.5rem;
  margin-top: calc(var(--line-height-computed) / 3);
  margin-bottom: 0;
 // max-width:16.5rem ;
  background-color: #ffffff;
  border-radius: 0 0.8rem 0.8rem 0.8rem;
}
  
  
  .senderFileWrapper {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  width: 16.5rem;
  margin-top: calc(var(--line-height-computed) / 3);
  margin-bottom: 0;
  background:linear-gradient(0deg, #BCD7EF, #BCD7EF);
  border-radius: 0.8rem 0 0.8rem 0.8rem;
}

.fileName {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  font-size: var(--font-size-12px);
  padding-top: 1.4rem;
  overflow: hidden;
}

.extensionBox {
  width: 3.2rem;
  height: 3.2rem;
  background-color: transparent;
  border-radius: 0.5rem;
  margin: 0.3rem 0 0 0.3rem;
  i {
    font-size: 3.2rem;
  }
  
  .extension {
    font-size: 2rem;
    flex: 1;
    align-items: center;
  }
}


.button {
  // span:first-child {
  //   box-shadow: none;
  //   border: 0.5px solid var(--color-gray);
  // }
  i {
    color: #109cf1;
  }
}

.text {
   margin: 0 0.6rem 0.6rem 0.6rem;
// overflow-x: inherit;
 flex-grow: 1;
 flex-direction: column;
// width: fit-content;
 word-wrap: break-word;
 max-width:16.3rem ;
}