@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/_scrollable";

.modal {
  @include scrollbox-vertical();

  max-width: 60vw;
  max-height: 100%;
  border-radius: var(--border-radius);
  background: #fff;
  overflow: auto;

  @include mq($small-only) {
    max-width: 95vw;
  }

  @include mq($medium-up) {
    max-width: 80vw;
  }
}

.overlay {
  z-index: 1000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.portal {
  overflow: hidden;
}
