@import "../../../stylesheets/variables/_all";
@import "../../../stylesheets/mixins/_scrollable";

.modal {
  @include scrollbox-vertical();

  max-width: 60vw;
  max-height: 100%;
  border-radius: $border-radius;
  background: #fff;
  overflow: auto;
  outline: none;

  @include mq($small-only) {
    max-width: 95vw;
  }

  @include mq($medium-up) {
    max-width: 80vw;
  }
}

.overlay {
  z-index: 1000;
  // background: transparentize($color-white, .35);
  background: #fff;
  // background: transparentize($color-gray-dark, .40);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.portal {}
