.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.urlinput{
  clear: unset;
  margin-bottom: 1rem;
  padding: 0;
  width: 20rem;
  height: 1.5rem;
  border: 0;
}

.responseShow {
  margin-top:2rem;
  background-color: antiquewhite;
  border: 1px solid black;
  height: 200px;
  width: 500px;
  overflow: auto;
  display: none;
  font-size: 0.8rem;
  color: black;
}

.buttonToClick {
  background-color: gray;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div {
  width: 100%;
}

textarea {
  height: 300px;
  width: 100%;
}

textarea.small {
  height: 150px;
}