@import "../../styles.scss";
@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/user-list/styles.scss";
@import "/imports/ui/stylesheets/variables/typography";

.smallTitle {
    @extend .smallTitle;
    margin-bottom: var(--lg-padding-y);
    margin-top: var(--sm-padding-x);
  }

.scrollableList {
    margin: 0 0 1px 0.45rem;

    [dir="rtl"] & {
        margin: 0 0.45rem 1px 0;
    }
}

.pollLink {
    @extend %list-item;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: var(--lg-padding-y);
    padding-bottom: var(--lg-padding-y);
    padding-left: var(--lg-padding-y);
    padding-right: 0;
    text-decoration: none;
    width: 100%;

    [dir="rtl"] & {
        padding-left: 0;
        padding-right: var(--lg-padding-y);
    }

    > i {
        display: flex;
        font-size: 175%;
        color: #ffffff;
        flex: 0 0 2.2rem;
    }

    > span {
        font-family: Avenir;
        font-size: var(--font-size-14);
        font-weight: 400;
        color: #ffffff;
        position: relative;
        flex-grow: 1;
        line-height: 2;
        text-align: left;
        padding: 0 0 0 var(--lg-padding-y);
        text-overflow: ellipsis;

        [dir="rtl"] & {
            text-align: right;
            padding: 0 var(--lg-padding-y) 0 0;
        }
    }
}
