       # Handle request to bbb-web running within Tomcat.  This is for
       # the BBB-API and Presentation.
       location /lti {
           proxy_pass         http://127.0.0.1:8181;
           proxy_redirect     default;
           proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
           proxy_set_header   X-Forwarded-Proto $scheme;

           # Allow 30M uploaded presentation document.
           client_max_body_size       30m;
           client_body_buffer_size    128k;

           proxy_connect_timeout      90;
           proxy_send_timeout         90;
           proxy_read_timeout         90;

           proxy_buffer_size          4k;
           proxy_buffers              4 32k;
           proxy_busy_buffers_size    64k;
           proxy_temp_file_write_size 64k;

           include    fastcgi_params;
       }

	   location /lti/assets/ {
	        proxy_pass         http://127.0.0.1:8181/assets/;
			proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;

			# Workaround IE refusal to set cookies in iframe
		        add_header P3P 'CP="No P3P policy available"';

			# Allow 30M uploaded presentation document.
		        client_max_body_size       30m;
			client_body_buffer_size    128k;

			proxy_connect_timeout      90;
			proxy_send_timeout         90;
			proxy_read_timeout         90;

			proxy_buffer_size          4k;
			proxy_buffers              4 32k;
			proxy_busy_buffers_size    64k;
			proxy_temp_file_write_size 64k;

			include    fastcgi_params;

			proxy_request_buffering off;
		}