.apexcharts-svg{
    height:400px !important;
}
.apexcharts-canvas{
    height: 400px !important;
}
foreignObject{
    height: 400px !important;
} 
.apexcharts-legend{
    position: relative ;
    margin-top: 280px ;
}
.apexcharts-title-text [dir="rtl"]{
    display: block;
    transform: translateX(100px);
}