.languageContainer{
  background: #E8ECF0;
  border: 1px solid #8B9AA8;
  box-sizing: border-box;
  border-radius: 3px;
  width: 95%;
  position: relative;
  margin-bottom: var(--md-padding-y);
  p{
    text-align: center;
  }
}

.deleteButton{
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  cursor: pointer;
}
