@import "../../../stylesheets/variables/_all";
// Add by Aman
@import "../../../stylesheets/variables/palette.scss";
// End

.contentRatio {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: calc(100% * 9 / 16);
}

.contentWrapper {
  flex-basis: 90%;

  @include mq(var(--large-up)) {
    flex-basis: 90%;
  }
}

.content {
  height: 100%;
  width: 100%;
}

.defaultContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: var(--line-height-computed);
  // Edit by Aman
  // border: 0.25rem dashed;
  // border-radius: 1.5rem;
  // End
  color: rgba(255, 255, 255, .5);
  text-align: center;
  overflow: auto;
}

.hideContent {
  visibility: hidden;
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;

  :global(.animationsEnabled) & {
    transition: opacity 700ms ease-in;
  }
}

.nameInitialWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
  p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    background-color: #CA2C2C;
    color: var(--color-white);
    font-size: 5rem;
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
    border-radius: 50%;
  }
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(202, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}
