
<div class="navbar-btngroup-left">
  <button id="users-btn" class="navbar-btn">
    <i class="icon-group"></i>
  </button>
  <button id="chat-btn" class="navbar-btn">
    <i class="icon-comment-alt"></i>
    <div id="chat-notifications" class="notification">12</div>
  </button>
  <button id="video-btn" class="navbar-btn">
    <i class="icon-facetime-video"></i>
  </button>
  <button id="microphone-btn" class="navbar-btn">
     <i class="icon-microphone"></i>
  </button>   
 </div>
<div class="navbar-btngroup-right">
  <button id="setting-btn" class="navbar-btn">
     <i class="icon-cog"></i>
  </button>
  <button id="logout-btn" class="navbar-btn" >
    <i class="icon-signout"></i> 
  </button> 
  <button id="toggle-menu-btn" class="navbar-btn">
    <i class="icon-chevron-sign-up"></i>
  </button> 
</div>

