
<div class="navbar-btngroup-left">

  <button id="users-btn" class="navbar-btn">
    <i class="icon-group icon"></i>
  </button>
  
  <button id="chat-btn" class="navbar-btn">
    <i class="icon-comment-alt icon"></i>
    <div id="chat-notifications" class="notification">12</div>
  </button>
  
  <button id="video-btn" class="navbar-btn">
    <i class="icon-facetime-video icon "></i>
  </button>
  
  <button id="microphone-btn" class="navbar-btn">
     <i class="icon-microphone icon"></i>
  </button>   
 </div>


<div class="navbar-btngroup-right">
  
  <button id="setting-btn" class="navbar-btn">
     <i class="icon-cog icon "></i>
  </button>
 
 <button id="logout-btn" class="navbar-btn" >
    <i class="icon-signout icon"></i> 
  </button> 
  
  <button id="toggle-menu-btn" class="navbar-btn">
    <i class="icon-chevron-sign-up icon"></i>
  </button> 
</div>

