<div id="chatbox-head"><h3>Chat</h3></div>
<div id="chat-options-bar">   
    <div id="generalbutton">
    <button id="publicChat">General</button>
    <div id="chatButtonWrapper">
    </div>
    <button  id="privateChat"><i  class="icon-plus"></i></button>
    <!-- <i class="icon-angle-down" id="prv"></i> -->
    </div>
    <!-- <i class="icon-angle-up" id="nxt"></i> -->
</div>
<div id="chat-messages">
  <p>
    You are now connected to MeetingID
    <strong><%= auth.get('meetingID') %></strong>
  </p>
</div>
<div id="chat-entry">
  <textarea id="chat-input-box" maxlength="140" placeholder="Enter message"></textarea>
  <button id="chat-send">Post</button>
</div>
<div id="all-users-list"></div>


