<div class="navbar-btngroup">
  <button id="prev-slide-btn" class="navbar-btn">
    <i class="icon-arrow-left"></i> Previous
  </button>
  <button id="next-slide-btn" class="navbar-btn">
    <i class="icon-arrow-right"></i> Next
  </button>
  <button id="tool-pan-btn" class="navbar-btn">
    <i class="icon-move"></i> Pan/Zoom
  </button>
  <button id="tool-line-btn" class="navbar-btn">
    <i class="icon-pencil"></i> Line
  </button>
  <button id="tool-rect-btn" class="navbar-btn">
    Rectangle
  </button>
  <button id="tool-ellipse-btn" class="navbar-btn">
    Ellipse
  </button>
</div>
<div class="navbar-btngroup pull-right">
  <button id="users-btn" class="navbar-btn">
    <i class="icon-group"></i>Users
  </button>
  <button id="video-btn" class="navbar-btn">
    <i class="icon-facetime-video"></i>Video
  </button>
  <button id="chat-btn" class="navbar-btn">
    <i class="icon-signout"></i>
    Chat
    <div id="chat-notifications" class="notification">12</div>
  </button>
  <button id="logout-btn" class="navbar-btn">
    <i class="icon-signout"></i> Logout
  </button>
</div>
