<!-- TODO: Copying from the old layout, but can be improved -->
<div id="layout">

  <div id="presentation">
    <div id="slide-controls" style="clear:left">
      <canvas id="colour-view" width="12" height="12"></canvas>
      <div id="colour-picker">
        <input id="colour-text" maxlength="7" type="text">
      </div>
      <canvas id="thickness-view" width="20" height="20"></canvas>
      <button id="slide-clean-btn">Clean</button>
      <button id="slide-text-btn">Text</button>
      <select>
        <option value="14">14</option>
      </select>
      <button id="slide-undo-btn">Undo</button>
      <button id="slide-fit-to-page-btn">Fit to Page</button>
      <button id="slide-fit-to-width-btn">Fit to Width</button>
      <div id="slide-upload-controls">
        <p>Upload custom slides
          <form method="post" action="/chat" enctype="multipart/form-data" id="slide-upload-form">
            <input type="file" name="image" id="slide-upload-file">
          </form>
          <span id="slide-upload-status"></span>
        </p>
      </div>
    <textarea autofocus="autofocus" id="slide-current-text-area"
              class="textinput" style="visibility:hidden;"></textarea>
    </div>
    <div id="slide"></div>
  </div>

  <div id="users">
    <h3>Users</h3>
    <div id="current_users"></div>
    <input id="switch-presenter" type="button" value="Switch presenter">
  </div>

  <div id="chat">
    <h3>Chat</h3>
    <div id="chat-messages">
      <span>
        You are now connected to MeetingID
        <strong><%= auth.get('meetingID') %></strong>
      </span>
    </div>
    <div id="chat-entry">
      <textarea id="chat-input-box" maxlength="140" placeholder="Enter a chat message."></textarea>
      <button id="chat-send">Post</button>
    </div>
  </div>

  <div id="navbar">
    <div class="navbar-btngroup">
      <button id="prev-slide-btn" class="navbar-btn">
        <i class="icon-arrow-left"></i> Previous
      </button>
      <button id="next-slide-btn" class="navbar-btn">
        <i class="icon-arrow-right"></i> Next
      </button>
      <button id="tool-pan-btn" class="navbar-btn">
        <i class="icon-move"></i> Pan/Zoom
      </button>
      <button id="tool-line-btn" class="navbar-btn">
        <i class="icon-pencil"></i> Line
      </button>
      <button id="tool-rect-btn" class="navbar-btn">
        Rectangle
      </button>
      <button id="tool-ellipse-btn" class="navbar-btn">
        Ellipse
      </button>
    </div>
    <div class="navbar-btngroup pull-right">
      <button id="users-btn" class="navbar-btn">
        <i class="icon-group"></i>Users
      </button>
      <button id="video-btn" class="navbar-btn">
        <i class="icon-facetime-video"></i>Video
      </button>
      <button id="chat-btn" class="navbar-btn">
        <i class="icon-signout"></i>
        Chat
        <div id="chat-notifications" class="notification">12</div>
      </button>
      <button id="logout-btn" class="navbar-btn">
        <i class="icon-signout"></i> Logout
      </button>
    </div>
  </div>

</div>
