%h1 Enter Metadata Information
%form{:action => "/metadata/process", :method => "post"} 
	%p
		%label{:for => "txttitle"} Title:
		%input{:name => "txttitle" , :type => "text", :id => "txttitle"}
	%p
		%label{:for => "txtseries"} Series:
		%input{:name => "txtseries" , :type => "text", :id => "txtseries"}
	%p
		%label{:for => "txtinstructor"} Instructor:
		%input{:name => "txtinstructor" , :type => "text", :id => "txtinstructor"}
	%p
		%input{:type => "submit", :value=>"Submit Metadata"}
