<plugin name='jsecurity' version='0.3'>
  <author>Peter Ledbrook</author>
  <authorEmail>peter@cacoethes.co.uk</authorEmail>
  <title>Security support via the JSecurity framework.</title>
  <description>Adds a security layer to your Grails application, allowing you to
protect pages based on a user's roles and/or permissions.
</description>
  <documentation>http://grails.codehaus.org/JSecurity+Plugin</documentation>
  <resources>
    <resource>JsecurityFilters</resource>
    <resource>JsecTagLib</resource>
    <resource>JsecAuthBase</resource>
  </resources>
</plugin>