@import '../../stylesheets/variables/palette';

/* Variables
 * ==========
 */
$user-avatar-border: $color-gray-light;
$user-avatar-text: $user-avatar-border;

$voice-user-bg: $color-success;
$voice-user-text: $color-gray-light;

$moderator-text: $color-white;
$moderator-bg: $color-primary;

.userAvatar {
  // @extend .flex-column;
  flex-basis: 2.2rem;
  height: 2.2rem;
  flex-shrink: 0;
  line-height: 2.2rem;
  justify-content: center;
  position: relative;
  display: flex;
  flex-flow: column;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 50%;
  color: $color-white;
  text-transform: capitalize;
}

.userStatus {
  position: absolute;
  background-color: $color-white;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  top: 1.5rem;
  left: 1.5rem;
  -webkit-box-shadow: 0 0 0 1px $color-white;
  -moz-box-shadow: 0 0 0 1px $color-white;
  box-shadow: 0 0 0 1px $color-white;
  background-color: $color-success;
  transition: all 0.3s;
}

.moderator {
  border: 1px solid $color-gray-light;
  border-radius: 2px;
  background-color: $color-white;
}

.presenter {
  background-color: $moderator-bg;
  border-radius: 2px;
  border: none;
}

.guest {
  background-color: $color-white;
  border: 1px solid $color-gray-light;
}
