      <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="BigBlueButton" name="BigBlueButton" align="middle">
        <param name="movie" value="http://192.168.0.249/client/BigBlueButton.swf?v=VERSION" />
        <param name="quality" value="high" />
        <param name="allowfullscreen" value="true" />
        <param name="bgcolor" value="#869ca7" />
        <param name="wmode" value="window" />
        <param name="allowScriptAccess" value="always" />
        <!--[if !IE]>-->
          <object type="application/x-shockwave-flash" data="http://192.168.0.249/client/BigBlueButton.swf?v=VERSION" width="100%" height="90%" align="middle">
            <param name="quality" value="high" />
            <param name="bgcolor" value="#869ca7" />
                <param name="allowScriptAccess" value="always" />
        <!--<![endif]-->
            <a href="http://www.adobe.com/go/getflashplayer">
              <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
            </a>
        <!--[if !IE]>-->
          </object>
        <!--<![endif]-->
      </object>