# meeting credentials
BBB_SERVER_URL=""
BBB_SHARED_SECRET=""

# browserless credentials
BROWSERLESS_ENABLED=false               # true/false
BROWSERLESS_URL=                        # ip:port
BROWSERLESS_TOKEN=                      # token

# collecting metrics
BBB_COLLECT_METRICS=true                # (true/false): true to collect metrics
TEST_FOLDER=data                        # the metrics output folder
GENERATE_EVIDENCES=true                 # (true/false): true to generate evidences
DEBUG=true                              # (true/false): true to enable console debugging

# webcams test
LOOP_INTERVAL=1000                      # time to loop in the webcams test in milliseconds
CAMERA_SHARE_FAILED_WAIT_TIME=15000     # this is set by default in the BBB server

# audio test
IS_AUDIO_TEST=false                     # (true/false): true if the test will require enabling audio

USER_LIST_VLIST_BOTS_TALKING=1
USER_LIST_VLIST_BOTS_LISTENING=100

TEST_DURATION_TIME=3600000              # Basic test duration time
GENERATE_EVIDENCES=true                 # (true/false): true means it will generate sceenshots during the test