:root {
  --overlay-width: 10vw;
  --overlay-min-width: 175px;
  --overlay-max-width: 10vw;
  --overlay-ratio: calc(4 / 3);
}

@import "../../stylesheets/variables/_all";

.container {
  order: 1;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.content {
  display: flex;
  align-self: stretch;
  flex: 3;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  position: relative;
  order: 2;
}

.overlay {
  flex: 1;
  display: flex;
  width: 100%;
  border: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 2;
  align-items: center;
  // max-height: 10vh;
}

.overlayRelative{
  position: relative;
}

.overlayAbsolute{
  position: absolute;
  height: calc(var(--overlay-width) / var(--overlay-ratio));
  min-height: calc(var(--overlay-min-width) / var(--overlay-ratio));
}

.overlayToTop {
  order: 3;
}

.overlayToBottom {
  order: 1;
}

.hideOverlay {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.floatingOverlay {
  margin: 10px;

  @include mq($medium-up) {
    z-index: 999;
    position: absolute;
    bottom: 0;
    right: 0;
    width: var(--overlay-width);
    min-width: var(--overlay-min-width);
    max-width: var(--overlay-max-width);
    height: calc(var(--overlay-width) / var(--overlay-ratio));
    min-height: calc(var(--overlay-min-width) / var(--overlay-ratio));
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.dragging {
  opacity: .5;
}

.dropZoneTop,
.dropZoneBottom {
  border: 1px dashed var(--color-gray-light);
  position: absolute;
  width: 100%;
  z-index: 9999;
  cursor: grabbing;
}

.dropZoneTop {
  top: 0;
}

.dropZoneBottom {
  bottom: 0;
}

.dropZoneBg {
  position: absolute;
  z-index: 99;
  width: 100%;
  background-color: rgba(255, 255, 255, .3);
}