@import "../../stylesheets/variables/_all";
@import "../../stylesheets/variables/video";

.cursorGrab{
  cursor: grab;
}

.cursorGrabbing{
  cursor: grabbing;
}

.container {
  order: 1;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.content {
  display: flex;
  align-self: stretch;
  flex: 3;
  align-items: center;
  justify-content: center;
  overflow: auto;
  width: 100%;
  position: relative;
  order: 2;
}

%overlay {
  display: flex;
  border: 0;
  z-index: 2;
  align-items: center;
  max-height: var(--video-height);
  min-height: var(--video-height);
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.overlay {
  @extend %overlay;
}

.overlayToTop {
  order: 3;
}

.overlayToBottom {
  order: 1;
}

.hideOverlay {
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.floatingOverlay {
  @extend %overlay;
  top: 0;
  left: 0;

  @include mq($medium-up) {
    z-index: 999;
    position: absolute;
    min-width: calc(var(--video-height) * var(--video-ratio));
    min-height: var(--video-height);
  }
}

.fit {
  width: fit-content;
  height: fit-content;
  max-width: fit-content;
}

.full {
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dragging {
  opacity: .5;
}

.dropZoneTop,
.dropZoneBottom {
  border: 1px dashed var(--color-gray-light);
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.dropZoneBgTop,
.dropZoneBgBottom {
  z-index: 99;
  width: 100%;
  height: 100%;
}

.dropZoneTop,
.dropZoneBgTop {
  top: 0;
}

.dropZoneBottom,
.dropZoneBgBottom {
  bottom: 0;
}

.dropZoneTop:hover .dropZoneBgTop,
.dropZoneBottom:hover .dropZoneBgBottom {
  background-color: rgba(255, 255, 255, .3);
}