// .webcam {
//   position: relative;
//
//   &:before {
//	 display: block;
//	 content: "";
//	 width: 100%;
//	 padding-top: (var(--height) / var(--width)) * 100%;
//   }
//
//   > .content {
//	 position: absolute;
//	 top: 0;
//	 left: 0;
//	 right: 0;
//	 bottom: 0;
//   }
// }

:root {
  --color-transparent: #ff000000;
}

.fullscreenButton {
  position: absolute;
  right: 0;
  bottom: 0;

  padding: 0;

  background-color: var(--color-transparent);

  cursor: pointer;

  border: none;
}

.button {

  span, span:active, span:hover {
    background-color: var(--color-transparent);

    border: none;

    i {
      border: none;
      background-color: var(--color-transparent);
      font-weight: bold;
    }
  }
}

.dark .button span i {
  color: var(--color-black);
}
