// .webcam {
//   position: relative;
//
//   &:before {
//	 display: block;
//	 content: "";
//	 width: 100%;
//	 padding-top: (var(--height) / var(--width)) * 100%;
//   }
//
//   > .content {
//	 position: absolute;
//	 top: 0;
//	 left: 0;
//	 right: 0;
//	 bottom: 0;
//   }
// }

.fullscreenButton {
  position: absolute;
  right: 0;
  bottom: 0;
  // z-index: 2;

  padding: 0;

  background-color: #ff000000;
}

.button {

  span, span:active, span:hover {
    background-color: #ff000000;

    border: 0;

    i {
      font-weight: bold;
    }
  }
}
