# Local configuration file

config = {}

# Shared secret of your BigBlueButton server.
config.bbb = {}
config.bbb.sharedSecret = "33e06642a13942004fd83b3ba6e4104a"

# The port in which the API server will run.
config.server = {}
config.server.port = 3005

# Callbacks will be triggered for all the events in this list and only for these events.
# You only need to specify it if you want events that are not used by default or
# if you want to restrict the events used. See `config.coffee` for the default list.
#
# config.hooks = {}
# config.hooks.events = [
#   { channel: "bigbluebutton:from-bbb-apps:meeting", name: "meeting_created_message" },
#   { channel: "bigbluebutton:from-bbb-apps:meeting", name: "meeting_destroyed_event" },
#   { channel: "bigbluebutton:from-bbb-apps:users", name: "user_joined_message" },
#   { channel: "bigbluebutton:from-bbb-apps:users", name: "user_left_message" }
# ]

module.exports = config
