Application {
  backgroundColor: #ffffff;
}

ApplicationControlBar {
  highlightAlphas: 0.1, 0;
  fillAlphas: 0, 0;
  fillColors: #32343b, #32343b;
  backgroundColor: #42444c;
  backgroundAlpha: 1;
  cornerRadius: 0;
  dropShadowEnabled: true;
  shadowDistance: 1;
  shadowDirection: center;
  dropShadowColor: #000000;
}

Panel {
  borderColor: #dfdfdf;
  borderAlpha: 1;
  shadowDistance: 1;
  dropShadowColor: #666666;
  titleStyleName: "mypanelTitle";
}

ToolTip {
	borderSkin      : ClassReference("org.bigbluebutton.skins.ToolTipSkin");
	backgroundAlpha : 0.9;
	cornerRadius    : 3;
}

.mypanelTitle {
  color: #444444;
  fontFamily: Arial;
  fontSize: 12;
}

.whiteboardToolbarStyle {
  backgroundColor: #CCCCCC;
  cornerRadius: 5;
  borderStyle: solid;
  borderThickness: 1;
  paddingBottom: 3;
  paddingTop: 3;
  paddingLeft: 3;
  paddingRight: 3;
}

.meetingNameLabelStyle {
  fontWeight: bold;
  fontSize: 15;
  fontFamily: Arial;
  color: #e1e2e5;
}

.recordingLabelStyle {
  fontWeight: bold;
  fontSize: 15;
  fontFamily: Arial;
  color: #e1e2e5;
}

Button, .logoutButtonStyle, .chatSendButtonStyle, .helpLinkButtonStyle, .cameraDisplaySettingsWindowChangeResolutionCombo, .languageSelectorStyle, .testJavaLinkButtonStyle, .recordButtonStyleNormal, .recordButtonStyleStart, .recordButtonStyleStop, .micSettingsWindowHelpButtonStyle {
  textIndent: 0;
  paddingLeft: 10;
  paddingRight: 10;
  paddingTop: 5;
  paddingBottom: 5;
  highlightAlphas: 0.4, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;
  themeColor: haloBlue;
  fontFamily: Arial;
  fontSize: 12;
}

.quickWindowLinkStyle {
  paddingLeft: 0;
  paddingRight: 0;
  textDecoration: underline;
  rollOverColor: #cccccc;
  selectionColor: #999999;
  color: #ffffff;
  textRollOverColor: #504f3d;
  textSelectedColor: #504f3d;
}

.helpLinkButtonStyle {
  paddingLeft: 4;
  paddingRight: 4;
  paddingTop: 2;
  paddingBottom: 2;
  fontSize: 16;
  rollOverColor: #cccccc;
  selectionColor: #999999;
  color: #ffffff;
  textRollOverColor: #504f3d;
  textSelectedColor: #504f3d;
  fontWeight: bold;
}

.testJavaLinkButtonStyle {
  paddingLeft: 4;
  paddingRight: 4;
  paddingTop: 2;
  paddingBottom: 2;
  fontSize: 14;
  rollOverColor: #cccccc;
  selectionColor: #cccccc;
  color: #e3e3e3;
  textRollOverColor: #504f46;
  textSelectedColor: #504f46;
  fontWeight: bold;
  textDecoration: none;
}

.javaVersionRequiredLabelStyle {
  fontSize: 12;
  color: #000000;
  fontFamily: Arial;
}

.logoutButtonStyle {
  paddingLeft: 0;
  paddingRight: 0;
  icon: Embed('assets/images/logout.png');
}

DataGrid {
  backgroundColor: #e1e2e5;
  rollOverColor: #f3f3f3;
  textRollOverColor: #5e5f63;
  selectionColor: #e1e2e5;
  color: #5e5f63;
  textSelectedColor: #5e5f63;
  dropShadowEnabled: false;
  fontFamily: arial;
  fontSize: 11;
  headerStyleName: "mydataGridHeaderStyle";
}

.mydataGridHeaderStyle {
  color: #5e5f63;
  fontFamily: arial;
  fontSize: 12;
}


.whiteboardUndoButtonStyle, .whiteboardCircleButtonStyle, .whiteboardClearButtonStyle,
.whiteboardTriangleButtonStyle, .whiteboardTextButtonStyle, .whiteboardRectangleButtonStyle,
.whiteboardPanZoomButtonStyle, .whiteboardLineButtonStyle, .whiteboardScribbleButtonStyle
{
  textIndent: 0;
  paddingLeft: 0;
  paddingRight: 0;
  paddingTop: 5;
  paddingBottom: 5;
  highlightAlphas: 0.4, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;
  themeColor: haloBlue;
  fontFamily: Arial;
  fontSize: 12;
}

.whiteboardUndoButtonStyle 
{
  icon: Embed('assets/images/undo.png');
}

.whiteboardCircleButtonStyle {
  icon: Embed('assets/images/ellipse.png');  
}

.whiteboardClearButtonStyle {
  icon: Embed('assets/images/delete.png');    
}

.whiteboardScribbleButtonStyle{
  icon: Embed('assets/images/pencil.png');  
}

.whiteboardLineButtonStyle {
  icon: Embed('assets/images/line.png');    
}

.whiteboardPanZoomButtonStyle {
  icon: Embed('assets/images/hand.png');   
}

.whiteboardRectangleButtonStyle {
  icon: Embed('assets/images/square.png');   
}

.whiteboardTextButtonStyle {
  icon: Embed('assets/images/text.png');   
}

.whiteboardTriangleButtonStyle {
  icon: Embed('assets/images/triangle.png');    
}

.voiceConfDefaultButtonStyle {
  icon: Embed('assets/images/headset.png');    
}

.voiceConfActiveButtonStyle {
  icon: Embed('assets/images/headset_open.png');    
}

.voiceConfInactiveButtonStyle {
  icon: Embed('assets/images/headset_close.png');    
}

.webcamDefaultButtonStyle {
  icon: Embed('assets/images/webcam.png');    
}

.webcamOnButtonStyle {
  icon: Embed('assets/images/webcam_on.png');    
}

.webcamOffButtonStyle {
  icon: Embed('assets/images/webcam_close.png');    
}

.deskshareDefaultButtonStyle {
  icon: Embed('assets/images/deskshare_icon.png');    
}

.deskshareOnButtonStyle {
  icon: Embed('assets/images/deskshare_on.png');    
}

.deskshareOffButtonStyle {
  icon: Embed('assets/images/deskshare_close.png');    
}


.presentationUploadButtonStyle, .presentationBackButtonStyle, .presentationBackButtonDisabledStyle, .presentationForwardButtonStyle, .presentationForwardButtonDisabledStyle,
.presentationFitToWidthButtonStyle, .presentationFitToPageButtonStyle 
{
  textIndent: 0;
  paddingLeft: 10;
  paddingRight: 10;
  paddingTop: 5;
  paddingBottom: 5;
  highlightAlphas: 0.4, 0;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;
  themeColor: haloBlue;
  fontFamily: Arial;
  fontSize: 12;
}

.presentationUploadButtonStyle {
  icon:   Embed('assets/images/upload.png');   
}

.presentationBackButtonStyle {
  icon:   Embed('assets/images/left-arrow.png'); 
}

.presentationBackButtonDisabledStyle {
	icon:   Embed('assets/images/left-arrow-disabled.png'); 
}

.presentationForwardButtonStyle {
  icon:   Embed('assets/images/right-arrow.png'); 
}

.presentationForwardButtonDisabledStyle {
	icon:   Embed('assets/images/right-arrow-disabled.png'); 
}

.presentationFitToWidthButtonStyle {
  icon:   Embed('assets/images/fit-to-width.png'); 
}

.presentationFitToPageButtonStyle {
  icon:   Embed('assets/images/fit-to-screen.png'); 
}

.presentationZoomSliderStyle{
  labelOffset: 0;
  thumbOffset: 3;
  dataTipOffset: -1;
  tickOffset: 2;
  tickLength: 5;
  tickThickness: 2;
  tickColor: #6cccff;
  showTrackHighlight: true;
  invertThumbDirection: false;
  borderColor: #b9babc;
  trackColors: #aaaaaa, #aaaaaa;
  themeColor: haloBlue;
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  labelStyleName: "presentationZoomSliderLabelStyle";
}

.presentationZoomSliderLabelStyle {
  color: #5e5f63;
  fontFamily: Arial;
}

.deskshareControlButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 17;
}

.videoMuteButtonStyle, .videoUnmutedButtonStyle, .videoSwitchPresenterButtonStyle, .videoEjectUserButtonStyle, .videoPrivateChatButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 17;
}

.videoMutedButtonStyle {
  /* Need to duplicate info here as the styleName is programatically changed. Extracting it out doesn't have any effect. */
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #ffffff;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 17;
  icon:   Embed('assets/images/webcam-muted.png');
}

.videoUnmutedButtonStyle {
  icon:   Embed('assets/images/webcam-unmuted.png');
}

.videoSwitchPresenterButtonStyle {
  icon:   Embed('assets/images/webcam-switch-presenter.png');
}

.videoEjectUserButtonStyle {
  icon:   Embed('assets/images/webcam-eject-user.png');
}

.videoPrivateChatButtonStyle {
  icon:   Embed('assets/images/webcam-private-chat.png');
}

.presentationFileUploadWindowStyle {
  borderColor: #b9babc;
  borderAlpha: 1;
  borderThicknessLeft: 10;
  borderThicknessTop: 0;
  borderThicknessBottom: 10;
  borderThicknessRight: 10;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundAlpha: 1;
  headerColors: #b9babc, #b9babc;
  footerColors: #b9babc, #b9babc;
  backgroundColor: #EFEFEF;
  dropShadowEnabled: true;
  titleStyleName: "presentationFileUploadWindowTitleStyle";
}

.presentationFileUploadWindowTitleStyle, .presentationUploadTitleStyle {
  fontFamily: Arial;
  fontSize: 20;  
  fontWeight: bold;
}

.presentationNamesLabelStyle {
  fontFamily: Arial;
  fontSize: 14;  
  fontWeight: bold;
}

.presentationUploadChooseFileButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 5;  
}

.presentationUploadCancelButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 5;    
}

.presentationUploadShowButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 5;  
}

.presentationUploadDeleteButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 5;    
  icon:   Embed('assets/images/trash.png');
}

.presentationUploadProgressBarLabelStyle {
  
}

.presentationUploadProgressBarStyle {
  
}

.presentationNameLabelStyle {

}

.presentationUploadFileFormatHintBoxStyle, .desktopShareUsingChromeOnMacHintBoxStyle {
	backgroundColor: #D4D4D4;
	dropShadowEnabled: false;
	paddingLeft: 10;
	paddingRight: 10
}

.presentationUploadFileFormatHintTextStyle, .desktopShareUsingChromeOnMacHintTextStyle {
	fontWeight: bold;
}

.cameraDisplaySettingsWindowStyle {
  borderColor: #b9babc;
  borderAlpha: 1;
  borderThicknessLeft: 10;
  borderThicknessTop: 0;
  borderThicknessBottom: 10;
  borderThicknessRight: 10;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundAlpha: 1;
  headerColors: #b9babc, #b9babc;
  footerColors: #b9babc, #b9babc;
  backgroundColor: #EFEFEF;
  dropShadowEnabled: true;
  titleStyleName: "webcamSettingsWindowTitleStyle";
}

.micSettingsWindowStyle {
  borderColor: #b9babc;
  borderAlpha: 1;
  borderThicknessLeft: 10;
  borderThicknessTop: 0;
  borderThicknessBottom: 10;
  borderThicknessRight: 10;
  roundedBottomCorners: true;
  cornerRadius: 5;
  headerHeight: 20;
  backgroundAlpha: 1;
  headerColors: #b9babc, #b9babc;
  footerColors: #b9babc, #b9babc;
  backgroundColor: #EFEFEF;
  dropShadowEnabled: true;
  titleStyleName: "micSettingsWindowTitleStyle";
}

.webcamSettingsWindowTitleStyle, .micSettingsWindowTitleStyle {
  fontFamily: Arial;
  fontSize: 20;  
  fontWeight: bold;
}

.micSettingsWindowTestSpeakersLabelStyle, .micSettingsWindowTestMicrophoneLabelStyle {
  fontFamily: Arial;
  fontSize: 14;  
  fontWeight: bold;    
}

.micSettingsWindowHearFromHeadsetLabelStyle, .micSettingsWindowSpeakIntoMicLabelStyle, .micSettingsWindowMicNameLabelStyle, .webcamPermissionSettingsTextStyle {
  fontFamily: Arial;
  fontSize: 12;    
}

.micSettingsWindowPlaySoundButtonStyle, .micSettingsWindowChangeMicButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
  rollOverColor: #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 5;      
}

.micSettingsWindowJoinButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	rollOverColor: #eeeeee;
	color: #5e5f63;
	textRollOverColor: #5e5f63;
	textSelectedColor: #5e5f63;
	borderColor: #b9babc;  
	cornerRadius: 5; 
	icon:   Embed('assets/images/headset.png');
}

.micSettingsWindowCancelButtonStyle {
  fillAlphas: 1, 1, 1, 1;
  fillColors: #ffffff, #eeeeee, #ffffff, #eeeeee;
  rollOverColor: #eeeeee;
  color: #5e5f63;
  textRollOverColor: #5e5f63;
  textSelectedColor: #5e5f63;
  borderColor: #b9babc;  
  cornerRadius: 5;    
}

.micSettingsWindowMicProgressBarStyle {
  
}

.micSettingsWindowHelpButtonStyle {
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 2;
	paddingBottom: 2;
	fontSize: 16;
	rollOverColor: #cccccc;
	selectionColor: #999999;
	color: #504f3d;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontWeight: bold;
}

MDIWindow { /*None of the following properties are overridden by the MDIWindow class*/
	backgroundSize: '100%';
	
	cornerRadius: 5;
	dropShadowEnabled: false;
	titleStyleName: "mypanelTitle";
	
	cornerResizeImg: Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
	cornerResizeWidth: 2;
	cornerResizeHeight: 2;
	cornerResizePaddingRight: 2;
	cornerResizePaddingBottom: 2;
	
	controlButtonWidth: 10;
	controlButtonHeight: 10;
	controlButtonGap: 4;
}

.mdiWindowFocus, .presentationWindowStyleFocus, .videoDockStyleFocus
{
  headerHeight: 26;
  roundedBottomCorners: true;
  backgroundColor: #b9babc;
  backgroundAlpha: 1;
  
  borderStyle: solid;
  borderColor: #b9babc;
  borderAlpha: 1;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.mdiWindowNoFocus, .presentationWindowStyleNoFocus, .videoDockStyleNoFocus
{
  headerHeight: 26;
  roundedBottomCorners: true;
  backgroundColor: #b9babc;
  backgroundAlpha: 0.5;
	
  borderStyle: solid;
  borderColor: #b9babc;
  borderAlpha: 0.5;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.presentationSlideViewStyle {
  backgroundColor: #b9babc;
}

.presentationWindowControlsStyle {
  paddingBottom: 5;
  paddingTop: 3;
  paddingLeft: 3;
  paddingRight: 3;
  bottom: 5;
  cornerRadius: 0;
  dropShadowEnabled: false;
}

.videoViewStyleNoFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 0.5;
  
  borderStyle: solid;
  borderColor: #b9babc;
  borderAlpha: 0.5;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.videoViewStyleFocus 
{
  headerHeight: 20;
  roundedBottomCorners: true;
  backgroundColor: #e6e6e6;
  backgroundAlpha: 1;
	
  borderStyle: solid;
  borderColor: #b9babc;
  borderAlpha: 1;
  borderThicknessLeft: 3;
  borderThicknessTop: 0;
  borderThicknessBottom: 3;
  borderThicknessRight: 3;
}

.videoPublishStyleNoFocus 
{
	headerHeight: 20;
	roundedBottomCorners: true;
	backgroundColor: #e6e6e6;
	backgroundAlpha: 0.5;
	
	borderStyle: solid;
	borderColor: #b9babc;
	borderAlpha: 0.5;
	borderThicknessLeft: 3;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessRight: 3;
}

.videoPublishStyleFocus 
{
	headerHeight: 20;
	roundedBottomCorners: true;
	backgroundColor: #e6e6e6;
	backgroundAlpha: 1;
	
	borderStyle: solid;
	borderColor: #b9babc;
	borderAlpha: 1;
	borderThicknessLeft: 3;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessRight: 3;
}

.videoAvatarStyleNoFocus 
{
	headerHeight: 20;
	roundedBottomCorners: true;
	backgroundColor: #e6e6e6;
	backgroundAlpha: 0.5;
	
	borderStyle: solid;
	borderColor: #b9babc;
	borderAlpha: 0.5;
	borderThicknessLeft: 3;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessRight: 3;
}

.videoAvatarStyleFocus 
{
	headerHeight: 20;
	roundedBottomCorners: true;
	backgroundColor: #e6e6e6;
	backgroundAlpha: 1;
	
	borderStyle: solid;
	borderColor: #b9babc;
	borderAlpha: 1;
	borderThicknessLeft: 3;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessRight: 3;
}

.mypanelTitle {
  color: #5e5f63;
  fontFamily: Arial;
  fontSize: 12;
  fontWeight: bold;
}

.closeBtnFocus, .closeBtnNoFocus
{
  upSkin:        Embed('assets/images/3_closeButton.png');
  overSkin:      Embed('assets/images/3_closeButton.png');
  downSkin:      Embed('assets/images/3_closeButton.png');
  disabledSkin:  Embed('assets/images/3_closeButton.png');
}


.increaseBtnFocus, .increaseBtnNoFocus
{
  upSkin:        Embed('assets/images/3_increaseButton.png');
  overSkin:      Embed('assets/images/3_increaseButton.png');
  downSkin:      Embed('assets/images/3_increaseButton.png');
  disabledSkin:  Embed('assets/images/3_increaseButton.png');
}

.decreaseBtnFocus, .decreaseBtnNoFocus  
{
  upSkin:        Embed('assets/images/3_decreaseButton.png');
  overSkin:      Embed('assets/images/3_decreaseButton.png');
  downSkin:      Embed('assets/images/3_decreaseButton.png');
  disabledSkin:  Embed('assets/images/3_decreaseButton.png');
}

.minimizeBtnFocus 
{
  upSkin:        Embed('assets/images/3_minimizeButton.png');
  overSkin:      Embed('assets/images/3_minimizeButton.png');
  downSkin:      Embed('assets/images/3_minimizeButton.png');
  disabledSkin:  Embed('assets/images/3_minimizeButton.png');
}


.resizeHndlr 
{
  upSkin:        Embed('assets/images/resizeHandler.png');
  overSkin:      Embed('assets/images/resizeHandler.png');
  downSkin:      Embed('assets/images/resizeHandler.png');
  disabledSkin:  Embed('assets/images/resizeHandler.png');
}

.cameraDisplaySettingsWindowStartBtn
{
  icon:   Embed('assets/images/webcam.png');
}

Alert {
  borderColor: #DFDFDF;
  backgroundColor: #EFEFEF;
  borderAlpha: 1;
  shadowDistance: 1;
  dropShadowColor: #FFFFFF;
  color: #000000;
}

.lockSettingsDefaultLabelStyle {
	fontFamily: Arial;
	fontSize: 14;  
	fontWeight: bold;    
}

.lockSettingsWindowStyle {
	borderColor: #b9babc;
	borderAlpha: 1;
	borderThicknessLeft: 10;
	borderThicknessTop: 0;
	borderThicknessBottom: 10;
	borderThicknessRight: 10;
	roundedBottomCorners: true;
	cornerRadius: 5;
	headerHeight: 20;
	backgroundAlpha: 1;
	headerColors: #b9babc, #b9babc;
	footerColors: #b9babc, #b9babc;
	backgroundColor: #EFEFEF;
	dropShadowEnabled: true;
	titleStyleName: "micSettingsWindowTitleStyle";
}

.lockSettingsWindowTitleStyle {
	fontFamily: Arial;
	fontSize: 20;  
	fontWeight: bold;
}

.recordButtonStyleNormal {
  icon:   Embed('assets/images/control-record.png');
}

.recordButtonStyleStart {
  icon:   Embed('assets/images/control-record-start.png');
}

.recordButtonStyleStop {
  icon:   Embed('assets/images/control-record-stop.png');
}
