@namespace mx "library://ns.adobe.com/flex/mx";
@namespace flexlib "http://code.google.com/p/flexlib/";
@namespace users "org.bigbluebutton.modules.users.views.*";
@namespace poll "org.bigbluebutton.modules.polling.views.*";
@namespace whiteboard "org.bigbluebutton.modules.whiteboard.views.*";
@namespace videoconf "org.bigbluebutton.modules.videoconf.views.*";

/*
//------------------------------
//  @font-face
//------------------------------
*/
@font-face {
	src        : url("assets/fonts/SourceSansPro-Regular.ttf");
	fontFamily : "Source Sans Pro";
	fontStyle  : normal;
	fontWeight : normal;
}

@font-face {
	src        : url("assets/fonts/SourceSansPro-SemiBold.ttf");
	fontFamily : "Source Sans Pro";
	fontStyle  : normal;
	fontWeight : bold;
}

/*
//------------------------------
//  global
//------------------------------
*/

global {
	fontFamily     : "Source Sans Pro", Arial, sans-serif;
	fontSize       : 13;
	color          : #2A2D33;
	selectionColor : #3B97D3;
	focusColor     : #3B97D3;
}

/*
//------------------------------
//  Application
//------------------------------
*/

mx|Application {
	backgroundGradientColors : #F1F3F7, #F1F3F7;
	backgroundColor          : #F1F3F7;
}

/*
//------------------------------
//  AudioSelectionWindow
//------------------------------
*/

.audioSelectionsStyle {
	horizontalGap : 60;
	paddingLeft   : 30;
	paddingRight  : 30;
}

.webcamSettingsWindowTitleStyle, .micSettingsWindowTitleStyle {
	fontSize  : 24;
	textAlign : center;
}

.btnMicrophoneStyle, .btnListenOnlyStyle, .btnPhoneStyle {
	borderAlphaUp       : 0;
	borderAlphaOver     : 1;
	borderAlphaDown     : 1;
	borderAlphaDisabled : 0;

	fillColorUp         : #EFF5FA;
	borderColorOver     : #3797D3;
	borderColorDown     : #3797D3;

	borderThikness      : 5;
	cornerRadius        : 70;
}

.btnMicrophoneStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Audio_Big");
}

.btnListenOnlyStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Headset_Big");
}

.btnPhoneStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Phone_Big");
}

.audioSubtitle {
	color      : #363B43;
	fontSize   : 14;
	fontWeight : bold;
}

/*
//------------------------------
//  ApplicationControlBar
//------------------------------
*/

mx|ApplicationControlBar {
	cornerRadius      : 0;
	dropShadowColor   : #ABABAB;
	dropShadowEnabled : true;
	fillAlphas        : 1, 1;
	fillColors        : #FFFFFF, #FFFFFF;
	backgroundColor   : #FFFFFF;
	backgroundAlpha   : 1;
	highlightAlphas   : 0, 0;
	shadowDistance    : 1;
	shadowDirection   : center;
}

.toolbarSeparator {
	strokeWidth  : 1;
	strokeColor  : #CDD4DB;
	paddingLeft  : 20;
	paddingRight : 20;
}

.meetingNameLabelStyle {
	fontSize  : 14;
	textAlign : left;
	color     : #2A2D33;
}

.defaultControlBarStyle {
	color : #2A2D33;
}

.darkControlBarStyle {
	color : #FFFFFF;
}

.bandwidthButtonStyle {
	icon : Embed('assets/images/ic_swap_vert_16px.png');
}

.logoutButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Logout");
}

.settingsButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Settings");
}

.webcamDefaultButtonStyle, .webcamOnButtonStyle, .webcamOffButtonStyle,
.deskshareDefaultButtonStyle, .deskshareOnButtonStyle, .deskshareOffButtonStyle,
.muteMeDefaultButtonStyle, .muteMeOnButtonStyle, .muteMeOffButtonStyle {
	fillColorSelectedUp     : #3B97D3;
	fillColorSelectedOver   : #2E8BB8;
	fillColorSelectedDown   : #3B97D3;
	borderColorSelectedUp   : #3B97D3;
	borderColorSelectedOver : #2E8BB8;
	borderColorSelectedDown : #3B97D3;
}

.voiceConfDefaultButtonStyle, .voiceConfActiveButtonStyle, .voiceConfInactiveButtonStyle {
	/* Selected state */
	fillColorSelectedUp     : #FF6666;
	fillColorSelectedOver   : #FF6666;
	fillColorSelectedDown   : #FF6666;
	borderColorSelectedUp   : #FF6666;
	borderColorSelectedOver : #FF6666;
	borderColorSelectedDown : #FF6666;
}

.voiceConfDefaultButtonStyle {
	icon         : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Audio");
	disabledIcon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Audio_Disabled");
}

.voiceConfActiveButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Audio_On");
}

.voiceConfInactiveButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Audio_Off");
}

.webcamDefaultButtonStyle {
	icon         : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Webcam");
	disabledIcon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Webcam_Disabled");
}

.webcamOnButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Webcam_On");
}

.webcamOffButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Webcam_Off");
}

.deskshareDefaultButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Deskshare");
}

.deskshareOnButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Deskshare_White");
}

.deskshareOffButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Deskshare_White");
}

.recordButtonStyleNormal {
	icon : Embed('assets/images/control-record.png');
}

.recordButtonStyleStart {
	icon : Embed('assets/images/control-record-start.png');
}

.recordButtonStyleStop {
	icon : Embed('assets/images/control-record-stop.png');
}

.muteMeDefaultButtonStyle {
	icon         : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Microphone");
	disabledIcon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Microphone_Disabled");
}

.muteMeOnButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Microphone_On");
}

.muteMeOffButtonStyle {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Microphone_Off");
}

/*
//------------------------------
//  Alert
//------------------------------
*/

mx|Alert {
	borderColor       : #FFFFFF;
	backgroundColor   : #FFFFFF;
	borderAlpha       : 1;
	dropShadowEnabled : false;
	color             : #6C6C6C;
	titleStyleName    : "alertTitleStyle";
	messageStyleName  : "alertMessageStyle";
}

mx|AlertForm {
	paddingTop : 8;
	fontSize   : 13;
}

.alertMessageStyle {
	color         : #8A9AA7;
	fontSize      : 14;
	textAlign     : center;
	paddingTop    : 6;
	paddingLeft   : 12;
	paddingRight  : 12;
	paddingBottom : 6;
}

.alertTitleStyle {
	textAlign : center;
	fontSize  : 24;
}

/*
//------------------------------
//  Button
//------------------------------
*/

mx|Button /*, .logoutButtonStyle, .chatSendButtonStyle, .helpLinkButtonStyle, .cameraDisplaySettingsWindowProfileComboStyle, .cameraDisplaySettingsWindowCameraSelector, .languageSelectorStyle, .recordButtonStyleNormal, .recordButtonStyleStart, .recordButtonStyleStop, .micSettingsWindowHelpButtonStyle, .bandwidthButtonStyle, .settingsButtonStyle, .acceptButtonStyle, .denyButtonStyle */
{
	paddingLeft                 : 12;
	paddingRight                : 12;
	paddingTop                  : 8;
	paddingBottom               : 8;
	cornerRadius                : 2;
	color                       : #5E6D73;
	textRollOverColor           : #5E6D73;
	textSelectedColor           : #5E6D73;
	fontSize                    : 14;
	skin                        : ClassReference("org.bigbluebutton.skins.ButtonSkin");

	/* Normal state */
	fillColorUp                 : #F0F2F6;
	fillColorOver               : #CDD4DB;
	fillColorDown               : #ACB2B7;
	fillColorDisabled           : #F0F2F6;
	borderColorUp               : #CDD4DB;
	borderColorOver             : #CDD4DB;
	borderColorDown             : #ACB2B7;
	borderColorDisabled         : #CDD4DB;

	borderAlphaUp               : 1;
	borderAlphaOver             : 1;
	borderAlphaDown             : 1;
	borderAlphaDisabled         : 1;

	borderThikness              : 1;

	/* Selected state */
	fillColorSelectedUp         : #F0F2F6;
	fillColorSelectedOver       : #CDD4DB;
	fillColorSelectedDown       : #ACB2B7;
	fillColorSelectedDisabled   : #F0F2F6;
	borderColorSelectedUp       : #CDD4DB;
	borderColorSelectedOver     : #CDD4DB;
	borderColorSelectedDown     : #ACB2B7;
	borderColorSelectedDisabled : #CDD4DB;
}

/*
//------------------------------
//  ComboBox
//------------------------------
*/

mx|ComboBox {
	cornerRadius        : 2;
	color               : #5E6C73;
	textRollOverColor   : #5E6C73;
	textSelectedColor   : #5E6C73;
	fontSize            : 12;

	/* Normal state */
	fillColorUp         : #FFFFFF;
	fillColorOver       : #CDD4DB;
	fillColorDown       : #ACB2B7;
	fillColorDisabled   : #F0F2F6;
	borderColorUp       : #CDD4DB;
	borderColorOver     : #CDD4DB;
	borderColorDown     : #ACB2B7;
	borderColorDisabled : #CDD4DB;

	iconColor           : #5E6C73;

	borderThikness      : 1;

	skin                : ClassReference("org.bigbluebutton.skins.ComboBoxSkin");
}

/*
//------------------------------
//  DataGrid
//------------------------------
*/

mx|DataGrid {
	backgroundColor       : #FFFFFF;
	borderStyle           : none;
	rollOverColor         : #F3F3F3;
	textRollOverColor     : #3F3F41;
	textSelectedColor     : #3F3F41;
	alternatingItemColors : #FFFFFF, #FFFFFF;
	dropShadowEnabled     : false;
	verticalSeparatorSkin : ClassReference("org.bigbluebutton.skins.DataGridVerticalSeparatorSkin");
}

/*
//------------------------------
//  PopUpButton
//------------------------------
*/

mx|PopUpButton {
	/* Normal state */
	fillColorUp         : #F0F2F6;
	fillColorOver       : #CDD4DB;
	fillColorDown       : #ACB2B7;
	fillColorDisabled   : #F0F2F6;
	borderColorUp       : #CDD4DB;
	borderColorOver     : #CDD4DB;
	borderColorDown     : #ACB2B7;
	borderColorDisabled : #CDD4DB;

	borderThikness      : 1;

	iconColor           : #5E6C73;

	skin                : ClassReference("org.bigbluebutton.skins.PopUpButtonSkin");
}

/*
//------------------------------
//  MDICanvas & MDIWindow
//------------------------------
*/

flexlib|MDICanvas {
	backgroundColor : #F1F3F7;
}

flexlib|MDIWindow {
	/*None of the following properties are overridden by the MDIWindow class*/
	backgroundSize       : "100%";

	headerHeight         : 40;

	cornerRadius         : 4;
	dropShadowEnabled    : false;
	titleStyleName       : "mdiWindowTitle";

	cornerResizeImg      : Embed(source="assets/swf/Blue.swf", symbol="Corner_Resize");
	roundedBottomCorners : true;

	controlButtonWidth   : 10;
	controlButtonHeight  : 10;
	controlButtonGap     : 4;

	styleNameFocus       : "mdiWindowFocus";
	styleNameNoFocus     : "mdiWindowNoFocus";

	maximizeBtnStyleName : "mdiMaximizeButtonStyle";
	restoreBtnStyleName  : "mdiMaximizeButtonStyle";
	minimizeBtnStyleName : "mdiMinimizeButtonStyle";

	showHeaderSeparator  : true;
}

.mdiMaximizeButtonStyle {
	upSkin       : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Maximize_Up");
	overSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Maximize_Over");
	downSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Maximize_Down");
	disabledSkin : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Maximize_Disabled");
}

.mdiMinimizeButtonStyle {
	upSkin       : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Minimize_Up");
	overSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Minimize_Over");
	downSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Minimize_Down");
	disabledSkin : Embed(source="assets/swf/v2_skin.swf", symbol="MDI_Button_Minimize_Disabled");
}

.mdiWindowTitle {
	color    : #2A2D33;
	fontSize : 12;
}

.mdiWindowNoFocus {
	borderStyle     : solid;
	borderAlpha     : 1;
	borderThickness : 1;
	borderColor     : #CDD4DB;

	backgroundColor : #FFFFFF;
	backgroundAlpha : 1;
}

.mdiWindowFocus {
	borderStyle     : solid;
	borderAlpha     : 1;
	borderThickness : 1;
	borderColor     : #9EAEBA;

	backgroundColor : #FFFFFF;
	backgroundAlpha : 1;
}

/*
//------------------------------
//  Panel
//------------------------------
*/

mx|Panel {
	borderColor         : #CDD4DB;
	borderAlpha         : 1;
	dropShadowEnabled   : false;
	backgroundColor     : #FFFFFF;
	titleStyleName      : "panelTitleStyle";
	showHeaderSeparator : false;
	borderSkin          : ClassReference("org.bigbluebutton.skins.PanelSkin");
}

.panelTitleStyle {
	color    : #2A2D33;
	fontSize : 12;
}

/*
//------------------------------
//  Presentation
//------------------------------
*/

.presentationUploadDeleteButtonStyle {
	fillAlphas        : 1, 1, 1, 1;
	fillColors        : #FEFEFF, #E1E2E5, #FFFFFF, #EEEEEE;
	color             : #3F3F41;
	textRollOverColor : #3F3F41;
	textSelectedColor : #3F3F41;
	borderColor       : #B9BABC;
	cornerRadius      : 5;
	icon              : Embed('assets/images/trash.png');
}

.presentationUploadButtonStyle {
	icon : Embed('assets/images/ic_file_upload_16px.png');
}

.pollStartButtonStyle {
	icon : Embed('assets/images/poll_icon.png');
}

.presentationBackButtonStyle {
	icon : Embed('assets/images/ic_arrow_back_24px.png');
}

.presentationBackButtonDisabledStyle {
	icon : Embed('assets/images/ic_arrow_back_grey_24px.png');
}

.presentationForwardButtonStyle {
	icon : Embed('assets/images/ic_arrow_forward_24px.png');
}

.presentationForwardButtonDisabledStyle {
	icon : Embed('assets/images/ic_arrow_forward_grey_24px.png');
}

.presentationFitToWidthButtonStyle {
	icon : Embed('assets/images/fit-to-width.png');
}

.presentationFitToPageButtonStyle {
	icon : Embed('assets/images/fit-to-screen.png');
}

.presentationDownloadButtonStyle {
	icon : Embed('assets/images/ic_file_download_16px.png');
}

.presentationDownloadButtonDisabledStyle {
	icon : Embed('assets/images/ic_file_download_grey_16px.png');
}

/*
//------------------------------
//  ProgressBar
//------------------------------
*/

mx|ProgressBar {
	color       : #8A9AA7;
	themeColor  : #8F53A1;
	barColor    : #3697D3;
	trackColors : #FFFFFF, #FFFFFF;
	borderColor : #CDD4DB;
	barSkin     : ClassReference("org.bigbluebutton.skins.ProgressBarSkin");
	trackSkin   : ClassReference("org.bigbluebutton.skins.ProgressTrackSkin");
}

/*
//------------------------------
//  SharedNotes
//------------------------------
*/

.sharedNotesSettings {
	icon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Settings");
}

.sharedNotesSaveButtonStyle, .chatSaveButtonStyle {
	icon : Embed('assets/images/ic_save_16px.png');
}

.sharedNotesNewButtonStyle {
	icon : Embed('assets/images/ic_note_add_16px.png');
}

.sharedNotesEnabledUndoButtonStyle {
	icon : Embed('assets/images/arrows_undo_icon.png');
}

.sharedNotesDisabledUndoButtonStyle {
	icon : Embed('assets/images/arrows_undo_icon_grey.png');
}

.sharedNotesEnabledRedoButtonStyle {
	icon : Embed('assets/images/arrows_redo_icon.png');
}

.sharedNotesDisabledRedoButtonStyle {
	icon : Embed('assets/images/arrows_redo_icon_grey.png');
}

.sharedNotesFormatButtonStyle {
	icon : Embed('assets/images/ic_note_format_16px.png');
}

/*
//------------------------------
//  TitleWindow
//------------------------------
*/

mx|TitleWindow {
	borderColor          : #FFFFFF;
	cornerRadius         : 4;
	roundedBottomCorners : true;
	dropShadowEnabled    : true;
	shadowDistance       : 0;
}

/*
//------------------------------
//  ToolTip
//------------------------------
*/

mx|ToolTip {
	borderSkin      : ClassReference("org.bigbluebutton.skins.ToolTipSkin");
	backgroundColor : #3B97D3;
	color           : #FFFFFF;
	fontSize        : 13;
	backgroundAlpha : 0.9;
	cornerRadius    : 3;
}

.errorTip {
	borderColor : #FF6666;
}

/*
//------------------------------
//  Users
//------------------------------
*/

users|UsersWindow {
	iconAudioMuted : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Audio_Muted");
	iconAudio      : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Audio");
	iconLock       : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Lock");
	iconMood       : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Happy");
	iconSettings   : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Settings");
}

users|StatusItemRenderer {
	iconPresenter      : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Presenter");
	iconModerator      : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Moderator");
	iconModeratorOnly  : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_ListenOnly");
	iconMoodRaiseHand  : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_RaiseHand");
	iconMood           : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Happy");
	iconMoodHappy      : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Happy");
	iconMoodNeutral    : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Neutral");
	iconMoodSad        : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Sad");
	iconMoodConfused   : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Confused");
	iconMoodAway       : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Away");
	iconMoodThumbsUp   : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_ThumbsUp");
	iconMoodThumbsDown : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_ThumbsDown");
	iconMoodApplause   : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Mood_Applause");
}

users|MediaItemRenderer {
	iconAudioMuted : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Audio_Muted");
	iconAudio      : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Audio");
	iconSound      : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Sound");
	iconLock       : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Lock");
	iconUnlock     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Unlock");
	iconSettings   : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Settings");
	iconWebcam     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Webcam");
	iconDemote     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Demote");
	iconPromote    : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Promote");
	iconEject      : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_User_Eject");
}

users|NameItemRenderer {
	fontSize  : 12;
	textAlign : left;
}

.nameRenderer {
	fontWeight : normal;
	color      : #2A2D33;
}

.meNameRenderer {
	fontWeight : bold;
	color      : #3D97D3;
}

.usersGridStyle {
	selectionColor : #F0F2F6;
}

/*
//------------------------------
//  VideoDock
//------------------------------
*/

videoconf|UserGraphicHolder {
	presenterIcon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Presenter");
	moderatorIcon : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Moderator");
}

.videoToolbarBackgroundTalkingStyle {
	backgroundColor : #3B97D3;
	backgroundAlpha : 0.5;
}

.videoToolbarBackgroundNotTalkingStyle {
	backgroundColor : #000000;
	backgroundAlpha : 0.5;
}

.videoToolbarLabelStyle {
	color      : #FFFFFF;
	fontSize   : 12;
	textIndent : 0;
}

.muteOverlayBtn {
	upSkin       : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Unmuted");
	overSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Unmuted");
	downSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Unmuted");
	disabledSkin : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Unmuted");
}

.unmuteOverlayBtn {
	upSkin       : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Muted");
	overSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Muted");
	downSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Muted");
	disabledSkin : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Video_Muted");
}

.closeBtnFocus, .closeBtnNoFocus {
	upSkin       : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Close_Video");
	overSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Close_Video");
	downSkin     : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Close_Video");
	disabledSkin : Embed(source="assets/swf/v2_skin.swf", symbol="Icon_Close_Video");
}

/*
//------------------------------
//  Whiteboard
//------------------------------
*/

whiteboard|WhiteboardToolbar {
	backgroundColor : #F1F3F7;
	borderColor     : #CFD4DB;
	borderStyle     : solid;
	borderThickness : 1;
	cornerRadius    : 4;
	paddingBottom   : 0;
	paddingTop      : 0;
	paddingLeft     : 0;
	paddingRight    : 0;
}

.colorPickerStyle {
	backgroundColor           : #E5E6E7;
	columnCount               : 13;
	horizontalGap             : 0;
	previewHeight             : 22;
	previewWidth              : 50;
	swatchGridBackgroundColor : #000000;
	swatchGridBorderSize      : 0;
	swatchHeight              : 60;
	swatchHighlightColor      : #FFFFFF;
	swatchHighlightSize       : 1;
	swatchWidth               : 12;
	textFieldWidth            : 72;
	verticalGap               : 0;
}

.multiUserWhiteboardOnButtonStyle {
	icon : Embed('assets/images/multiuserwhiteboardon.png');
}

.multiUserWhiteboardOffButtonStyle {
	icon : Embed('assets/images/multiuserwhiteboardoff.png');
}

.whiteboardUndoButtonStyle {
	icon : Embed('assets/images/undo.png');
}

.whiteboardCircleButtonStyle {
	icon : Embed('assets/images/ellipse.png');
}

.whiteboardClearButtonStyle {
	icon : Embed('assets/images/delete.png');
}

.chatClearButtonStyle {
	icon : Embed('assets/images/delete.png');
}

.whiteboardScribbleButtonStyle {
	icon : Embed('assets/images/pencil.png');
}

.whiteboardLineButtonStyle {
	icon : Embed('assets/images/line.png');
}

.whiteboardPanZoomButtonStyle {
	icon : Embed('assets/images/hand.png');
}

.whiteboardRectangleButtonStyle {
	icon : Embed('assets/images/square.png');
}

.whiteboardTextButtonStyle {
	icon : Embed('assets/images/text.png');
}

.whiteboardTriangleButtonStyle {
	icon : Embed('assets/images/triangle.png');
}

/****************************/
/*        Old styles        */
/****************************/
/*

.chatToolbarStyle {
	backgroundColor: #CCCCCC;
	cornerRadius: 5;
	borderStyle: solid;
	borderThickness: 1;
	paddingBottom: 2;
	paddingTop: 2;
	paddingLeft: 2;
	paddingRight: 2;
}

.recordingLabelStyle {
	fontWeight: bold;
	fontSize: 15;
	fontFamily: Arial;
	color: #e1e2e5;
}

.videoMessageWarningLabelStyle {
	fontWeight: bold;
	fontSize: 18;
	fontFamily: Arial;
	color: #ffff26;
}

.videoMessageErrorLabelStyle {
	fontWeight: bold;
	fontSize: 18;
	fontFamily: Arial;
	color: #ff2727;
}

.videoMessageBackgroundStyle {
	backgroundAlpha: 0.6;
	backgroundColor: #b9babc;
}

.pollResondersLabelStyle {
	color: #444444;
	fontFamily: Arial;
	fontSize: 16;
	fontWeight: bold;
}

.quickWindowLinkStyle {
	paddingLeft: 0;
	paddingRight: 0;
	textDecoration: underline;
	rollOverColor: #cccccc;
	selectionColor: #999999;
	color: #ffffff;
	textRollOverColor: #504f3d;
	textSelectedColor: #504f3d;
}

.helpLinkButtonStyle {
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 2;
	paddingBottom: 2;
	fontSize: 16;
	rollOverColor: #cccccc;
	selectionColor: #999999;
	color: #ffffff;
	textRollOverColor: #504f3d;
	textSelectedColor: #504f3d;
	fontWeight: bold;
}

.acceptButtonStyle {
	icon: Embed('assets/images/ic_thumb_up_16px.png');
}

.denyButtonStyle {
	icon: Embed('assets/images/ic_thumb_down_16px.png');
}


.whiteboardUndoButtonStyle, .whiteboardCircleButtonStyle, .whiteboardClearButtonStyle,
.whiteboardTriangleButtonStyle, .whiteboardTextButtonStyle, .whiteboardRectangleButtonStyle,
.chatClearButtonStyle, .multiUserWhiteboardOnButtonStyle, .multiUserWhiteboardOffButtonStyle
{
	textIndent: 0;
	paddingLeft: 0;
	paddingRight: 0;
	paddingTop: 5;
	paddingBottom: 5;
	highlightAlphas: 0.4, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;
	themeColor: haloBlue;
	fontFamily: Arial;
	fontSize: 12;
}

.presentationUploadButtonStyle, .pollStartButtonStyle, .presentationBackButtonStyle, .presentationBackButtonDisabledStyle, .presentationForwardButtonStyle, .presentationForwardButtonDisabledStyle,
.presentationFitToWidthButtonStyle, .presentationFitToPageButtonStyle, .presentationDownloadButtonStyle, .presentationDownloadButtonDisabledStyle,
.sharedNotesSaveButtonStyle, .sharedNotesNewButtonStyle, .sharedNotesEnabledUndoButtonStyle, .sharedNotesDisabledUndoButtonStyle, .sharedNotesEnabledRedoButtonStyle, .sharedNotesDisabledRedoButtonStyle, .sharedNotesFormatButtonStyle, .chatCopyButtonStyle, .chatSaveButtonStyle
{
	textIndent: 0;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 5;
	paddingBottom: 5;
	highlightAlphas: 0.4, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;
	themeColor: haloBlue;
	fontFamily: Arial;
	fontSize: 12;
}

.presentationZoomSliderStyle{
	labelOffset: 0;
	thumbOffset: 3;
	dataTipOffset: -1;
	tickOffset: 2;
	tickLength: 5;
	tickThickness: 2;
	tickColor: #6cccff;
	showTrackHighlight: true;
	invertThumbDirection: false;
	borderColor: #b9babc;
	trackColors: #aaaaaa, #aaaaaa;
	themeColor: haloBlue;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	labelStyleName: "presentationZoomSliderLabelStyle";
}

.presentationZoomSliderLabelStyle {
	color: #3f3f41;
	fontFamily: Arial;
}

.deskshareControlButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 17;
}

.deskshareWarningLabelStyle {
	fontWeight: bold;
	fontSize: 18;
	fontFamily: Arial;
	color: #003399;
}

.deskshareWarningBackgroundStyle {
	backgroundAlpha: 0.6;
	backgroundColor: #78797e;
}

.videoMuteButtonStyle, .videoUnmutedButtonStyle, .videoSwitchPresenterButtonStyle, .videoEjectUserButtonStyle, .videoPrivateChatButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 17;
}

.videoMutedButtonStyle {
	/* Need to duplicate info here as the styleName is programatically changed. Extracting it out doesn't have any effect.
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #ffffff;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 17;
	icon:   Embed('assets/images/webcam-muted.png');
}

.presentationFileUploadWindowTitleStyle, .presentationUploadTitleStyle {
	fontFamily: Arial;
	fontSize: 20;  
	fontWeight: bold;
}

.presentationNamesLabelStyle {
	fontFamily: Arial;
	fontSize: 14;  
	fontWeight: bold;
}

.presentationUploadChooseFileButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 5;  
}

.presentationUploadCancelButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 5;    
}

.presentationUploadShowButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 5;  
}

.presentationUploadFileFormatHintBoxStyle, .audioBroswerHintBoxStyle {
	backgroundColor: #D4D4D4;
	dropShadowEnabled: false;
	paddingLeft: 10;
	paddingRight: 10;
}

.presentationUploadFileFormatHintTextStyle, .audioBroswerHintTextStyle {
	fontWeight: bold;
}

.audioBroswerHintBoxStyle {
	paddingLeft: 5;
	paddingRight: 5;
	paddingBottom : 8;
	paddingTop : 8;
}

.desktopShareViewStyle {
	backgroundColor: #FFFFFF;
	paddingTop: 15;
	paddingLeft: 15;
	paddingBottom: 15;
	paddingRight: 15;
}

.desksharePublishPauseBox {
	horizontalAlign: center;
	verticalAlign: middle;
	borderColor: #C0C0C0;
	borderThickness: 2;
	borderStyle: solid
}

.desktopShareTextStyle {
	color: #3f3f3f;
	fontSize:	11;
	fontWeight:	bold;	
}

.micSettingsWindowTestSpeakersLabelStyle, .micSettingsWindowTestMicrophoneLabelStyle {
	fontFamily: Arial;
	fontSize: 14;  
	fontWeight: bold;    
}

.micSettingsWindowHearFromHeadsetLabelStyle, .micSettingsWindowSpeakIntoMicLabelStyle, .micSettingsWindowMicNameLabelStyle, .webcamPermissionSettingsTextStyle, .inactivityWarningTextStyle {
	fontFamily: Arial;
	fontSize: 14;    
}

.micSettingsWindowOpenDialogLabelStyle {
	fontFamily: Arial;
	fontSize: 14;
	fontWeight: bold;
	color: #e1e2e5;
}

.micSettingsWindowShareMicrophoneLabelStyle {
	fontFamily: Arial;
	fontSize: 14;
	color: #5e5f63;
}

.micSettingsWindowPlaySoundButtonStyle, .micSettingsWindowChangeMicButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	rollOverColor: #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 5;      
}

.micSettingsWindowJoinButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	rollOverColor: #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 5; 
	icon:   Embed('assets/images/headset.png');
}

.micSettingsWindowCancelButtonStyle, .inactivityWarningWindowCancelButtonStyle {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #ffffff, #eeeeee, #ffffff, #eeeeee;
	rollOverColor: #eeeeee;
	color: #3f3f41;
	textRollOverColor: #3f3f41;
	textSelectedColor: #3f3f41;
	borderColor: #b9babc;  
	cornerRadius: 5;    
}

.micSettingsWindowHelpButtonStyle {
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 2;
	paddingBottom: 2;
	fontSize: 16;
	rollOverColor: #cccccc;
	selectionColor: #999999;
	color: #504f3d;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	fontWeight: bold;
}

.presentationSlideViewStyle {
	backgroundColor: #b9babc;
}

.presentationWindowControlsStyle {
	paddingBottom: 5;
	paddingTop: 3;
	paddingLeft: 3;
	paddingRight: 3;
	bottom: 5;
	cornerRadius: 0;
	dropShadowEnabled: false;
}


.defaultShellStyle {
	backgroundColor: #fefeff;
}

.darkShellStyle {
	backgroundColor: #42444c;
}

.increaseBtnFocus, .increaseBtnNoFocus
{
	upSkin:        Embed('assets/images/3_increaseButton.png');
	overSkin:      Embed('assets/images/3_increaseButton.png');
	downSkin:      Embed('assets/images/3_increaseButton.png');
	disabledSkin:  Embed('assets/images/3_increaseButton.png');
}

.decreaseBtnFocus, .decreaseBtnNoFocus  
{
	upSkin:        Embed('assets/images/3_decreaseButton.png');
	overSkin:      Embed('assets/images/3_decreaseButton.png');
	downSkin:      Embed('assets/images/3_decreaseButton.png');
	disabledSkin:  Embed('assets/images/3_decreaseButton.png');
}

.minimizeBtnFocus 
{
	upSkin:        Embed('assets/images/3_minimizeButton.png');
	overSkin:      Embed('assets/images/3_minimizeButton.png');
	downSkin:      Embed('assets/images/3_minimizeButton.png');
	disabledSkin:  Embed('assets/images/3_minimizeButton.png');
}

.resizeHndlr 
{
	upSkin:        Embed('assets/images/resizeHandler.png');
	overSkin:      Embed('assets/images/resizeHandler.png');
	downSkin:      Embed('assets/images/resizeHandler.png');
	disabledSkin:  Embed('assets/images/resizeHandler.png');
}

.cameraDisplaySettingsWindowStartBtn
{
	icon:   Embed('assets/images/webcam.png');
}

.cameraDisplaySettingsWindowStartBtnDisabled
{
	icon: Embed('assets/images/webcam.png');
	color: #AAB3B3;
	textSelectedColor: #AAB3B3;
	fillAlphas: 0.45, 0.25;  
}

.logoutWindowStyle {
	borderColor: #DFDFDF;
	backgroundColor: #EFEFEF;
	borderAlpha: 1;
	shadowDistance: 1;
	dropShadowColor: #FFFFFF;
	color: #000000;
	headerHeight: 32;
	/* we need to set transparency duration to avoid the blur effect when two alerts are displayed sequentially 
	modalTransparencyDuration: 250;
}

.lockSettingsDefaultLabelStyle {
	fontFamily: Arial;
	fontSize: 14;
}

.lockSettingsWindowTitleStyle {
	fontFamily: Arial;
	fontSize: 20;  
	fontWeight: bold;
}

.statusImageStyle {
	successImage:   Embed(source='assets/images/status_success.png');
	warningImage:   Embed(source='assets/images/status_warning.png');
	failImage:      Embed(source='assets/images/status_fail.png');
	refreshImage:   Embed(source='assets/images/status_refresh.png');
}

.webRTCAudioStatusStyle {
	strongAudioStatus:        Embed(source='assets/images/strong_audio_status.png');
	almostStrongAudioStatus:  Embed(source='assets/images/almost_strong_audio_status.png');
	almostWeakAudioStatus:    Embed(source='assets/images/almost_weak_audio_status.png');
	weakAudioStatus:          Embed(source='assets/images/weak_audio_status.png');
	color: #e1e2e5;
}

.warningButtonStyle {
	icon:   Embed('assets/images/status_warning_20.png');
}

.statusTitleStyle {
	fontWeight: bold;
	fontSize: 12;
	paddingBottom: 0;
}

.statusMessageStyle {
	fontSize: 12;
	paddingTop: 0;
}

.statusTimeStyle {
	fontSize: 10;
	paddingTop: 0;
}

.addLayoutButtonStyle {
	icon:   Embed('assets/images/ic_add_circle_outline_16px.png');
}

.saveLayoutButtonStyle {
	icon:   Embed('assets/images/ic_file_download_16px.png');
}

.loadLayoutButtonStyle {
	icon:   Embed('assets/images/ic_file_upload_16px.png');
}

.broadcastLayoutButtonStyle {
	icon:   Embed('assets/images/ic_send_16px.png');
}

poll|PollChoicesModal {
	fontSize: 14;
	paddingLeft: 16;
	paddingRight: 16;
}

.chatOptionsLabel {
	fontSize: 12;
	color: #000000;
	textRollOverColor: #000000;
	textSelectedColor: #000000;
	fontFamily: Arial;
}

.chatMessageListStyle {
	rollOverColor: #ffffff;
	selectionColor: #f3f3f3;
}

users|EmojiGrid {
	backgroundColor: #ffffff;
	horizontalAlign: center;
	paddingLeft: 0;
	paddingRight: 0;
	paddingBottom: 0;
	paddingTop: 0;
}

.emojiGridTile {
	paddingBottom: 10;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 10;
	verticalGap: 6;
	horizontalGap: 6;
}

users|RoomActionsRenderer {
	paddingLeft  : 5;
	paddingRight : 5;
}

.breakoutRoomUserWindowHeadingStyle {
	fontWeight: bold;
}

.breakoutRoomSettingTitleStyle {
	fontFamily: Arial;
	fontSize: 20;  
	fontWeight: bold;
}

.roomsContainer {
	horizontalAlign : center;
	verticalGap: 10;
	horizontalGap: 10;
	paddingTop: 20;
	paddingBottom: 20;
}

.breakoutTipBox {
	horizontalAlign: center;
}

.breakoutRoomsBox {
	paddingTop: 12;
	horizontalAlign: center;
}

.breakoutRoomTimerBox {
	backgroundColor: #CCCCCC;
	verticalAlign: middle;
	horizontalAlign: center;
}

.chatCopyButtonStyle{
	icon:   Embed('assets/images/ic_content_copy_black_16px.png');
}

*/