@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace libChat "org.bigbluebutton.lib.chat.views.*";
@namespace main "org.bigbluebutton.air.main.views.*";

@font-face { 
	src: 		url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
	fontFamily:	SourceSansPro;
	fontStyle:	normal;
	fontWeight:	normal;
	embedAsCFF:	true;
}

@font-face { 
	src:		url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf");
	fontFamily:	SourceSansPro;
	fontStyle:	normal;
	fontWeight:	bold;
	embedAsCFF:	true;
}

@font-face { 
	src:		url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf");
	fontFamily:	SourceSansPro;
	fontStyle:	italic;
	fontWeight:	normal;
	embedAsCFF:	true;
}

@font-face { 
	src:		url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
	fontFamily:	SourceSansPro;
	fontStyle:	normal;
	fontWeight:	heavy;
	embedAsCFF:	true;
}

@font-face { 
	src: 		url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
	fontFamily:	SourceSansProMX;
	fontStyle:	normal;
	fontWeight:	normal;
	embedAsCFF:	false;
}

@font-face {
	src: 		url("../../shared/assets/fonts/BBBIcons/bbb-icons.ttf");
	fontFamily:	BBBIcons;
	fontStyle:	normal;
	fontWeight:	normal;
	embedAsCFF:	true;
}

@font-face {
	src: 		url("../../shared/assets/fonts/BBBIcons/bbb-icons.ttf");
	fontFamily:	BBBIcons;
	font:	normal;
	fontWeight:	bold;
	embedAsCFF:	true;
}

/* Shared s */

global
{
	font-family:	SourceSansPro;
}

/* Classes s */

s|Application
{
	backgroundColor: PropertyReference("bbbBlack");	
}

/* Loading screen */

main|LoadingScreen {
	color           : PropertyReference("bbbWhite");	
	backgroundColor : PropertyReference("bbbBlack");
	fontSize        : 34;
	textAlign       : center;
}


s|TextInput
{
	fontFamily:		SourceSansPro;
}

libChat|NewMessagesIndicator
{
	backgroundColor: 	PropertyReference("bbbRed");
	backgroundAlpha:	1;
	borderColor: 		PropertyReference("bbbRed");
	borderAlpha: 		0;
	color:				PropertyReference("bbbWhite");
	cornerRadius:		6;
	skinClass:			ClassReference("org.bigbluebutton.lib.chat.views.skins.NewMessagesIndicatorSkin");
}

.mainView
{
	backgroundColor:	PropertyReference("bbbBlack");	
}

.subViewContent
{
	backgroundColor:	PropertyReference("bbbWhite");
}

.titleLabel
{
	color: 		PropertyReference("bbbWhite");
	fontSize:	24;
	left: 90;
	right: 90;
}

.topButton
{
	iconSize  : 30;
	iconColor : PropertyReference("bbbWhite");
	iconFont  : BBBIcons;
	skinClass : ClassReference("org.bigbluebutton.lib.main.views.skins.TopButtonSkin");
}

.topLeftButton {
	left: 30;
}

.topRightButton {
	right: 30;
}

.participantsButton
{
	icon: "\ue906";
}

.settingsButton
{
	icon: "\ue902";
}

.presentationButton
{
	icon: "\ue90c";
}

.backButton
{
	icon: "\ue90e";
}

.menuButton
{
	backgroundColor         : PropertyReference("bbbBlue");
	selectedBackgroundColor : PropertyReference("bbbGrey");
	color                   : PropertyReference("bbbWhite");
	fontSize				: 14;
	iconSize				: 30;
	iconColor				: PropertyReference("bbbWhite");
	iconFont				: BBBIcons;
	skinClass               : ClassReference("org.bigbluebutton.lib.main.views.skins.MenuButtonSkin");
}

.micOnButton
{
	icon : "\ue91b";
}

.micOffButton
{
	icon : "\ue91c";
}

.camOnButton
{
	icon : "\ue921";
}

.camOffButton
{
	icon : "\ue905";
}

.handStatusButton
{
	icon : "\ue910";
}

.participantIcon
{
	circleColor : PropertyReference("bbbBlack");
	width  : 32;
	height : 32;
	fontSize : 12;
}

.chatMessage
{
	nameFontSize: 		16;
	timeFontSize:		16;
}

.sendButton
{
	color:		PropertyReference("bbbGrey");
	fontFamily:	BBBIcons;
	fontSize:	20;
	borderColor:	PropertyReference("bbbGrey");
	borderWeight:	2;
	cornerRadius:	4;
	skinClass:	ClassReference("org.bigbluebutton.lib.chat.views.skins.SendButtonSkin");
}

.messageInput
{
	fontFamily: SourceSansProMX;
	contentBackgroundAlpha: 0;
	skinClass:	ClassReference("org.bigbluebutton.air.chat.views.skins.MessageInputSkin");
}

.content
{
	fontSize:	14;
	color:		PropertyReference("bbbBlack");
}

/*
.panel
{
	backgroundColor:	PropertyReference("bbbWhite");
	backgroundAlpha:	1;
	padding:			6;
	skinClass:			ClassReference("org.bigbluebutton.web.common.skins.PanelSkin");
}

.panelTitle
{
	fontSize:		18;
	fontWeight:		bold;
	color:			PropertyReference("bbbWhite");
	paddingBottom:	10;
}

*/

.icon
{
	fontSize:	20;
	fontFamily:	BBBIcons;
	color:		PropertyReference("bbbGrey");
}