@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace chat "org.bigbluebutton.air.chat.views.*";
@namespace main "org.bigbluebutton.air.main.views.*";
@namespace participants "org.bigbluebutton.air.participants.views.*";
@namespace user "org.bigbluebutton.air.user.views.*";
@namespace settings "org.bigbluebutton.air.settings.views.*";
@namespace settingsAudio "org.bigbluebutton.air.settings.views.audio.*";
@namespace settingsChat "org.bigbluebutton.air.settings.views.chat.*";
@namespace settingsLock "org.bigbluebutton.air.settings.views.lock.*";
@namespace settingsCamera "org.bigbluebutton.air.settings.views.camera.*";
@namespace ex "http://flex.apache.org/experimental/ns";
@namespace supportClasses "spark.skins.mobile.supportClasses.*";

@font-face {
	src        : url("assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : normal;
	fontWeight : normal;
	embedAsCFF : true;
}

@font-face {
	src        : url("assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : normal;
	fontWeight : bold;
	embedAsCFF : true;
}

@font-face {
	src        : url("assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : italic;
	fontWeight : normal;
	embedAsCFF : true;
}

@font-face {
	src        : url("../assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : normal;
	fontWeight : heavy;
	embedAsCFF : true;
}

@font-face {
	src        : url("assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
	fontFamily : SourceSansProMX;
	fontStyle  : normal;
	fontWeight : normal;
	embedAsCFF : false;
}

@font-face {
	src        : url("assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf");
	fontFamily : SourceSansProMX;
	fontStyle  : normal;
	fontWeight : bold;
	embedAsCFF : false;
}

@font-face {
	src        : url("assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf");
	fontFamily : SourceSansProMX;
	fontStyle  : italic;
	fontWeight : normal;
	embedAsCFF : false;
}

@font-face {
	src        : url("assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
	fontFamily : SourceSansProMX;
	fontStyle  : normal;
	fontWeight : heavy;
	embedAsCFF : false;
}

/* Shared styles */

global {
	font-family : SourceSansPro;
	color       : PropertyReference("bbbBlack");
}

/* Classes */

s|Application {
	backgroundColor : PropertyReference("bbbBlack");
}

s|Button {
	fontFamily 				: SourceSansPro;
	color                   : PropertyReference("white");
	backgroundColor         : PropertyReference("blue500");
	borderColor             : PropertyReference("white");
	selectedBackgroundColor : PropertyReference("blue900");
	skinClass               : ClassReference("org.bigbluebutton.air.main.views.skins.ActionButtonSkin");
}

s|Callout
{
	skinClass: ClassReference("spark.skins.ios7.CalloutSkin");
	backgroundColor : #FFFFFF;
}

/* Loading screen */
main|LoadingScreen {
	color           : PropertyReference("white");
	backgroundColor : PropertyReference("bbbBlack");
	textAlign       : center;
}

/* Main view */

main|MainView {
	backgroundColor : PropertyReference("bbbBlack");
}

main|RectCoverView {
	backgroundColor : PropertyReference("bbbBlack");
}

main|MenuButtons {
	backgroundColor : PropertyReference("bbbBlack");
}

.no-background {
	backgroundAlpha: 0;
}


main|TopToolbarBase {
	textAlign : center;
	backgroundColor : PropertyReference("bbbBlack");
}

participants|ParticipantsViewBase {
	backgroundColor : PropertyReference("white");
	color           : PropertyReference("blue900");
}

settings|SettingsViewBase, settingsAudio|AudioSettingsViewBase, settingsChat|ChatSettingsViewBase, settingsLock|LockSettingsViewBase, settingsCamera|CameraSettingsViewBase {
	color            : PropertyReference("grey700");
	headerBackground : PropertyReference("blue500");
	separatorColor   : PropertyReference("grey200");
}

participants|ParticipantsViewBase s|List {
	contentBackgroundColor : PropertyReference("white");
}

user|UserDetailsView {
	color            : PropertyReference("grey700");
	headerBackground : PropertyReference("blue500");
	separatorColor   : PropertyReference("grey200");
}

chat|ChatViewBase {
	inputBackgroundColor : PropertyReference("grey100");
	inputBorderColor     : PropertyReference("grey300");
}

ex|ProgressBar {
	skinClass            : ClassReference("org.bigbluebutton.air.common.views.skins.ProgressBarSkin");
	fontFamily           : SourceSansProMX;
	trackBackgroundColor : PropertyReference("grey100");
	barColor             : PropertyReference("bbbBlue");
	percentColor         : PropertyReference("white");
}

s|ToggleSwitch {
	accentColor : PropertyReference("green500");
	color       : PropertyReference("white");
	fontFamily  : SourceSansProMX;
	skinClass   : ClassReference("org.bigbluebutton.air.common.views.skins.MobileToggleSwitchSkin");
}

s|HSlider {
	skinClass : ClassReference("spark.skins.ios7.HSliderSkin");
}

s|CheckBox {
	skinClass   : ClassReference("org.bigbluebutton.air.common.views.skins.MobileCheckBoxSkin");
	fontFamily  : SourceSansProMX;
	chromeColor : PropertyReference("white");
}

main|EmojiItemRenderer {
	iconFont      : BBBIcons;
	iconColor     : PropertyReference("grey700");
	color         : PropertyReference("grey700");
	selectedColor : PropertyReference("bbbBlue");
}


.statusList {
	contentBackgroundAlpha : 0;
}

.sectionTitle {
	backgroundColor : PropertyReference("grey100");
	color           : PropertyReference("grey700");
}

.participantTitle {
	color : PropertyReference("blue900");
}

.participantStatus {
	color : PropertyReference("grey700");
}

chat|NewMessagesIndicator {
	backgroundColor : PropertyReference("bbbRed");
	backgroundAlpha : 1;
	color           : PropertyReference("white");
	skinClass       : ClassReference("org.bigbluebutton.air.chat.views.skins.NewMessagesIndicatorSkin");
}

chat|ChatItemRenderer {
	color     : PropertyReference("bbbDarkGrey");
	nameColor : PropertyReference("blue900");
}

user|UserItemRenderer {
	color : PropertyReference("grey700");
}

settings|SettingsItemRenderer {
	color     : PropertyReference("blue900");
	iconColor : PropertyReference("grey700");
}

.subViewContent {
	backgroundColor : PropertyReference("white");
}

.titleGroup {
	color : PropertyReference("white");
}

.topButton, .chatIcon, .settingsIcon {
	iconColor  : PropertyReference("white");
	fontFamily : BBBIcons;
	skinClass  : ClassReference("org.bigbluebutton.air.main.views.skins.TopButtonSkin");
}

.recordIcon {
	color      : PropertyReference("bbbRed");
	fontFamily : BBBIcons;
}

.actionButton {
	color                   : PropertyReference("white");
	cornerRadius            : 5;
	backgroundColor         : PropertyReference("blue500");
	borderColor             : PropertyReference("white");
	fontFamily              : SourceSansPro;
	selectedBackgroundColor : PropertyReference("blue900");
	skinClass               : ClassReference("org.bigbluebutton.air.main.views.skins.ActionButtonSkin");
}

.saveButton {
	color      : PropertyReference("white");
	fontFamily : SourceSansPro;
	fontWeight : normal;
	skinClass  : ClassReference("org.bigbluebutton.air.main.views.skins.SaveButtonSkin");
}

.voteButton {
	color                   : PropertyReference("white");
	cornerRadius            : 0;
	borderVisible 			: false;
	backgroundColor         : PropertyReference("bbbBlue");
	fontFamily              : SourceSansPro;
	selectedBackgroundColor : PropertyReference("darkBlue");
	skinClass               : ClassReference("org.bigbluebutton.air.main.views.skins.ActionButtonSkin");
}

.settingsIcon {
	iconColor : PropertyReference("grey700");
}

.chatIcon {
	color : PropertyReference("grey700");
}

.menuButton, .menuButtonRed {
	fontFamily              : SourceSansPro;
	backgroundColor         : PropertyReference("bbbBlue");
	selectedBackgroundColor : PropertyReference("darkBlue");
	iconFont                : BBBIcons;
	iconColor               : PropertyReference("white");
	skinClass               : ClassReference("org.bigbluebutton.air.main.views.skins.MenuButtonSkin");
}

.menuButtonRed {
	backgroundColor : PropertyReference("bbbRed");
}

.participantIcon {
	color       : PropertyReference("grey700");
	circleColor : PropertyReference("grey700");
}

.participantIconSettings {
	color       : PropertyReference("white");
	circleColor : PropertyReference("white");
}

.sendButton {
	color       : PropertyReference("bbbWhite");
	fontFamily  : BBBIcons;
	backgroundColor : PropertyReference("bbbBlue");
	skinClass   : ClassReference("org.bigbluebutton.air.chat.views.skins.SendButtonSkin");
}

.messageInput {
	fontFamily             : SourceSansProMX;
	contentBackgroundAlpha : 0;
	/*skinClass              : ClassReference("org.bigbluebutton.air.chat.views.skins.MessageInputSkin");*/
}

.content {
	color : PropertyReference("bbbBlack");
}

.leaveLabel {
	color : PropertyReference("blue500");
}

.micLevelProgressBar {
	showLabel : false;
}

.echoTestLabel {
	textAlign : center;
}

.userDetailsButton {
	color : PropertyReference("white");
}

.audioButtonStyle {
	borderAlphaUp       : 0;
	borderAlphaOver     : 1;
	borderAlphaDown     : 1;
	borderAlphaDisabled : 0;
	
	fillColorUp         : PropertyReference("blue500");
	borderColorOver     : PropertyReference("grey700");
	borderColorDown     : PropertyReference("grey700");
}
