@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace libChat "org.bigbluebutton.lib.chat.views.*";
@namespace main "org.bigbluebutton.air.main.views.*";

@font-face { 
	src        : url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : normal;
	fontWeight : normal;
	embedAsCFF : true;
}

@font-face { 
	src        : url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : normal;
	fontWeight : bold;
	embedAsCFF : true;
}

@font-face { 
	src        : url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : italic;
	fontWeight : normal;
	embedAsCFF : true;
}

@font-face { 
	src        : url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf");
	fontFamily : SourceSansPro;
	fontStyle  : normal;
	fontWeight : heavy;
	embedAsCFF : true;
}

@font-face { 
	src        : url("../../shared/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
	fontFamily : SourceSansProMX;
	fontStyle  : normal;
	fontWeight : normal;
	embedAsCFF : false;
}

@font-face {
	src        : url("../../shared/assets/fonts/BBBIcons/bbb-icons.ttf");
	fontFamily : BBBIcons;
	fontStyle  : normal;
	fontWeight : normal;
	embedAsCFF : true;
}

@font-face {
	src        : url("../../shared/assets/fonts/BBBIcons/bbb-icons.ttf");
	fontFamily : BBBIcons;
	fontStyle  : normal;
	fontWeight : bold;
	embedAsCFF : true;
}

/* Shared styles */

global
{
	font-family : SourceSansPro;
}

/* Classes */

s|Application
{
	backgroundColor : PropertyReference("bbbBlack");	
}

/* Loading screen */

main|LoadingScreen {
	color           : PropertyReference("bbbWhite");	
	backgroundColor : PropertyReference("bbbBlack");
	textAlign       : center;
}

/* Main view */

main|MainView
{
	backgroundColor : PropertyReference("bbbBlack");	
}

libChat|NewMessagesIndicator
{
	backgroundColor : PropertyReference("bbbRed");
	backgroundAlpha : 1;
	borderColor     : PropertyReference("bbbRed");
	borderAlpha     : 0;
	color           : PropertyReference("bbbWhite");
	cornerRadius    : 6;
	skinClass       : ClassReference("org.bigbluebutton.lib.chat.views.skins.NewMessagesIndicatorSkin");
}

.subViewContent
{
	backgroundColor : PropertyReference("bbbWhite");
}

.titleLabel
{
	color : PropertyReference("bbbWhite");
}

.topButton
{
	iconColor : PropertyReference("bbbWhite");
	iconFont  : BBBIcons;
	skinClass : ClassReference("org.bigbluebutton.lib.main.views.skins.TopButtonSkin");
}

.participantsButton
{
	icon : "\ue906";
}

.settingsButton
{
	icon : "\ue902";
}

.presentationButton
{
	icon : "\ue90c";
}

.backButton
{
	icon : "\ue90e";
}

.menuButton
{
	backgroundColor         : PropertyReference("bbbBlue");
	selectedBackgroundColor : PropertyReference("bbbGrey");
	color                   : PropertyReference("bbbWhite");
	iconColor				: PropertyReference("bbbWhite");
	iconFont				: BBBIcons;
	skinClass               : ClassReference("org.bigbluebutton.lib.main.views.skins.MenuButtonSkin");
}

.micOnButton
{
	icon : "\ue91b";
}

.micOffButton
{
	icon : "\ue91c";
}

.camOnButton
{
	icon : "\ue921";
}

.camOffButton
{
	icon : "\ue905";
}

.handStatusButton
{
	icon : "\ue910";
}

.participantIcon
{
	circleColor : PropertyReference("bbbBlack");
}

.sendButton
{
	color       : PropertyReference("bbbGrey");
	fontFamily  : BBBIcons;
	borderColor : PropertyReference("bbbGrey");
	skinClass   : ClassReference("org.bigbluebutton.lib.chat.views.skins.SendButtonSkin");
}

.messageInput
{
	fontFamily             : SourceSansProMX;
	contentBackgroundAlpha : 0;
	skinClass              : ClassReference("org.bigbluebutton.air.chat.views.skins.MessageInputSkin");
}

.content
{
	color : PropertyReference("bbbBlack");
}

/*
.panel
{
	backgroundColor:	PropertyReference("bbbWhite");
	backgroundAlpha:	1;
	padding:			6;
	skinClass:			ClassReference("org.bigbluebutton.web.common.skins.PanelSkin");
}

.panelTitle
{
	fontSize:		18;
	fontWeight:		bold;
	color:			PropertyReference("bbbWhite");
	paddingBottom:	10;
}

*/

.icon
{
	fontFamily : BBBIcons;
	color      : PropertyReference("bbbGrey");
}
