@import '/imports/ui/stylesheets/variables/_all';
@import '/imports/ui/stylesheets/mixins/_indicators';

:root {
  --navbar-height: 3.9375rem; // TODO: Change to NavBar real height
  --actionsbar-height: 75px; // TODO: Change to ActionsBar real height
  --bars-padding: calc(
    var(--lg-padding-x) - 0.45rem
  ); // -.45 so user-list and chat title is aligned with the presentation title
  --userlist-handle-width: 5px; // 5px so user-list and chat resize handle render as the same size
  --poll-pane-min-width: 20em;
  --panel-margin-left: 0.1em;
}

.main {
  @extend %flex-column;
  position: relative;
}

.layout {
  @extend %flex-column;
  background-color: #06172a;
}

.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  padding: var(--bars-padding) var(--bars-padding) 0 var(--bars-padding);
}

.wrapper {
  @extend %flex-column;
  position: relative;
  flex: 1;
  overflow: hidden;

  @include mq($medium-up) {
    flex-flow: row;
  }
}

%full-page {
  position: absolute;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;

  @include mq($small-only) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include mq($medium-up) {
    position: relative;
  }
}

.content,
.noPanelContent {
  @extend %full-page;
  order: 3;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    opacity: 0;
    pointer-events: none;

    :global(.animationsEnabled) & {
      transition: opacity 0.3s;
    }
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  @include mq($medium-up) {
    flex: 5;
    order: 2;
  }
}

.content {
  margin: 0 0 0 var(--panel-margin-left);

  [dir='rtl'] & {
    margin: 0 var(--panel-margin-left) 0 0;
  }
}

.userList {
  @extend %full-page;
  @extend %text-elipsis;
  @extend %highContrastOutline;
  outline-style: solid;
  z-index: 5;
  overflow: visible;
  order: 1;

  @include mq($small-only) {
    top: var(--navbar-height);
  }

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 1;
    height: 100%;
  }

  @include mq($xlarge-up) {
    flex-basis: 10vw;
    height: 100%;
  }
}

.userlistPad {
  background-color: var(--color-off-white);
  width: var(--userlist-handle-width);
}

.compact {
  flex-basis: 4.6rem;
}

.poll,
.breakoutRoom,
.note,
.captions,
.chat {
  @extend %full-page;
  @extend %highContrastOutline;
  outline-style: solid;
  order: 2;
  height: 100%;
  @include mq($small-only) {
    z-index: 5;
    height: auto;
    top: var(--navbar-height);
    overflow: visible;
  }

  @include mq($medium-up) {
    // flex: 0 25vw;
    order: 1;
  }

  @include mq($xlarge-up) {
    // flex-basis: 20vw;
  }
}

.poll {
  background-color: var(--color-white);
  min-width: var(--poll-pane-min-width);
  padding: 1rem;

  @include mq($small-only) {
    overflow: auto;
  }
}

.breakoutRoom {
  height: 100%;
  // width: 20vw;
  background-color: var(--color-white);
  @include mq($small-only) {
    // width: auto;
    height: auto;
  }
}

.sidebar {
  @extend %full-page;
  z-index: 4;

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 2;
  }
}

.media {
  @extend %full-page;
  flex: 1 100%;
  order: 2;
  flex-direction: row;
  position: relative;
  margin: 0 0 0 var(--panel-margin-right);
  overflow: hidden;
  z-index: 0;

  [dir='rtl'] & {
    margin: 0 var(--panel-margin-right) 0 0;
  }

  @include mq($portrait) {
    flex-direction: column;
  }
}

.captionsWrapper {
  height: auto;
  bottom: 100px;
  left: 20%;
  z-index: 5;
}

.actionsbar {
  flex: 1;
  padding: var(--bars-padding);
  position: relative;
  order: 3;
}
