@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/variables/general";
@import "/imports/ui/stylesheets/variables/palette";
@import "/imports/ui/stylesheets/variables/typography";
@import '/imports/ui/stylesheets/mixins/_indicators';

:root {
  --navbar-height: 3.9375rem; // TODO: Change to NavBar real height
  --actionsbar-height: 75px; // TODO: Change to ActionsBar real height
  --bars-padding: calc(var(--lg-padding-x) - .45rem); // -.45 so user-list and chat title is aligned with the presentation title
  --userlist-handle-width: 5px; // 5px so user-list and chat resize handle render as the same size
  --poll-pane-min-width: 20em;
  --panel-margin-left: 0.1em;
}

.main {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fefefe;
}

.navbar {
  height: 9%;
  order: 1;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);

  padding: var(--bars-padding) var(--bars-padding) 0 var(--bars-padding);

  @include mq($small-only) {
    background-color: #0f4c81;
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.container {
  order: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.panelContainer {
  height: 91%;
  order: 2;
  display: flex;
  flex-direction: row;
  position: relative;
}

%full-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  @include mq($small-only) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include mq($medium-up) {
    position: relative;
  }
}

.noAudio {
  @extend %full-page;
  justify-content: center;
  @include mq($medium-up) {
    flex: 1;
    max-height: 85%;
  }
}

.presentationPanel {
  @extend %full-page;
  order: 2;
  top: 4%;
  
  @include mq($medium-up) {
    flex: 40%;
    right: 1.5%;
  }
}

.content, .noPanelContent {
  @extend %full-page;
  // top: 2;
  
  @include mq($medium-up) {
    flex: 100%;
  }
}

.content{
  margin:0 0 0 var(--panel-margin-left);

  [dir="rtl"] & {
    margin:0 var(--panel-margin-left) 0 0;
  }
}

.userList {
  @extend %full-page;
  @extend %text-elipsis;
  @include highContrastOutline();
  outline-style: solid;
  z-index: 2;
  overflow: visible;
  order: 1;

  @include mq($small-only) {
    top: 10%;
  }

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 1;
    height: 100vh;
  }

  @include mq($xlarge-up) {
    flex-basis: 10vw;
    height: 100vh;
  }
}

.userlistPad {
  background-color: #0f4c81;
  width: var(--userlist-handle-width);
}

.compact {
  flex-basis: 4.6rem;
}

.poll,
.breakoutRoom,
.note,
.captions,
.chat {
  @extend %full-page;
  @include highContrastOutline();
  outline-style: solid;
  order: 1;
  height: 100%;
  @include mq($small-only) {
    z-index: 3;
    height: auto;
    overflow: visible;
  }

  @include mq($medium-up) {
    flex: 0 25vw;
    order: 1;
  }

  @include mq($xlarge-up) {
    flex-basis: 20vw;
  }
}

.poll {
  background-color: var(--color-white);
  min-width: var(--poll-pane-min-width);
  padding: 1rem;
}

.breakoutRoom {
  height: 100%;
  width: 20vw;
  background-color: var(--color-white);
  @include mq($small-only) {
    width: auto;
    height: auto;
  }
}

.sidebar {
  @extend %full-page;
  z-index: 4;

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 2;
  }
}

.media {
  @extend %full-page;
  flex: 1 40%;
  order: 2;
  position: relative;
  margin: 0 0 0 var(--panel-margin-right);
  overflow: hidden;

  [dir="rtl"] & {
    margin: 0 var(--panel-margin-right) 0 0;
  }
}

.noMedia {
  @extend %full-page;
  flex: 0 5%;
}

.captionsWrapper {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 100px;
  left: 20%;
  z-index: 2;
}

.actionsbar {
  @extend %full-page;
  flex: 2 auto;
  position: relative;
  order: 3;
  display: flex;
  flex-direction: column;
}

.chatWrapper{
  position: relative;
  display: flex;
   flex: auto;
   flex-direction: row;
   align-items: start;
   flex-wrap: nowrap;
 }

.hide{
  border: 0;
  flex: end;
  flex-flow: end;
    align-items: end;
background: transparent;
  >i {
    color: #0f4c81;
  }
}
.slide{
  flex: auto;
   flex-flow: end;
   flex-direction: end;
   align-items: flex-end;
   align-self: center;
}

.chatChannel{
  flex-wrap: nowrap;
  align-self: stretch;
}

.button {
  span:first-child {
    box-shadow: none;
    border: 0.5px solid #5594d4;
  }
}