@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/variables/general";
@import "/imports/ui/stylesheets/variables/palette";
@import "/imports/ui/stylesheets/variables/typography";

:root {
  --navbar-height: 63px; // TODO: Change to NavBar real height
  --actionsbar-height: 75px; // TODO: Change to ActionsBar real height
  --bars-padding: calc(var(--lg-padding-x) - .45rem); // -.45 so user-list and chat title is aligned with the presentation title
  --userlist-handle-width: 5px; // 5px so user-list and chat resize handle render as the same size
  --poll-pane-min-width: 20em;
  --panel-margin-left: 0.1em;
}

.main {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: relative;
  text-align: center;

  font-size: 1.5rem;
  padding: var(--bars-padding);
}

.wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;

  @include mq($medium-up) {
    flex-direction: row;
  }
}

%full-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;

  @include mq($small-only) {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @include mq($medium-up) {
    position: relative;
  }
}

.content, .noPanelContent {
  @extend %full-page;
  order: 3;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
  }

  &:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .45) -20%, transparent 20%);
  }

  &:after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .45) -20%, transparent 20%);
  }

  @include mq($medium-up) {
    flex: 5;
    order: 2;
  }
}

.content{
  margin-left: var(--panel-margin-left);
}

.userList {
  @extend %full-page;
  @extend %text-elipsis;

  z-index: 2;
  overflow: visible;
  order: 1;

  @include mq($small-only) {
    top: var(--navbar-height);
  }

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 1;
  }

  @include mq($xlarge-up) {
    flex-basis: 10vw;
  }
}

.userlistPad {
  background-color: var(--color-off-white);
  width: var(--userlist-handle-width);
}

.compact {
  flex-basis: 4.6rem;
}

.poll,
.breakoutRoom,
.note,
.chat {
  @extend %full-page;

  order: 2;
  height: 100%;
  @include mq($small-only) {
    z-index: 3;
    height: auto;
    top: var(--navbar-height);
    overflow: visible;
  }

  @include mq($medium-up) {
    flex: 0 25vw;
    order: 1;
  }

  @include mq($xlarge-up) {
    flex-basis: 20vw;
  }
}

.poll {
  background-color: var(--color-white);
  min-width: var(--poll-pane-min-width);
  padding: 1rem;
}

.breakoutRoom {
  height: 100%;
  width: 20vw;
  background-color: var(--color-white);
  @include mq($small-only) {
    width: auto;
  }
}

.sidebar {
  @extend %full-page;
  z-index: 4;

  @include mq($medium-up) {
    flex: 0 15vw;
    order: 2;
  }
}

.media {
  @extend %full-page;
  flex: 1 100%;
  order: 2;
  flex-direction: row;
  position: relative;
  margin-left: var(--panel-margin-right);
  @include mq($portrait) {
    flex-direction: column;
  }
}

.closedCaptionBox {
  position: relative;
  flex-basis: 15vw;
  order: 2;

  @include mq($portrait) {
    min-height: 35%;
  }
}

.closedCaptions {
  order: 3;
  flex-basis: 20%;
  max-width: 20%;
}

.actionsbar {
  flex: 1;
  padding: var(--bars-padding);
  position: relative;
  order: 3;
}
