[Unit]
Description=BigBlueButton Libre Office container %i
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/tmp
ExecStart=/usr/share/bbb-libreoffice/libreoffice_container.sh %i 
ExecStop=/usr/bin/docker kill bbb-libreoffice-%i
Restart=always
RestartSec=60
SuccessExitStatus=
TimeoutStopSec=30
PermissionsStartOnly=true
LimitNOFILE=1024

[Install]
WantedBy=multi-user.target

