.translationPanel{
  min-width: 300px;
  height: 100%;
  background-color: var(--color-white);
  padding-left: 14px;
}

.addLanguage{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  color: #6096D6;
}

.languageForm{
  background: #E8ECF0;
  border: 1px solid #8B9AA8;
  box-sizing: border-box;
  border-radius: 3px;
  width: 160px;
  height: 33px;
}

.buttonContainer{
  background: #E8ECF0;
  border: 1px solid #8B9AA8;
  box-sizing: border-box;
  border-radius: 3px;
  width: 95%;
  position: relative;
  padding-left: 5px;
  p{
    text-align: center;
  }
}

.hideBtn {
  position: relative;
  background-color: var(--color-white);
  display: block;
  margin: var(--border-size-large);
  margin-bottom: var(--border-size);
  padding-left: 0;
  padding-right: inherit;

  [dir="rtl"] & {
    padding-left: inherit;
    padding-right: 0;
  }

  > i {
    color: var(--color-gray-dark);
    font-size: smaller;

    [dir="rtl"] & {
      -webkit-transform: scale(-1, 1);
      -moz-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }

  &:hover {
    background-color: var(--color-white);
  }

}
.thInfo {
  width: 180px;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  transition: all 0.15s ease;
  padding: 10px;
  color: #333;
  border-radius: 10px;
}

[data-tooltip]:hover:before {
  opacity: 1;
  background: lightgray;
  margin-top: -50px;
  margin-left: 20px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}

.speechDetectionThresholdWrapper {
  max-width: 270px;
}

.speechDetectionThresholdExplanation {
  margin: 5px 0 0 0;
  font-size: .8em;
  text-align: justify;
}
