h1= title
p Please type a username and meeting ID below and click Sign in to start your BigBlueButton session.

script(src='/js/index/index.js') //all index javascript

// Login form
form(method='post', name='login')
  input(type="text", maxlength="#{max_u}", name="user[name]", placeholder='Enter a username')
  input(type="text", maxlength="#{max_mid}", name="meeting[id]", placeholder="Enter a meeting ID")
  input(type="submit", value='Sign in')
