!!! 5
html
  head
    block head
      title= title
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/font-awesome.css")
      link(rel="stylesheet", href="css/layout.css")

  body
    block content
      #container

  script(src='/js/lib/require/require-min.js')
  - if (typeof(meetings) == 'undefined')
    - meetings = []
  script(type='text/javascript')
    define('globals', function() {
      return {
        bootstrappedMeetings: !{JSON.stringify(meetings)}
      };
    });
  script(src='/js/main.js')
