@import "/imports/ui/stylesheets/variables/_all";

.separator {
  height: 1px;
  background-color: $color-gray-lighter;
  margin-top: $line-height-computed * .5;
  margin-bottom: $line-height-computed * .5;
}

.branding {
  padding: 0 $sm-padding-x;
  width: 100%;
  & > img {
    max-height: 2rem;
    max-width: 100%;
  }
}
