@import "/imports/ui/stylesheets/variables/_all";

.separator {
  height: 1px;
  background-color: #0c3c66;
  margin-bottom: 1.5rem
}

.branding {
  width: 100%;
  height: 6rem;
  align-items: center;
  & > img {
    align-self: center;
    margin: 5% 10%;
    height: 3.5rem;
    width: 80%;
  }
}
