<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONFERENCE" class="ch.qos.logback.core.FileAppender">
		<File>log/chat.log</File>
		<Append>false</Append>
		<Encoding>UTF-8</Encoding>
		<BufferedIO>false</BufferedIO>
		<ImmediateFlush>true</ImmediateFlush>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%date [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CHAT" />
	</root>	
	<logger name="org.bigbluebutton.conference.chat">
		<level value="DEBUG" />
	</logger>			
</configuration>
