<?xml version="1.0" encoding="utf-8" standalone="no"?>
<document type="freeswitch/xml">
  <section name="dialplan" description="Dial Plan For FreeSwitch">
    <context name="public">
      <extension name="test9">
        <condition field="destination_number" expression="<%= confnum %>">
          <action application="answer"></action>
        <action application="conference" data="$1@wideband"></action>
        </condition>
      </extension>
    </context>
  </section>
</document>