<?xml version="1.0" encoding="utf-8" standalone="no"?>  
<document type="freeswitch/xml">
  <section name="result" description="Reject Call">
    <result status="Invalid XML CURL URL"/>
  </section>
</document>