<template name="displayUserIcons">
  <!-- audio, video, locking, presenter/moderator, hand raised -->
  {{#if isUserInAudio userId}}
    <!-- if the user is listen only, only display the one icon -->
    {{#if isUserListenOnlyAudio userId}}
      <span rel="tooltip" data-placement="bottom" title="{{user.name}} is only listening">
        <i class="icon fi-volume-none usericon"></i>
      </span>
    {{else}}
      {{#if isCurrentUser userId}}
        {{#if isUserMuted userId}}
          <span class="muteIcon" rel="tooltip" data-placement="bottom" title="Unmute yourself">
            <i class="ion-ios-mic-off usericon"></i>
          </span>
        {{else}}
          {{#if isCurrentUserTalking}}
            <span class="muteIcon" rel="tooltip" data-placement="bottom" title="you are talking">
              <i class="ion-ios-mic usericon"></i>
            </span>
          {{else}}
          <span class="muteIcon" rel="tooltip" data-placement="bottom" title="you are talking">
            <i class="ion-ios-mic-outline usericon"></i>
          </span>
          {{/if}}
        {{/if}}
      {{else}}
        {{#if isUserMuted userId}}
          <span rel="tooltip" data-placement="bottom" title="{{user.name}} is muted">
            <i class="ion-ios-mic-off usericon"></i>
          </span>
        {{else}}
          {{#if isUserTalking userId}}
          <span rel="tooltip" data-placement="bottom" title="{{user.name}} is talking">
            <i class="ion-ios-mic usericon"></i>
          </span>
          {{else}}
          <span rel="tooltip" data-placement="bottom" title="{{user.name}} is not talking">
            <i class="ion-ios-mic-outline usericon"></i>
          </span>
          {{/if}}
        {{/if}}
      {{/if}}
    {{/if}}
  {{/if}}

  {{#unless isCurrentUser userId}}
    {{#if isCurrentUserModerator}}
      <span class="kickUser" rel="tooltip" data-placement="bottom" title="Kick {{user.name}}">
        <i class="icon fi-x-circle usericon"></i>
      </span>
    {{/if}}
  {{/unless}}

  {{#if isUserSharingVideo userId}}
    <span rel="tooltip" data-placement="bottom" title="{{user.name}} is sharing their webcam">
      <i class="icon fi-video usericon"></i>
    </span>
  {{/if}}

  {{#if userLockedIconApplicable userId}}
    <span rel="tooltip" data-placement="bottom" title="{{user.name}} is locked">
      <i class="icon fi-lock usericon"></i>
    </span>
  {{/if}}
</template>

<template name="usernameEntry">
    <div class="status">
      {{#if isCurrentUserModerator}}
        {{#unless user.presenter}}
          <span class="setPresenter" rel="tooltip" data-placement="bottom" title="set {{user.name}} as presenter">
            <i class="icon fi-projection-screen statusIcon"></i>
          </span>
        {{/unless}}
      {{/if}}
      {{#if user.presenter}}
        <span rel="tooltip" data-placement="bottom" title="{{user.name}} is the presenter">
          <i class="icon fi-projection-screen statusIcon"></i>
        </span>
      {{else}}
        {{#if equals user.role "MODERATOR"}}
          <span rel="tooltip" data-placement="bottom" title="{{user.name}} is a moderator">
            <i class="icon fi-torso statusIcon"></i>
          </span>
        {{else}}
          {{#each emojiIcons}}
            {{#if equals name ../user.emoji_status}}
              {{> icon name=icon size="25" title=title}}
            {{/if}}
          {{/each}}
        {{/if}}
      {{/if}}

    </div>

    {{#if isCurrentUser userId}}
      <span class="userCurrent usernameEntry {{#if hasGotUnreadMailClass 'PUBLIC_CHAT'}}gotUnreadMail{{/if}}" rel="tooltip" data-placement="bottom" title="{{user.name}} (you)">
        <span class="userName">{{user.name}} (you)</span>
      </span>
      {{#if hasGotUnreadMailClass 'PUBLIC_CHAT' }}
        <div class="unreadChatNumber">{{getNumberOfUnreadMessages 'PUBLIC_CHAT'}}</div>
      {{/if}}
    {{else}}
      <span class="usernameEntry {{#if hasGotUnreadMailClass user.userid}}gotUnreadMail{{/if}}" rel="tooltip" data-placement="bottom" title="{{user.name}}">
        <span class="userName"> {{user.name}}</span>
      </span>
      {{#if hasGotUnreadMailClass user.userid }}
        <div class="unreadChatNumber">{{getNumberOfUnreadMessages user.userid}}</div>
      {{/if}}
    {{/if}}
</template>

<template name="userItem">
  {{> usernameEntry}}
  <div id="usericons">
    {{> displayUserIcons}}
  </div>
</template>
