@import "variables";

#settingsModal {
  display: none;
  padding: 0px;
  p {
    margin-bottom: 0px;
  }
  @media @desktop-portrait, @landscape {
    min-width: 430px;
    top: 20% !important;
  }
  @media @mobile-portrait-with-keyboard, @mobile-portrait {
    width: 90%;
    height: 50%;
  }
  .bar {
    padding: 10px;
  }
  .topBar {
    border-bottom: 1px solid grey;
    p:first-child {
      text-align: center;
    }
    p:nth-child(2) {
      float: right;
      text-align: right;
      .closeSettings {
        @media @desktop-portrait, @landscape {
          margin-top: 10px;
          font-size: 30px;
        }
        @media @mobile-portrait-with-keyboard, @mobile-portrait {
          font-size: 450%;
        }
      }
    }
  }
  .bottomBar {
    border-top: 1px solid grey;
    text-align: right;
    @media @desktop-portrait, @landscape {
      height: 69px;
    }
    .closeSettings {
      @media @desktop-portrait, @landscape {
        font-size: 16px;
      }
      @media @mobile-portrait-with-keyboard, @mobile-portrait {
        font-size: 250%;
      }
      position: inherit;
    }

  }
  .settingsBody {
    padding: 10px;
    text-align: center;
    @media @mobile-portrait-with-keyboard, @mobile-portrait {
      font-size: 200%;
      height: 70%;
    }
  }
  .modalTitle {
    font-style: bold;
    font-size: 30px;
  }
  .joinAudioButton {
    width: 80px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.desktopSettingsFieldset {
  margin: auto;
  width: 400px;
  padding: 0px;
  @media @mobile-portrait-with-keyboard, @mobile-portrait {
    height: 30%;
    .settingsButton {
      width: 80%;
      height: 80%;
    }
  }
}
#saveSettings {
  border-radius: 3px;
  padding: 5px 10px 5px 10px;

  @media @desktop-portrait, @landscape {
    margin-top: 5px;
    font-size: 16px;
    width: 80px;
    height: 35px;
  }
  @media @mobile-portrait-with-keyboard, @mobile-portrait {
    font-size: 250%;
  }
}

#logoutModal {
  margin-top: 0px;
  margin-right: 0px;
  top: 5% !important;
  right: 5%;
  position: fixed;
  text-align: center;
  @media @desktop-landscape {
    width: 20%;
  }
  @media @phone-landscape {
    width: 50%;
    height: 50%;
    min-height: 0; // overrides the value from Foundation
    left: 45%;
  }
  @media @tablet-landscape {
    width: 30%;
    height: 40%;
    p {
      font-size: 120%;
    }
  }
  @media @desktop-portrait {
    width: 40%;
  }
  @media @phone-portrait-with-keyboard, @phone-portrait {
    width: 90%;
    height: 40%;
    min-height: 0; // overrides the value from Foundation
    left: 5%;
    p {
      font-size: 150%;
    }
  }
  @media @tablet-portrait-with-keyboard, @tablet-portrait {
    width: 90%;
    height: 20%;
    min-height: 0; // overrides the value from Foundation
    left: 5%;
    p {
      font-size: 150%;
    }
  }
  .logoutButton {
    padding: 0px;
    @media @desktop-portrait, @landscape {
      width: 50px;
      height: 30px;
    }
    @media @mobile-portrait-with-keyboard, @mobile-portrait {
      width: 20%;
      font-size: 150%;
    }
    background-color: rgb(229, 229, 229);
    color: rgb(121, 121, 121);
    font-weight: bold;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #yes { border: 2px solid rgb(71, 164, 255); }
}
