#settingsModal {
  border-radius: 15px; display: none; padding:0px;
  .bar {
    padding: 10px;
  }

  p {
    margin-bottom: 0px;
  }
  .modalTitle {
    margin-left: 20px;
    font-style: normal;
  }

  .joinAudioButton {
    width: 80px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.desktopSettingsFieldset {
  margin: auto;
  width: 400px;
  padding: 0px;
}
