#webcam {
	display: none;
}

#screenshare {
	padding: 5px;
}

.screenshareShow, .screenshareStart, .webcamStart, .webcamShow {
	color: lime;
	font-size: 30px;
}

.screenshareHide, .screenshareStop, .webcamStop, .webcamHide {
	color: red;
	font-size: 30px;
}
