@import "/imports/ui/stylesheets/variables/palette";

.background {
  position: fixed;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-dark);
  color: var(--color-white);
  text-align: center;
}

.icon {
  width: 100%;
  font-size: 10rem;
  margin-bottom: 2rem;
}

.message {
  margin: 0;
  text-transform: capitalize;
  color: var(--color-gray-light);
  font-size: 1.25rem;
  font-weight: 400;
}

.sessionMessage {
  @extend .message;
  font-size: var(--font-size-small);
  margin-bottom: 1.5rem;
}

.codeError {
  margin: 0;
  font-size: 5rem;
  color: var(--color-white);
}

.separator {
  height: 0;
  width: 5rem;
  border: 1px solid var(--color-gray-lighter);
  margin: 1.5rem 0 1.5rem 0;
  align-self: center;
  opacity: .75;
}

.button {
  width: 9rem;
  height: 2rem;
}