@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

.form {
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-end;
  width: 100%;
  position: relative;
  margin-bottom: calc(-1 * var(--sm-padding-x));
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  border: var(--border-size) solid var(--color-gray-lighter);
  background: #fff;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  color: var(--color-gray-light);
  padding: var(--sm-padding-y) var(--sm-padding-x);
  transition: background .3s;
  cursor: pointer;

  --bg-faded: rgba(167,179,189,0.25);

  &:hover,
  &:focus {
    background-color: var(--bg-faded);
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .75;
    background-color: var(--bg-faded);
  }
}

.input {
  @include inputFocus(var(--color-blue-light));

  flex: 1;
  background: #fff;
  background-clip: padding-box;
  margin: 0;
  color: var(--color-text);
  -webkit-appearance: none;
  outline: 0;
  padding: calc(var(--sm-padding-y) * 2.5) calc(var(--sm-padding-x) * 1.25);
  resize: none;
  transition: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  min-height: 2.5rem;
  max-height: 10rem;
  border: 1px solid var(--color-gray-lighter);
  box-shadow: 0 0 0 1px var(--color-gray-lighter);

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .75;
    background-color: rgba(167,179,189,0.25);
  }
}

.sendButton {
  margin-left: var(--sm-padding-x);
  align-self: center;
  font-size: 0.9rem;
  i {
    font-size: 115% !important;
    line-height: 115%;
  }
}

.info {
  font-size: calc(var(--font-size-base) * .75);
  color: var(--color-gray-light);
  text-align: right;
  padding: var(--border-size) 0;

  &:before {
    content: "\00a0"; // non-breaking space
  }
}
