/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


s|Application
{
	backgroundColor: #2A2D33;	
}

.titleLabelStyle
{
	color		: #F3F6F9;
	fontSize	: 24;
}

.menuButtonStyle
{
	backgroundColor         : #299AD5;
	selectedBackgroundColor : #8A9AA7;
	color                   : #F3F6F9;
	fontSize				: 14;
	skinClass               : ClassReference("org.bigbluebutton.lib.main.views.skins.MenuButtonSkin");
}

.micOnButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/mic.png");
}

.micOffButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/mic_off.png");
}

.camOnButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/cam.png");
}

.camOffButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/cam_off.png");
}

.handStatusButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/hand.png");
}