/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

@font-face { 
	src: url("../../common-library/src/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf"); 
	fontFamily: SourceSansPro; 
	fontStyle: normal; 
	fontWeight: normal; 
	embedAsCFF: true;
}

@font-face { 
	src: url("../../common-library/src/assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf"); 
	fontFamily: SourceSansPro; 
	fontStyle: normal; 
	fontWeight: bold; 
	embedAsCFF: true;
}

@font-face { 
	src: url("../../common-library/src/assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf"); 
	fontFamily: SourceSansPro; 
	fontStyle: italic; 
	fontWeight: normal; 
	embedAsCFF: true;
}

@font-face { 
	src: url("../../common-library/src/assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf"); 
	fontFamily: SourceSansPro; 
	fontStyle: normal; 
	fontWeight: heavy; 
	embedAsCFF: true;
}

global
{
	font-family	: SourceSansPro;
}

s|Application
{
	backgroundColor: #2A2D33;	
}

.titleLabelStyle
{
	color		: #F3F6F9;
	fontSize	: 24;
}

.menuButtonStyle
{
	backgroundColor         : #299AD5;
	selectedBackgroundColor : #8A9AA7;
	color                   : #F3F6F9;
	fontSize				: 14;
	skinClass               : ClassReference("org.bigbluebutton.lib.main.views.skins.MenuButtonSkin");
}

.micOnButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/mic.png");
}

.micOffButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/mic_off.png");
}

.camOnButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/cam.png");
}

.camOffButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/cam_off.png");
}

.handStatusButtonStyle
{
	backgroundImage : Embed(source="../../air-client/src/assets/res/drawable-mdpi/hand.png");
}