/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global {
	fontFamily: Myriad Pro;
	content-background-color: #FFFFFF;
	color: #777777;
}

s|Application {
	backgroundColor: #ffffff;
}

mx|ApplicationControlBar {
	highlightAlphas: 0.1, 0;
	fillAlphas: 0, 0;
	fillColors: #32343b, #32343b;
	backgroundColor: #42444c;
	backgroundAlpha: 1;
	cornerRadius: 0;
	dropShadowEnabled: true;
	shadowDistance: 1;
	shadowDirection: center;
	dropShadowColor: #000000;
}

s|Panel {
	borderColor: #dfdfdf;
	borderAlpha: 1;
	shadowDistance: 1;
	dropShadowColor: #666666;
	titleStyleName: "mypanelTitle";
}

mx|Button, .logoutButtonStyle, .chatSendButtonStyle, .helpLinkButtonStyle, .cameraDisplaySettingsWindowProfileComboStyle, .cameraDisplaySettingsWindowCameraSelector, .languageSelectorStyle, .testJavaLinkButtonStyle, .recordButtonStyleNormal, .recordButtonStyleStart, .recordButtonStyleStop, .micSettingsWindowHelpButtonStyle, .bandwidthButtonStyle, .settingsButtonStyle, .acceptButtonStyle, .denyButtonStyle {
	textIndent: 0;
	paddingLeft: 10;
	paddingRight: 10;
	paddingTop: 5;
	paddingBottom: 5;
	highlightAlphas: 0.4, 0;
	fillAlphas: 1, 1, 1, 1;
	fillColors: #fefeff, #e1e2e5, #ffffff, #eeeeee;
	color: #5e5f63;
	textRollOverColor: #5e5f63;
	textSelectedColor: #5e5f63;
	borderColor: #b9babc;
	themeColor: haloBlue;
	fontFamily: Arial;
	fontSize: 12;
}

.micSettingsWindowStyle {
	borderColor: #b9babc;
	borderAlpha: 1;
	borderThicknessLeft: 10;
	borderThicknessTop: 0;
	borderThicknessBottom: 10;
	borderThicknessRight: 10;
	roundedBottomCorners: true;
	cornerRadius: 5;
	headerHeight: 20;
	backgroundAlpha: 1;
	headerColors: #b9babc, #b9babc;
	footerColors: #b9babc, #b9babc;
	backgroundColor: #EFEFEF;
	dropShadowEnabled: true;
	titleStyleName: "micSettingsWindowTitleStyle";
}

.voiceConfDefaultButtonStyle {
	icon: Embed('assets/images/headset.png');    
}

.voiceConfActiveButtonStyle {
	icon: Embed('assets/images/headset_open.png');    
}

.voiceConfInactiveButtonStyle {
	icon: Embed('assets/images/headset_close.png');    
}

.cameraDisplaySettingsWindowStartBtn
{
	icon:   Embed('assets/images/webcam.png');
}

.videoMessageBackgroundStyle {
	backgroundAlpha: 0.6;
	backgroundColor: #b9babc;
}

.videoMessageWarningLabelStyle {
	fontWeight: bold;
	fontSize: 18;
	fontFamily: Arial;
	color: #ffff26;
}

.videoMessageErrorLabelStyle {
	fontWeight: bold;
	fontSize: 18;
	fontFamily: Arial;
	color: #ff2727;
}

.cameraDisplaySettingsWindowStyle {
	borderColor: #b9babc;
	borderAlpha: 1;
	borderThicknessLeft: 10;
	borderThicknessTop: 0;
	borderThicknessBottom: 10;
	borderThicknessRight: 10;
	roundedBottomCorners: true;
	cornerRadius: 5;
	headerHeight: 20;
	backgroundAlpha: 1;
	headerColors: #b9babc, #b9babc;
	footerColors: #b9babc, #b9babc;
	backgroundColor: #EFEFEF;
	dropShadowEnabled: true;
	titleStyleName: "webcamSettingsWindowTitleStyle";
}

.webcamSettingsWindowTitleStyle, .micSettingsWindowTitleStyle {
	fontFamily: Arial;
	fontSize: 20;  
	fontWeight: bold;
}



.webcamDefaultButtonStyle {
	icon: Embed('assets/images/webcam.png');    
}

.webcamOnButtonStyle {
	icon: Embed('assets/images/webcam_on.png');    
}

.webcamOffButtonStyle {
	icon: Embed('assets/images/webcam_close.png');    
}

.helpLinkButtonStyle {
	paddingLeft: 4;
	paddingRight: 4;
	paddingTop: 2;
	paddingBottom: 2;
	fontSize: 16;
	rollOverColor: #cccccc;
	selectionColor: #999999;
	color: #ffffff;
	textRollOverColor: #504f3d;
	textSelectedColor: #504f3d;
	fontWeight: bold;
}

.logoutButtonStyle {
	paddingLeft: 0;
	paddingRight: 0;
	icon: Embed('assets/images/logout.png');
}

.meetingNameLabelStyle {
	fontWeight: bold;
	fontSize: 15;
	fontFamily: Arial;
	color: #e1e2e5;
}

s|Button {
	skinClass: ClassReference("org.bigbluebutton.web.common.skins.BetterButtonSkin");
	alpha: 1;
}

s|Group.videoTextFieldStyle
{
	fontSize:10;
	indent: 20;
	loadingImageSource: "assets/res/drawable-mdpi/videoLoading.png";
}

s|Button {
	skinClass: ClassReference("org.bigbluebutton.web.common.skins.BetterButtonSkin");
	alpha: 0.5;
}

s|Label.chatTimeColor {
	color: #C3C3C3;
}

s|ItemRenderer.chatItemStyle {
	selectionColor: #FFFFFF;
	rollOverColor: #FFFFFF;
	alternatingItemColors: #FFFFFF;
}

/*
https://www.iconfinder.com/icons/172512/mute_icon#size=128
*/
.muteOverlayBtn
{
	upSkin:        Embed('assets/images/audio_20_white.png');
	overSkin:      Embed('assets/images/audio_20_white.png');
	downSkin:      Embed('assets/images/audio_20_white.png');
	disabledSkin:  Embed('assets/images/audio_20_white.png');
}

/*
https://www.iconfinder.com/icons/172499/low_volume_icon#size=128
*/
.unmuteOverlayBtn
{
	upSkin:        Embed('assets/images/audio_muted_20_white.png');
	overSkin:      Embed('assets/images/audio_muted_20_white.png');
	downSkin:      Embed('assets/images/audio_muted_20_white.png');
	disabledSkin:  Embed('assets/images/audio_muted_20_white.png');
}

.closeBtnFocus, .closeBtnNoFocus
{
	upSkin:        Embed(source="assets/images/3_closeButton.png");
	overSkin:      Embed(source='assets/images/3_closeButton.png');
	downSkin:      Embed(source='assets/images/3_closeButton.png');
	disabledSkin:  Embed(source='assets/images/3_closeButton.png');
}

s|Label.chatNameTimeStyle {
	paddingTop: 4;
	paddingLeft: 6;
	paddingRight: 6;
	paddingBottom: 0;
}

s|RichEditableText.msgTextStyle {
	paddingTop: 0;
	paddingLeft: 6;
	paddingRight: 6;
	paddingBottom: 2;
}

.raiseHandButtonStyle {
	icon: Embed(source="assets/images/hand.png");
}

.userButtonStyle {
	
}

.videoToolbarBackgroundTalkingStyle {
	backgroundColor: #20c600;
	backgroundAlpha: 0.6;
}

.videoToolbarBackgroundNotTalkingStyle {
	backgroundColor: #42444c;
	backgroundAlpha: 0.6;
}

.userButtonStyle:disabled {
	borderAlpha: 0;
	backgroundAlpha: 0;
	highlightAlpha: 0;
	lowlightAlpha: 0;
	alpha: 1;
}

.statusHandStyle {
	icon: Embed(source="assets/images/hand.png");
}

.statusPresenterStyle {
	icon: Embed(source="assets/images/presenter.png");
}

.statusModeratorStyle {
	icon: Embed(source="assets/images/moderator.png");
}

.videoToolbarBackgroundNotTalkingStyle {
	backgroundColor: #42444c;
	backgroundAlpha: 0.6;
}

.videoToolbarLabelStyle {
	textIndent: 0;
	color: #ffffff;
	fontFamily: Arial;
}

.nameLabelMeStyle {
	color: #0000FF;
}

.mediaWebcamStyle {
	icon: Embed(source="assets/images/webcam.png");
}

.mediaMicrophoneStyle {
	icon: Embed(source="assets/images/audio.png");
}

.mediaMutedStyle {
	icon: Embed(source="assets/images/audio_muted.png");
}

.mediaListenStyle {
	icon: Embed(source="assets/images/sound.png");
}

.mediaKickStyle {
	icon: Embed(source="assets/images/eject_user.png");
}

.contentFontSize {
	fontSize:12;
}

.subContentFontSize {
	fontSize:12;
}