/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

global {
	fontFamily: Myriad Pro;
	content-background-color: #FFFFFF;
	color: #777777;
}

s|Button {
	skinClass: ClassReference("org.bigbluebutton.web.common.skins.BetterButtonSkin");
	alpha: 1;
}

s|Button {
	skinClass: ClassReference("org.bigbluebutton.web.common.skins.BetterButtonSkin");
	alpha: 0.5;
}

s|Label.chatTimeColor {
	color: #C3C3C3;
}

s|ItemRenderer.chatItemStyle {
	selectionColor: #FFFFFF;
	rollOverColor: #FFFFFF;
	alternatingItemColors: #FFFFFF;
}

s|Label.chatNameTimeStyle {
	paddingTop: 4;
	paddingLeft: 6;
	paddingRight: 6;
	paddingBottom: 0;
}

s|RichEditableText.msgTextStyle {
	paddingTop: 0;
	paddingLeft: 6;
	paddingRight: 6;
	paddingBottom: 2;
}

.userButtonStyle {
	
}

.userButtonStyle:disabled {
	borderAlpha: 0;
	backgroundAlpha: 0;
	highlightAlpha: 0;
	lowlightAlpha: 0;
	alpha: 1;
}

.statusHandStyle {
	icon: Embed(source="assets/images/hand.png");
}

.statusPresenterStyle {
	icon: Embed(source="assets/images/presenter.png");
}

.statusModeratorStyle {
	icon: Embed(source="assets/images/moderator.png");
}

.nameLabelMeStyle {
	color: #0000FF;
}

.mediaWebcamStyle {
	icon: Embed(source="assets/images/webcam.png");
}

.mediaMicrophoneStyle {
	icon: Embed(source="assets/images/audio.png");
}

.mediaMutedStyle {
	icon: Embed(source="assets/images/audio_muted.png");
}

.mediaListenStyle {
	icon: Embed(source="assets/images/sound.png");
}

.mediaKickStyle {
	icon: Embed(source="assets/images/eject_user.png");
}

.contentFontSize {
	fontSize:12;
}

.subContentFontSize {
	fontSize:12;
}