@import "/imports/ui/stylesheets/variables/_all";

$stats-border-color: #d4d9df;
$stats-option-width: 4em;
$stats-element-width: 17%;

$sm-margin: 0.3125rem;
$user-line-height: 1.75rem;

.btn {
  width: 100%;
  margin-top: $sm-padding-y;
  margin-bottom: $sm-padding-y;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  position: relative;
  flex: 1 1 auto;
}

.left,
.right,
.center {
  padding: $sm-padding-y;
  margin-top: $sm-margin;
  margin-bottom: $sm-margin;
  color: $color-text;
}

.left,
.right {
  flex: 0 0 auto;
  position: relative;
  min-width: $stats-element-width;
}

.left {
  width: $stats-option-width;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.right {
  text-align: right;
  max-width: $stats-element-width;
}

.container,
.stats {
  margin-bottom: $sm-padding-x;
}

.stats {
  display: flex;
  flex-direction: column;
  border: 1px solid $stats-border-color;
  border-radius: $border-size-large;
  padding: $md-padding-x;

  > div {
    display: flex;
    flex-direction: row;

    > div:nth-child(even) {
      position: relative;
      width: 50%;
      text-align: center;
    }

  }
}

.container {
    display: flex;
    flex-wrap: wrap;
  }

  .itemR,
  .responseHeading {
    text-align: right;
  }

  .usersHeading,
  .responseHeading {
    font-weight: $headings-font-weight;
  }
  
  .usersHeading,
  .responseHeading,
  .item,
  .itemR {
    width: 50%;
    line-height: $user-line-height;
  }

  .item,
  .itemR {
    line-height: $user-line-height;
    color: $color-text;
  }
