@import "/imports/ui/components/modal/simple/styles";

.btn{
  position: absolute;
  z-index: 4;
}

.debugIcon {
  display: flex;
  svg {
    fill: white;
    width: 20px;
  }
}


.modal {
  @extend .modal;
  padding: var(--jumbo-padding-y);
  min-height: var(--min-modal-height);
  text-align: center;
}

.overlay {
  @extend .overlay;
}

.modalhr {
  width: 100%;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-flow: column;
}

.formElement {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.row {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.col {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;

  &:last-child {
    padding-right: 0;
    padding-left: 1rem;

    [dir="rtl"] & {
      padding-right: 0.1rem;
      padding-left: 0;
    }
  }

  &:first-child {
    padding-left: 0;
  }
}

.label {
  color: var(--color-gray-label);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}