/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-inherit {
    background-color: inherit;
  }
}

.translate-x-0 {
  --tw-translate-x: 0px;
}

.translate-x-2 {
  --tw-translate-x: 0.5rem;
}

.translate-x-4 {
  --tw-translate-x: 1rem;
}

[dir="rtl"] .translate-x-0 {
  --tw-translate-x: 0px;
}

[dir="rtl"] .translate-x-2 {
  --tw-translate-x: -0.5rem;
}

[dir="rtl"] .translate-x-4 {
  --tw-translate-x: -1rem;
}
