<template name="usersList">
   {{#if getInSession "display_usersList"}}
   <div id="userListContainer" class="users-list-container">
      <div class="userList-wrapper-div">
         <span class="userListHeader">Participants: <i>{{getMeetingSize}} Users</i></span>
         <table class="table table-hover">
            <!-- Retrieve all users in the meeting -->
            <tbody class="user-entry">
            {{#each getUsersInMeeting}}
               <tr>
                  {{> userItem}}
               </tr>
            {{/each}}
            </tbody>
         </table>
      </div>
   </div>
   {{/if}}
</template>
