<template name="displayOwnControls">
    <td>{{#if isUserSharingVideo user}}
        <span class="userListSettingIcon glyphicon glyphicon-facetime-video"></span>
    {{/if}}</td>

    <!-- Should use much more noticeable icons than just bootstrap's volume-up & volume-down to differentiate talking but it is good for now -->
    <td>{{#if isUserSharingAudio user}}
          {{#if isUserMuted user}}
            <span class="userListSettingIcon glyphicon glyphicon-volume-off"></span>
          {{else}}
            {{#if isUserTalking user}}
                <span class="userListSettingIcon glyphicon glyphicon-volume-up"></span>
            {{else}}
                <span class="userListSettingIcon glyphicon glyphicon-volume-down"></span>
            {{/if}}
          {{/if}}
    {{/if}}</td>
</template>

<template name="displayStandardUserControls">
  <td>{{#if user.presenter}}<span class="userListSettingIcon glyphicon glyphicon-picture"></span>{{/if}}</td>
</template>

<template name="usernameEntry"> <!-- A template now because more information be added/styled -->
  <td><span>
    {{#if isCurrentUser userId}}
      <strong>{{user.name}} (you)</strong>
    {{else}}
      {{user.name}}
    {{/if}}
  </span></td>
</template>

<template name="userItem">
  {{> usernameEntry}}
  {{> displayOwnControls}}
  {{> displayStandardUserControls}}
</template>
