<template name="usersList">
   <table class="table table-hover users-list-container">
      {{#each getMeetings}}
         <thead>
         <tr>
         <th>
            Participants: <i>{{getMeetingSize meetingName}} users</i>
         </th>
         </tr>
         </thead>
            <!-- Retrieve all users in the meeting -->
            <tbody>
            {{#each getUsersInMeeting meetingName}}
               <tr>
                  <td>
                  {{> userItem}}
                  </td>
               </tr>
            {{/each}}
            </tbody>
      {{/each}}
   </table>
   <div>
      <input type="button" class="signin" id="a1a1a1a1a1a1" value="Signin as RED" />
      <input type="button" class="signin" id="b2b2b2b2b2b2" value="Signin as BLUE" />
      <input type="button" class="signin" id="c3c3c3c3c3c3" value="Signin as Joe" />
   </div>
</template>