@import "../../stylesheets/variables/_all";

.input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.disabled .icon {
  opacity: .5;
  cursor: not-allowed;
}

.icon {
  cursor: pointer;
  font-size: 1.35rem;
  color: var(--color-gray-light);
}

.checked {
  color: var(--color-success);
}
