
@mixin elementFocus($color: #0F70D7){
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 3px $color;
    border-radius: 2px;
  }
}

@mixin inputFocus($shadow, $color: #0F70D7) {
  &:focus {
    outline: none;
    border-radius: 2px;
    box-shadow: 0 0 0 2px $shadow, inset 0 0 0 1px $color;
  }
} 

@mixin customUserlistItemFocus($focus-border-size, $user-list-bg, $list-item-bg-hover, $color-list-item-hover-bg, $color-list-item-focus-border, $sm-padding-y){
  border: $focus-border-size solid $user-list-bg;
  border-radius: $border-radius;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; 
  padding-top: $md-padding-y;
  padding-bottom: $md-padding-y;
  padding-left: $md-padding-y;

  &:hover {
    background-color: $list-item-bg-hover;
  }

  &,
  &:active {
    &:focus {
      background-color: $list-item-bg-hover;
      border: $focus-border-size solid $color-list-item-focus-border;
      border-right: none;
      outline: none;
    }
  }
}

@mixin btnFocus($color) {
  border: none;
  position: relative;
  overflow: visible;
  display: inline-block;

  &,
  &:active {
    &:focus {
      outline: none !important;

      span:first-of-type::before {
        position: absolute;
        content: '';
        top: $focus-border-offset;
        left: $focus-border-offset;
        right: $focus-border-offset;
        bottom: $focus-border-offset;
        box-shadow: inset 0 0 0 2px $color;
      }
    }
  }
}