@import "../../../stylesheets/variables/_all";
@import '/imports/ui/stylesheets/mixins/_indicators';
@import "../../../stylesheets/variables/typography";

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

%recordingControl {
  display: flex;
  border-radius: 2em 2em;

  span {
    border: none;
    box-shadow: none;
    background-color: transparent !important;
    color: var(--color-white) !important;
  }

  &:hover {
    color: var(--color-white) !important;
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 var(--border-size) var(--color-primary);
  }
}

.recordingControlON {
  @extend %recordingControl;

  padding: 5px;
  background-color: var(--color-primary);
  border: var(--border-size-large) solid var(--color-primary);

  &:focus {
    background-clip: padding-box;
    border: var(--border-size-large) solid transparent;
  }
}

.recordingControlOFF {
  @extend %recordingControl;

  padding: 7px;
  border: var(--border-size-small) solid var(--color-white);
  
  &:focus {
    padding: 5px;
    border: var(--border-size-large) solid var(--color-white);
    box-shadow: none;
  }
}

.presentationTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 200;
  color: var(--color-white);
  font-size: var(--font-size-base);
  padding: 0;
  margin: 0 0 0 var(--sm-padding-x);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30vw;

  > [class^="icon-bbb-"] {
    font-size: 75%;
  }

  span {
    vertical-align: middle;
  }
}

.recordingStatusViewOnly {
  display: flex;
}

%recordingIndicator {
  border: var(--border-size-small) solid var(--color-white) !important;
  border-radius: 50%;
  span {
    border: none;
    box-shadow: none;
    background-color: transparent !important;
  }
  position: relative;
  display: inline-block;
  padding: 0 !important;
  width: var(--font-size-large);
  height: var(--font-size-large);
  border-radius: 50%;
  &:after {
    content: '';
    width: calc(var(--font-size-large) / 2);
    height: calc(var(--font-size-large) / 2);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc((var(--font-size-large) / -4));
    margin-left: calc((var(--font-size-large) / -4));
    border-radius: 50%;
  }
}

.recordingIndicatorON {
  @extend %recordingIndicator;
  &:after {
    border: var(--border-size) solid transparent;
    background-color: var(--color-danger);
  }
}

.recordingIndicatorOFF {
  @extend %recordingIndicator;
  &:after {
    background-color: var(--color-white);
  }
}

.isRecordingCircle {
  border: var(--border-size-small) solid var(--color-white) !important;
  border-radius: 50%;
  span {
    border: none;
    box-shadow: none;
    background-color: transparent !important;
  }
}

.recordingIndicator {
  &:hover {
    @include highContrastOutline();
  }

  &:active,
  &:focus,
  &:focus-within {
    @include highContrastOutline();
    outline-style: solid;
  }
}
