<template name="chatbar">
	{{#if getInSession "display_chatbar"}}
		<div id="chat">
			<h3>Chat</h3>
			<ul class="nav nav-tabs">
			  {{> tabButtons}}
			</ul>
			<div id="chatbar-contents">
				<div id="chatScrollWindow">
				{{#if getInSession "display_publicPane"}}
					{{> messageBar}}
				{{else}}
					{{> optionsBar}}
				{{/if}}
				</div>
			</div>
		</div>
	{{/if}}
</template>

<template name="message">
	<div class="chat-message">		
		<span class="chat-username">{{from}}</span>
		<p class="chat-timestamp">{{timestamp}}</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;{{contents}}</p>
		<br/>
	</div>
</template>

<template name="messageBar">
	<div>
		{{#each getMessagesInChat}}
			{{> message}}
		{{/each}}
		{{> chatGreeting}} 
	</div>
	{{scrollToBottom}}
</template>

<template name="optionsBar">
	<div>
		<p>Select a person to chat with privately</p>
		<div class="private-chat-user-box">
		<table class="table table-hover">
            <tbody class="private-chat-user-entry">
            {{#each getUsersInMeeting}}
               <tr>
                  {{user.name}}
               </tr>
            {{/each}}
            </tbody>
         </table>
     	</div>
	</div>
</template>

<template name="tabButtons">
	{{#if getInSession "display_publicPane"}}
		<li class="active publicChatTab"><a href="#" data-toggle="tab">Public</a></li>
  		<li class="optionsChatTab"><a href="#" data-toggle="tab">Options</a></li>
  	{{else}}
  		<li class="publicChatTab"><a href="#" data-toggle="tab">Public</a></li>
  		<li class="active optionsChatTab"><a href="#" data-toggle="tab">Options</a></li>
  	{{/if}}
</template>

<template name="chatGreeting">
	<div class="chatGreeting">
		<p>Welcome to {{getInSession "meetingName"}}!</p>
		<p>For help on using BigBlueButton see these (short) <a href="http://bigbluebutton.org/videos/">tutorial videos</a>.</p>
		<p>To join the audio bridge click the headset icon (upper-left hand corner).  Use a headset to avoid causing background noise for others.</p>
		<br/>
		<p>This server is running BigBlueButton {{getInSession "bbb_server_version"}}.</p>
	</div>
</template>
