@import "/imports/ui/stylesheets/variables/_all";

.parent {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  padding: $lg-padding-x;
  background-color: $color-white;
  flex-direction: column;
  border-radius: $border-radius;
  max-width: 95vw;
  width: 600px;
  
}

.text {
  color: $color-text;
  font-weight: normal;
  padding: $line-height-computed 0;
  @include mq($small-only) {
    font-size: $font-size-small;
  };
}

.content {
  text-align: center;
}

.title {
  margin: 0;
  font-size: $font-size-large;
  font-weight: $headings-font-weight;
}

.button {
  @include mq($small-only) {
    font-size: 1rem;
  }
}
