.whiteboard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 2rem;
  border: 0.25rem dashed;
  border-radius: 1.5rem;
  color: rgba(255, 255, 255, .5);
  text-align: center;
  overflow: auto;
}
