@import "imports/ui/stylesheets/variables/_all";

.whiteboard {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: $line-height-computed;
  border: 0.25rem dashed;
  border-radius: 1.5rem;
  color: rgba(255, 255, 255, .5);
  text-align: center;
  overflow: auto;
}

.enter {
  opacity: 0.01;
}

.enterActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.appear {
  opacity: 0.01;
}

.appearActive {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
