#users {
	display: none;
	z-index: @z-index-users;
	border: 3px solid #33343b;
	position: absolute;
	left: 0;
	top: 6vh;
	min-height:35vh;
	background: #ffffff;
	overflow: scroll;
	resize:both;
	min-width: 16.5vw;
  .border-radius(0, 5px, 5px, 0);
}
