<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="deskshare" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>log/deskshare-slf.log</File>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>log/deskshare-slf.%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 30 days worth of history -->
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>

    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{"yyyy-MM-dd HH:mm:ss,SSSXXX"} [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>   
  </appender>

	<root>
		<level value="DEBUG" />	
		<appender-ref ref="deskshare" />
	</root>		
	
	<!-- LEVEL CAN NOT BE DEBUG -->
  <logger name="org.apache" level="INFO"></logger>
</configuration>
