@import "../../stylesheets/variables/_all";

.center {
  text-align: center;
  font-size: $font-size-large;
  padding-top: 40px;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

// Modifies the close button style
Button.closeBtn span:first-child {
  color: $color-gray-light;
  background: none;
  background-color: $color-primary;
  border: none;
  box-shadow: none;
}

// Modifies the audio button icon colour
Button.audioBtn span:first-child {
  color: #25385D;
  border: 5px solid $color-white;
  background-color: $color-primary;
  box-shadow: none;
}

// When hovering over a button of class audioBtn, change the border colour of first span-child
Button.audioBtn:hover span:first-child {
  border: 5px solid $color-primary;
}

// Modifies the button label text
Button.audioBtn span:last-child {
  color: $color-gray-dark;
  font-size: 30%;
}

Button.audioBtn:first-of-type {
  margin-right: 70px;
}

.inner {
  padding: 10px;
  min-height: 350px;
  min-width: 500px;
}

// Audio settings menu
.half {
  width: 50%;
  float: left;
  padding-top: 30px;
}

div.half label {
  font-size: 0.75em;
  font-weight: 600;
  color: $color-primary;
  margin-bottom: 5px;
}

.backBtn {
  position: absolute;
  left: 10px;
  top: 10px;
  border: none;
  box-shadow: none;
}

.playSound {
  border: none;
  box-shadow: none;
}

.enterBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  box-shadow: none;
}



.containerLeftHalf {
  width: 50%;
  float: left;
}

.containerRightHalf {
  width: 50%;
  float: right;
}

.containerFull{
  width: 100%;
  float: right;
}

.containerLeftHalfContent {
  @extend .containerLeftHalf;
  @extend .row;
}

.containerRightHalfContent {
  @extend .containerRightHalf;
  @extend .row;
}

.row {
  height: 42px;
}

.item {
  display: block;
  margin-bottom: $md-padding-y;
  width: 85%;
  margin-bottom: 2em;
  border-bottom: 3px solid;
  border-top:0px;
  border-left: 0px;
  border-right: 0px;
  outline:0px;
  border-color:  $color-gray-dark;
  text-decoration-color: $color-gray-dark;
}


.title {
  color: $color-gray-dark;
  font-weight: 700;
  font-size: $font-size-large;
  margin-top: -1em;
}

.audioNote {
  color: $color-text;
  display: inline-block;
  margin-top: 1.75em;
  margin-bottom: 2em;
}

.heading {
  font-weight: 700;
  font-size: $font-size-small;
  display: inline-block;
  margin-bottom: .5em;
}

.joinButton {
  position: relative;
  left: 11em;
  top: 3em;
}
