@import "../../stylesheets/variables/_all";

:root {
  --col-amount: 2;
  --max-btn-width: 9em;
  --overlayIndex: 1015;
  --overlayOpacity: 0.349;
  --pollIndex: 1016;
  --poll-width: 18rem;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: var(--overlayIndex);
  pointer-events: none;

  @include mq($hasPhoneDimentions) {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, var(--overlayOpacity));
  }
}

.pollingContainer {
  pointer-events:auto;
  width: var(--poll-width);
  position: absolute;

  z-index: var(--pollIndex);
  border: 1px solid var(--color-off-white);
  border-radius: var(--border-radius);
  box-shadow: var(--color-gray-dark) 0px 0px var(--lg-padding-y);
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding: var(--md-padding-y);
  background-color: var(--color-white);
  bottom: var(--sm-padding-x);
  right: var(--sm-padding-x);

  @include mq($hasPhoneDimentions) {
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.pollingTitle {
  color: var(--color-text);
  white-space: nowrap;
  padding-bottom: var(--md-padding-y);
  padding-top: var(--md-padding-y);
}

.pollingAnswers {
  display: grid;
  grid-template-columns: repeat(var(--col-amount), 1fr);

  > pollButtonWrapper:nth-child(odd) {
      grid-column: 1;
  }

  > pollButtonWrapper:nth-child(even) {
      grid-column: var(--col-amount);
  }

  @include mq($hasPhoneDimentions) {
    grid-template-columns: repeat(1, 1fr);

    .pollButtonWrapper .button {
      grid-column: 1;
    }
  }

  z-index: 1;
}

.pollButtonWrapper {
  text-align: center;
  padding: var(--sm-padding-y);
  width: 100%;
}

.pollingButton {
  width: 100%;
  max-width: var(--max-btn-width);

  @include mq($hasPhoneDimentions) {
    max-width: none;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
