@import "../../stylesheets/variables/_all";

.pollingContainer {
  order: 2;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5px;

  @include mq($medium-up) {
    padding-bottom: 10px;
  }
}

.pollingTitle {
  color: var(--color-white);
  white-space: nowrap;
  padding-bottom: 10px;
}

.pollingAnswers {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;

  :global(.browser-safari) & {
    @include mq($ip5-portrait) {
      bottom: 8.75em;
    }
    @include mq($ip678-portrait) {
      bottom: 4.75em;
    }
    @include mq($ip5-landscape) {
      bottom: 11.75em;
    }
    @include mq($ip678-landscape) {
      bottom: 1.75em;
    }
  }
}

.pollButtonWrapper {
  text-align: center;
  margin-left: 5px;
  overflow: hidden;

  @include mq($medium-up) {
    margin-left: 10px;
  }

  &:first-of-type {
    margin-left: 0;
  }
}

.pollingButton {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
