@import "../../stylesheets/variables/_all";

$poll-width: 18rem;
$max-btn-width: 9em;
$col-amount: 2;

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1015;
  pointer-events: none;

  @media screen and (max-width: 479px), screen and (max-height: 479px) {
    background-color: rgba(0, 0, 0, 0.349);
  }
}

.pollingContainer {
  pointer-events:auto;
  width: $poll-width;
  position: absolute;

  z-index: 1016;
  border: 1px solid var(--color-off-white);
  border-radius: var(--border-radius);
  box-shadow: var(--color-gray-dark) 0px 0px var(--lg-padding-y);
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding: var(--md-padding-y);
  background-color: var(--color-white);
  bottom: var(--sm-padding-x);
  right: var(--sm-padding-x);
}

.pollingTitle {
  color: var(--color-white);
  white-space: nowrap;
  padding-bottom: var(--md-padding-y);
  padding-top: var(--md-padding-y);

  @media screen and (max-height: 479px), screen and (max-width: 479px)  {
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

}

.pollingAnswers {
  display: grid;
  grid-template-columns: repeat($col-amount, 1fr);

  > pollButtonWrapper:nth-child(odd) {
      grid-column: 1;
  }

  > pollButtonWrapper:nth-child(even) {
      grid-column: $col-amount;
  }

  @media screen and (max-width: 479px) {
    grid-template-columns: repeat(1, 1fr);

    > pollButtonWrapper:nth-child(odd) {
        grid-column: 1;
    }
  
    > pollButtonWrapper:nth-child(even) {
        grid-column: 1;
    }
  }

  z-index: 1;
}

.pollButtonWrapper {
  text-align: center;
  padding: var(--sm-padding-y);
  width: 100%;
}

.pollingButton {
  width: 100%;
  max-width: $max-btn-width;
  @media screen and (max-width: 479px) { 
    max-width: none;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hidden {
  display: none;
}
