@import "../../stylesheets/variables/_all";

.pollingContainer {
  order: 2;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pollingButton {
  width: 100%;
  height: 100%;
  white-space: nowrap;                      
  overflow: hidden;
  text-overflow: ellipsis;
}

.pollingTitle {
  color: $color-white;
}

.hidden {
  display: none;
}

.pollButtonWrapper {
  text-align: center;
  max-width: 150px;
}
