#chat {
  width:25%;
  background: #fff;
  overflow: hidden;
  border-left:1px solid #ccc;
  height:660px;
  margin-bottom: 10px;
  min-width:400px;
  float:left;
  margin-right: 0px;
}

#chatbar-contents {
    margin-bottom:10px;
	height:75%;
}

#chat-options-bar {
  width:100%;
  position:relative;
  border-bottom:1px solid #ccc;
}

.chat-input-wrapper {
    margin-left:20px;
}

#chat-user-list {
	padding:5px;
}

.chat-message {
    font-size: 12px;
    line-height: 14px;
    padding-top:5px;
    padding-bottom:0px;
    margin-bottom:0px;
    padding-right:10px;
    padding-left: 20px;
}

.tab{}
.publicChatTab{}
.optionsChatTab{}
.privateChatTab{}
.private-chat-user-entry {}
.chat-entry{}
.chat-entry tr:nth-child(odd) {}
.chat-entry tr:nth-child(even) {
    background-color: rgb(245,245,245);
}

.chat-username {
	font-weight:bold;
	color:#333;
}

.chat-timestamp {
	font-weight:bold;
	color:##C0C0C0;
	float:right;
}

.chatGreeting {
	font-size: 12px;
    line-height: 14px;
	color: blue;
}

.private-chat-user-list {
  font-size:12px;
}

.private-chat-user-list :hover {
  font-size:14px;
  background: #0099FF;
  font-style:italic;
}

.private-chat-user-box {
	border: solid 1px grey;
	width: 90%;
	padding: 5px;
}

#newMessageInput {
	width: 80%;
	height:40px;
    margin-top: 15px;
}

#sendMessageButton{
    margin-left: 10px;
    margin-top:9px;
    height:40px;
}
