body {
background: #eee;
color: #666666;
}

.raiseHand {
}
.lowerHand{
}
.kickUser{
}

.usersListIcon{}
.chatBarIcon{}
.videoFeedIcon{}
.audioFeedIcon{}
.signOutIcon{}
.hideNavbarIcon{}
.settingsIcon{}

.navbarIconToggleActive{
	border-bottom: 4px solid lightblue;
}

.ScrollableWindow {
    padding-right:5px;
    overflow: scroll;
    height: 100%;
}

.mainContainer{
    padding-top: 20px;
    min-width: 1300px;
}

.title {
    font-weight: bold;
    font-size:14px;
    background:#f7f7f7;     
    line-height: 2em;
    font-weight: bold;
    color: #666;
    border-bottom: 1px solid #d7d7d7;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin:0;
}
