.audioFeedIcon{}
body {
    background: #eee;
    color: #666666;
}
.chatBarIcon{}
.hideNavbarIcon{}
.lowerHand{}
.mainContainer{
    min-width: 1300px;
    padding-top: 20px;
}
.myNavbar{
    background: -webkit-linear-gradient(rgb(255,255,255), rgb(182,181,181)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(     rgb(255,255,255), rgb(182,181,181)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(   rgb(255,255,255), rgb(182,181,181)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(        rgb(255,255,255), rgb(182,181,181)); /* Standard syntax (must be last) */
    min-width:900px;
}
.navbarButton {
    height:40px;
    margin-left: 2px;
    margin-right: 2px;
    width:40px;
}
.navbarIconToggleActive{
    border-bottom: 4px solid lightblue;
}
.navbarSection{
    float:left;
    min-width:300px;
    width:33%;
}
.navbarSettingsButtons{
    text-align: right;
}
.navbarTitle{
    font-size: 16px;
    font-weight:bold;
    padding-top:15px;
    text-align:center;
}
.navbarUserButtons{
    padding-left:0.5%;
}
.raiseHand {}

.ScrollableWindow {
    height: 100%;
    overflow: scroll;
    padding-right:5px;
}
.settingsIcon{}
.signOutIcon{}
.title {
    background: -webkit-linear-gradient(rgb(200,200,200), #f7f7f7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(200,200,200), #f7f7f7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(200,200,200), #f7f7f7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(247,247,247), rgb(201,201,201)); /* Standard syntax (must be last) */
    
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size:14px;
    font-weight: bold;
    line-height: 2em;
    margin:0;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}
.usersListIcon{}
.videoFeedIcon{}
