#users {
	/*display: none;*/
	z-index: 0;
	border: 3px solid #33343b;
	position: absolute;
	left: 0;
	top: 6vh;
	min-height:35vh;
	background: #ffffff;
	overflow-y: auto;
	overflow-x: hidden;
	resize:both;
	min-width: 25vw;
  
	h3 {
	    background:#f7f7f7;
	    font-size: 1em;
	    line-height: 2em;
	    font-weight: bold;
	    color: #666;
	    border-bottom: 1px solid #d7d7d7;
	    padding: 5px 10px;
		margin:0;
	}
}

#user-list {
	li {
		border-bottom:1px solid #f2f2f2;	
		list-style-type: none;
	}
	  .user-wrapper {
	  	
  	}
    .user-wrapper:nth-child(even) {
      background: #f6f6f6;
    }
}

.users-list-container {
	margin-left: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom:10px;
	width: 20%;
	border-radius:25px;
	border: 2px solid grey;
	height:400px;

	h3 {
	    background:#f7f7f7;
	    font-size: 1em;
	    line-height: 2em;
	    font-weight: bold;
	    color: #666;
	    padding: 5px 10px;
		margin:0;
	}

	.mygrid-wrapper-div {
	    overflow: scroll;
	    height: 100%;
	}
}