#users {
	margin-left: 5px;
	padding-bottom:10px;
	width: 20%;
	height:400px;
	overflow: hidden;
	border:1px solid #ccc;
	background: #fff;

	h3 {
	    background:#f7f7f7;
	    font-size: 1em;
	    line-height: 2em;
	    font-weight: bold;
	    color: #666;
	    border-bottom: 1px solid #d7d7d7;
	    padding: 5px 10px;
		margin:0;
	}
}

#user-list {
	li {
		border-bottom:1px solid #f2f2f2;	
		list-style-type: none;
	}
  	.user-wrapper {
	  	
  	}
}

#user-contents {
	padding-bottom:10px;
	height:100%;
}

.user-entry tr:nth-child(even) {
  background: rgb(245,245,245);
}

.userListHeader{
	font-weight: bold;
	font-size:16px;
	font-style:italic;
}
