<?xml version="1.0" ?>
<config>
    <localeversion suppressWarning="false">0.8</localeversion>
    <version>VERSION</version>
    <help url="http://HOST/help.html"/>
    <porttest host="HOST" application="video" timeout="10000"/>    
    <application uri="rtmp://HOST/bigbluebutton" host="http://HOST/bigbluebutton/api/enter" />
    <language userSelectionEnabled="true" />
    <skinning enabled="false" url="branding/css/theme.css.swf" />
    <layout showLogButton="false" showVideoLayout="false" showResetLayout="true" defaultLayout="Default"
            showToolbar="true" showFooter="true" showHelpButton="true" showLogoutWindow="true"/>
            
		<modules>
		 
		<module name="ChatModule" url="http://bbbdev2.googool.com/client/ChatModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			dependsOn="ViewersModule"	
			translationOn="false"
			translationEnabled="false"	
			privateEnabled="true"  
			position="top-right"
			baseTabIndex="701"
		/>
		
		<module name="ViewersModule" url="http://bbbdev2.googool.com/client/ViewersModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			host="http://bbbdev2.googool.com/bigbluebutton/api/enter"
			allowKickUser="false"
			windowVisible="true"
			baseTabIndex="201"
		/>
			
		<module name="ListenersModule" url="http://bbbdev2.googool.com/client/ListenersModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			recordingHost="http://bbbdev2.googool.com"
			windowVisible="true"
			position="bottom-left"
			baseTabIndex="301"
		/>
		
		<module name="DeskShareModule" 
			url="http://bbbdev2.googool.com/client/DeskShareModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/deskShare"
			autoStart="false"
			baseTabIndex="101"
		/>
		
		<module name="PhoneModule" url="http://bbbdev2.googool.com/client/PhoneModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/sip" 
			autoJoin="true"
			skipCheck="false"
			showButton="true"
			enabledEchoCancel="true"
			dependsOn="ViewersModule"
		/>

		<module name="VideoconfModule" url="http://bbbdev2.googool.com/client/VideoconfModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/video"
			dependson = "ViewersModule"
			videoQuality = "100"
			presenterShareOnly = "false"
			controlsForPresenter = "false"
			resolutions = "320x240,640x480,1280x720"
			autoStart = "false"
			showButton = "true"
			showCloseButton = "true"
			publishWindowVisible = "true"
			viewerWindowMaxed = "false"
			viewerWindowLocation = "top"
			camKeyFrameInterval = "30"
			camModeFps = "10"
			camQualityBandwidth = "0"
			camQualityPicture = "90"
			smoothVideo="false"
			applyConvolutionFilter="false"
			convolutionFilter="-1, 0, -1, 0, 6, 0, -1, 0, -1"
			filterBias="0"
			filterDivisor="4"
			enableH264 = "true"
			h264Level = "2.1"
			h264Profile = "main"	
			baseTabIndex="101"		
		/>
		
		<module name="WhiteboardModule" url="http://bbbdev2.googool.com/client/WhiteboardModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			dependsOn="PresentModule"
			baseTabIndex="601"
		/>
		
		<module name="PresentModule" url="http://bbbdev2.googool.com/client/PresentModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			host="http://bbbdev2.googool.com" 
			showPresentWindow="true"
			showWindowControls="true"
			dependsOn="ViewersModule"
			baseTabIndex="501"
		/>

		<module name="VideodockModule" url="http://bbbdev2.googool.com/client/VideodockModule.swf?v=4105"
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			dependsOn="VideoconfModule, ViewersModule"
			autoDock="true"
			maximizeWindow="false"
			position="bottom-right"
			width="172"
			height="179"
			layout="smart"
			oneAlwaysBigger="false"
			baseTabIndex="401"
		/>
		
		<module name="LayoutModule" url="http://bbbdev2.googool.com/client/LayoutModule.swf?v=4105"
			uri="rtmp://bbbdev2.googool.com/bigbluebutton"
			layoutConfig="http://bbbdev2.googool.com/client/conf/layout.xml"
			enableEdit="true"
		/>

		<!-- new module in development: 
		<module name="DynamicInfoModule" url="http://bbbdev2.googool.com/client/DynamicInfoModule.swf?v=4105" 
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			host="http://bbbdev2.googool.com" 
			infoURL="http://bbbdev2.googool.com/client/conf/example-info-data.xml?user={userID}&role={role}&meetingID={meetingID}"
		/>
		-->
		
		<!--<module name="ExampleChatModule" url="http://bbbdev2.googool.com/client/ExampleChatModule.swf?v=56" 
			uri="rtmp://bbbdev2.googool.com/bigbluebutton" 
			host="http://bbbdev2.googool.com"
		/>-->
		
		<!--<module name="SharedNotesModule" url="http://bbbdev2.googool.com/client/SharedNotesModule.swf?v=4105" 
			uri="http://bbbdev2.googool.com/bigbluebutton" 
			dependsOn="ViewersModule"
		/>-->
		
	</modules>
</config>
