:root {
    --gapping-4: 0.25rem;
    --gapping-8: 0.5rem;
    --gapping-12: 0.75rem;
    --gapping-16: 1rem;
    --gapping-20: 1.25rem;
    --gapping-24: 1.5rem;
    --gapping-32: 2rem;
    --gapping-40: 2.5rem;
    --gapping-48: 3rem;
    --gapping-56: 3.5rem;
    --gapping-64: 4rem;
    --gapping-72: 4.5rem;
    --gapping-80: 5rem;
    --gapping-88: 5.5rem;
    --gapping-96: 6rem;
}