:root {
  --border-size-small: 1px;
  --border-size: 2px;
  --border-size-large: 3px;
  --border-radius: .2rem;

  --sm-padding-x: .75rem;
  --sm-padding-y: .3rem;

  --md-padding-x: 1rem;
  --md-padding-y: .45rem;

  --lg-padding-x: 1.25rem;
  --lg-padding-y: 0.6rem;

  --jumbo-padding-x: 3.025rem;
  --jumbo-padding-y: 1.5rem;

  //used to center presenter indicator icon in Chrome / Firefox / Edge
  --indicator-padding: .45rem;

  //Miscellaneous
  --user-indicators-offset: -5px;
  --mobile-swap-offset: 3.5rem;
  --min-modal-height: 20rem;
  --modal-margin: 3rem;
  --title-position-left: 2.2rem;
  --closeBtn-position-left: 2.5rem;
  --description-margin: 3.5rem;
  --toast-icon-side: 40px;
  --innerToastWidth: 17rem;
  --iconWrapperSize: 2rem;
}
