
$border-size: 2px;
$border-size-large: 3px;
$border-radius: .2rem;

$sm-padding-x: .75rem;
$sm-padding-y: .25rem;

$md-padding-x: 1rem;
$md-padding-y: .375rem;

$lg-padding-x: 1.25rem;
$lg-padding-y: .5rem;

$jumbo-padding-x: 3.025rem;
$jumbo-padding-y: 1.25rem;
