
$border-size: 2px;
$border-size-large: 3px;
$border-radius: .2rem;

$sm-padding-x: .75rem;
$sm-padding-y: .3rem;

$md-padding-x: 1rem;
$md-padding-y: .45rem;

$lg-padding-x: 1.25rem;
$lg-padding-y: 0.6rem;

$jumbo-padding-x: 3.025rem;
$jumbo-padding-y: 1.5rem;

//used to center presenter indicator icon in Chrome / Firefox
$indicator-padding: .425rem;

//used to center indicator icons in Edge
$indicator-padding-right: 1.2em;
$indicator-padding-left: 0.175em;
$indicator-padding-top: 0.7em;
$indicator-padding-bottom: 0.7em;

$user-indicators-offset: -5px;
