$color-white: #F3F6F9 !default;

$color-gray: #353B42 !default;
$color-gray-dark: #2A2D33 !default;
$color-gray-light: #8B9AA8 !default;
$color-gray-lighter: lighten($color-gray-light, 25%) !default;

$color-primary: #299AD5 !default;
$color-success: #4DC0A2 !default;
$color-danger: #EC6365 !default;

$color-background: #2A2D36 !default;

$color-text: #8A95A5 !default;
$color-heading: #4E525E !default;

$color-link: #3E9DD6 !default;
$color-link-hover: darken($color-link, 15%) !default;
