$color-white: #FFF !default;
$color-off-white: #F3F6F9;

$color-gray: #4E5A66 !default;
$color-gray-dark: #06172A !default;
$color-gray-light: #8B9AA8 !default;
$color-gray-lighter: lighten($color-gray-light, 25%) !default;

$color-primary: #0F70D7 !default;
$color-success: #008081 !default;
$color-danger: #DF2721 !default;
$color-warning: purple !default;

$color-background: $color-gray-dark !default;

$color-text: $color-gray !default;
$color-heading: $color-gray-dark !default;

$color-link: $color-primary !default;
$color-link-hover: darken($color-link, 15%) !default;

$color-gray-label: $color-gray !default;

$color-blue-light: lighten($color-primary, 35%);
$color-blue-lighter: #92BCEA;
$color-blue-lightest: #E4ECF2;
