:root {
  --font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, "Times New Roman", Times, serif;
  --font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

  --font-family-base: var(--font-family-sans-serif);

  --font-size-base: 1rem;
  --font-size-large: 1.25rem;
  --font-size-md: 0.95rem; 
  --font-size-small: 0.875rem;
  --font-size-smaller: .75rem;
  --font-size-xs: .575rem;
  --font-size-smallest: .35rem;


  // increment by 0.0625
  --font-size-8px: 0.571rem;
  --font-size-9px: 0.643rem;
  --font-size-10px: .714rem;
  --font-size-11px: .786rem;
  --font-size-12px: .857rem;
  --font-size-13px: .929rem;
  --font-size-14px: 1rem;
  --font-size-15px: 1.071rem;
  --font-size-16px: 1.143rem;
  --font-size-17px: 1.214rem;
  --font-size-18px: 1.286rem;
  --font-size-19px: 1.357rem;
  --font-size-20px: 1.429rem;
  --font-size-21px: 1.5rem;
 

  
  --line-height-base: 1.25; // 20/16
  --line-height-computed: 1rem;

  --headings-font-family: inherit;
  --headings-font-weight: 500;
  --headings-line-height: 1.1;
  --headings-color: inherit;
}

/*
 * Placeholders
 * ===============
 */
 