@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

$icon-offset: -.4em;

.note {
  background-color: #fff;
  padding-top: var(--md-padding-x);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-shrink: 0;
  padding-left: var(--md-padding-x);
  padding-right: var(--md-padding-x);

  a {
    @include elementFocus(var(--color-primary));
    padding-bottom: var(--sm-padding-y);
    padding-left: var(--sm-padding-y);
    text-decoration: none;
    display: block;
  }

  [class^="icon-bbb-"],
  [class*=" icon-bbb-"] {
    font-size: 85%;
  }
}

.title {
  @extend %text-elipsis;
  flex: 1;
}

iframe {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  border-style: none;
}
