.overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.322);
    z-index: 10000;
    overflow: visible;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@keyframes up_modal {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.modal {
    padding: 0.625em 3.125em 0.625em 3.125em;
    width: 60%;
    height: 18.75em;
    background-color: rgb(250, 252, 255);
    background-color: var( --color-off-white);
    border-radius: 0.3125em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: up_modal 0.3s ease 
}

.modal p{
    padding: 0em;
    margin: 0em;
    margin-bottom: 1.25em;
    font-size: 1.25em;
}

.continue{
    padding: 0.625em 1.875em 0.625em 1.875em;
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.3125em;
    color: white;
    font-size: 1.1em;
    margin-right: 0.7em;
}

.skip{
    padding: 0.625em 1.875em 0.625em 1.875em;
    background-color: var(--color-blue-lightest);
    border: none;
    border-radius: 0.3125em;
    color: var(--color-gray);
    font-size: 1.1em;
}


.divButtons{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

.divButtons button{
    cursor: pointer;
}

.divButtons button:hover{
    transform: scale3d(1.05, 1.05, 1);
}


@media (max-width: 940px)
{
    .modal h1
    {
        font-size: 1.5em;
    }

    .divButtons{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divButtons button{
        width: 100%;
        margin: 0.3125em;
        padding: 0.625em 1.875em 0.625em 1.875em;
    }
    .modal{
        width: 70%;
        height: 90vh;
    }

    .continue{
        margin-right: 03em;
    }
}