@import "/imports/ui/components/user-list/styles.scss";

.header {
  @extend %flex-column;
  justify-content: left;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  padding: 0 $md-padding-x;
  margin: $md-padding-x 0;
}

.headerTitle {
  flex: 0;
  font-size: 1rem;
  font-weight: 600;
  color: $color-heading;
}
