!!! 5
html
  head
    block head
      title= title
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="vendor/css/jquery-ui-1.9.2.custom.min.css")
      link(rel="stylesheet", href="vendor/css/reset.css")
      - if (h_environment == "development")
        link(rel="stylesheet", href="vendor/css/font-awesome.css")
        link(rel="stylesheet", href="vendor/css/bootstrap.css")
      - else
        link(rel="stylesheet", href="vendor/css/font-awesome.min.css")
        link(rel="stylesheet", href="vendor/css/bootstrap.min.css")
      != css('layout')

  body#session-container

  // javascripts at the end of the page

  script(src='/js/lib/require/require-min.js')

  // we add a javascript block to pass information from the server to the client using
  // javascript variables in the module "globals"
  - if (typeof(meetings) == 'undefined')
    - meetings = []
  script(type='text/javascript').
    define('globals', function() {
      server = window.location.protocol + '//' + window.location.host;
      server = server.replace(/:\d+/, ''); // remove :port
      if (server[server.length-1] != '/')
        server = server + '/';
      return {
        bootstrappedMeetings: !{JSON.stringify(meetings)},
        presentationServer: server
      };
    });

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
  - if (h_environment == "development")
    script(src='/vendor/js/bootstrap.js')
    script(src='/js/main.js')
  - else
    script(src='/vendor/js/bootstrap.min.js')
    script(src='/js/main-dist.js')
