@import '/imports/ui/components/breakout-room/styles';
@import "/imports/ui/stylesheets/variables/_all";

.buttonWrapper,
.button,
.joinButton {
  background-color: inherit;
  &:focus,&:hover {
    background-color: inherit;
  }
}

.buttonWrapper {
  @extend .breakoutActions;
}

.button {
  @extend .button;
}

.info {
  margin: 0;
}
