!!!
%html
	%head
		%title Matterhorn - BigBlueButton Integration
		%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"}
	%body
		#header{ :style => "text-align=right" }
			- unless session["user"].nil? then
				%a{ :href => "logout" } logout
		#content
			=yield
