%h1 Create BigBlueButton Conference
%form{:action => "metadata/process", :method => "post"}
	%fieldset
		%legend Meeting Info
		%p
			%label{:for => "txtname"} Conference Name:
			%input{:name => "txtname" , :type => "text", :id => "txtname"}
		%p
			%label{:for => "txtid"} Conference ID:
			%input{:name => "txtid" , :type => "text", :id => "txtid"}
	%fieldset
		%legend Metadata Info
		%p
			%label{:for => "txttitle"} Title:
			%input{:name => "txttitle" , :type => "text", :id => "txttitle"}
		%p
			%label{:for => "txtseries"} Series:
			%input{:name => "txtseries" , :type => "text", :id => "txtseries"}
		%p
			%label{:for => "txtinstructor"} Instructor:
			%input{:name => "txtinstructor" , :type => "text", :id => "txtinstructor"}
		%p
			%input{:type => "submit", :value=>"Submit Metadata"}
