.tippy-box[data-theme~='bbbtip']{
    color: var(--color-white, #fff);
    background-color: var(--color-tip-bg, #333333);
    padding: .25rem .5rem;
    border-radius: 4px;
    user-select: none;
}

.tippy-box[data-theme~='bbbtip']>.tippy-svg-arrow{
    fill: var(--color-tip-bg, #333333);
    background-color: transparent;
}

.tippy-box[data-theme~='bbbtip']>.tippy-content{
    text-wrap: pretty;
}
