@import "../../../stylesheets/variables/_all";
@import "../../../stylesheets/mixins/_scrollable";

.messageListWrapper {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.messageList {
  @include scrollbox-vertical();
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: -$sm-padding-x;
  padding-right: $sm-padding-x;
  padding-top: 0;
  padding-bottom: $sm-padding-x;
}

.unreadButton {
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 0;
  text-transform: uppercase;
  margin-bottom: .5rem;
  @extend %text-elipsis;
}
