@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/_scrollable";

.messageListWrapper {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: var(--md-padding-x);
  margin-left: calc(-1 * var(--md-padding-x));
  padding-right: var(--sm-padding-y);
  margin-right: calc(-1 * var(--md-padding-x));
  padding-bottom: var(--md-padding-x);
  margin-bottom: calc(-1 * var(--md-padding-x));
}

.messageList {
  @include scrollbox-vertical();
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0;
  padding-right: var(--md-padding-x);
  padding-top: 0;
  &:after {
    content: "";
    display: block;
    height: var(--md-padding-x);
  }
}

.unreadButton {
  flex-shrink: 0;
  width: 100%;
  text-transform: uppercase;
  // margin-top: .25rem;
  margin-bottom: .25rem;
  background-color: #808080;
  @extend %text-elipsis;
}
