<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/bigbluebutton.properties</value>
			</list>
		</property>	
	</bean>

	<bean id="slidePresentationDocument" class="org.bigbluebutton.fileupload.web.SlidePresentationDocument" scope="prototype">
			<property name="slideManager" ref="slideManager"/>
			<property name="pptDocumentHandler" ref="pptHandler"/>
			<property name="zipDocumentHandler" ref="zipHandler"/>
			<property name="pptToSwfHandler" ref="pptToSwfHandler"/>
			<property name="pdfToSwfHandler" ref="pdfToSwfHandler"/>
			<property name="updatesMsgSender" ref="updatesMsgSender"/>
	</bean>
	
	<bean id="zipHandler" class="org.bigbluebutton.fileupload.document.ZipDocumentHandler"/>
	
	<bean id="pptHandler" class="org.bigbluebutton.fileupload.document.impl.PptDocumentHandler">
			<property name="openOfficeHost" value="${openoffice.host}" />
			<property name="openOfficePort" value="${openoffice.port}" />
	</bean>

	<bean id="pptToSwfHandler" class="org.bigbluebutton.fileupload.document.impl.PptToSwfDocumentHandler">
			<property name="openOfficeHost" value="${openoffice.host}" />
			<property name="openOfficePort" value="${openoffice.port}" />
			<property name="updatesMsgSender" ref="updatesMsgSender"/>
			<property name="swftoolConverter" value="${swftoolLocation}" />
	</bean>

	<bean id="pdfToSwfHandler" class="org.bigbluebutton.fileupload.document.impl.PdfToSwfDocumentHandler">
			<property name="updatesMsgSender" ref="updatesMsgSender"/>
			<property name="swftoolConverter" value="${swftoolLocation}" />
			<property name="pdfExtractor" value="${pdfExtractor}" />
	</bean>
	
	<bean id="slideManager" class="org.bigbluebutton.fileupload.document.impl.FileSystemSlideManager">
			<property name="baseDirectory" value="${presBaseDirectory}" />
			<property name="extractedFolder" value="${extractedFolder}" />
	</bean>	
	
	<bean id="updatesMsgSender" class="org.bigbluebutton.fileupload.document.impl.UpdatesMessageSender">
			<property name="jmsTemplate" ref="jmsTemplate"/>
			<property name="destination" ref="destination"/>
	</bean>
	
    <!-- configure connection factory -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL">
            <value>tcp://localhost:61616</value>
        </property>
    </bean>
    
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <ref local="connectionFactory"/>
        </property>
    </bean>

    <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- Set the Queue Name -->
        <constructor-arg index="0">
            <value>UpdatesQueue</value>
        </constructor-arg>
    </bean>    					
</beans>
