@import "../variables";

@media all and (orientation: portrait), @mobile-portrait-with-keyboard {
  #users {
    -webkit-order: 3;
    order: 3;
    margin-bottom: 0px;
    padding-bottom: 0px;
    max-height: 20%;
    min-height: 20%;
  }
}

/*desktop portrait*/
@media @desktop-portrait {
  #username {
    display:block;
    width:70%;
  }

  #user-contents {
    .userlist {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .usernameEntry {
    height: 20px;
    font-size: 2vh;
  }
}

/*mobile*/
@media all and (orientation: portrait) {
  .usernameEntry {
    font-size: 2vh;
  }
}
