@import "/imports/ui/stylesheets/variables/_all";

.title {
  color: $color-gray-dark;
  font-weight: 400;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-flow: column;
}

.row {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.col {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
    padding-right: 0.1rem;
  }
}

.label {
  color: $color-gray-label;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.labelSmall {
  color: $color-link;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

.formElement {
  position: relative;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.select {
  background-color: #fff;
  border: 0;
  border-bottom: 0.1rem solid $color-gray-lighter;
  color: $color-gray-label;
  width: 100%;
  // appearance: none;
  height: 1.75rem;
}

.pullContentRight {
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
}

.pullContentCenter {
  display: flex;
  justify-content: center;
  flex-flow: row;
}

.separator {
  margin: 2.5rem 0;
  border: 1px solid $color-gray-lighter;
  opacity: 0.25;
}

.bold {
  font-weight: bold;
}

.spacedLeft {
  margin-left: 1rem;
}

.swatch {
  position: absolute;
  float: right;
  background: #fff;
  border-radius: 5px;
  border: 2px solid $color-gray-light;
  display: inline-block;
  cursor: pointer;
}

.swatchInner {
  width: 3rem;
  height: 1.1rem;
  border-radius: 3px;
}

.colorPickerOverlay {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.colorPickerPopover {
  position: absolute;
  top: 2rem;
  z-index: 1001;
}

.ccPreviewBox {
  height: 100px;
  padding: 5px;
  border: 1px solid #f1f1f1;
  overflow: auto;
}
