@import "/imports/ui/stylesheets/variables/_all";

.testAudioBtn {
  border: none;
  padding-left: 0;
  background-color: transparent;
  color: $color-primary;
  font-weight: normal;
  i {
    color: $color-primary;
  }
}
