@import "/imports/ui/components/media/styles";
@import '/imports/ui/components/loading-screen/styles';

.hoverToolbar {
  display: none;

  :hover > & {
    display: flex;
  }
}

.mobileControlsOverlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.showMobileHoverToolbar {
  display: flex;
  z-index: 2;
}

.dontShowMobileHoverToolbar {
  display: none;
}

.screenshareContainer {
  position: relative;
  background-color: var(--color-content-background);
  width: 100%;
  height: 100%;
}

.screenshareContainerPresenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-content-background);
  width: 100%;
  height: 100%;
}

.screenshareContainerInside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.mainText {
  color: var(--color-white);
  font-size: 1.3rem;
  font-weight: 600;
}

.screenshareContainerDefault {
  position: absolute;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.unhealthyStream {
  filter: grayscale(50%) opacity(50%);
}

.spinnerWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
}
