@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/media/styles";

.connecting {
  @extend .connectingSpinner;
  z-index: -1;
  background-color: transparent;
  color: var(--color-white);
  font-size: 2.5rem * 5;
}

.screenshareContainer{
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 100%;
  height: 100%;
}
