@import "/imports/ui/stylesheets/variables/_all";

.button {
  &:focus {
    outline: none !important;
  }

  span:first-child {
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0);
  }
}

.imageSize {
  height: 4rem;
  @include mq($small-only) {
    margin: auto 1rem;
  };
}

.label {
  font-size: $font-size-small;
  white-space: nowrap;
  margin-top: .5rem;
  color: $color-gray;
  @include mq($small-only) {
    margin-top: 0;
    color: #06172A;
    font-size: 90%;
  };
}

.item {
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: auto 0.25rem;
  @include mq($small-only) {
    flex-direction: row;
  };
}
