
.pencil {
  cursor: url('/html5client/resources/images/whiteboard-cursor/pencil.png') 1 17, default;
}

.triangle {
  cursor: url('/html5client/resources/images/whiteboard-cursor/triangle.png') 7.5 0, default;
}

.rectangle {
  cursor: url('/html5client/resources/images/whiteboard-cursor/square.png'), default;
}

.ellipse {
  cursor: url('/html5client/resources/images/whiteboard-cursor/ellipse.png'), default;
}

.line {
  cursor: url('/html5client/resources/images/whiteboard-cursor/line.png') 1 17, default;
}
