.pencil {
  cursor: url('resources/images/whiteboard-cursor/pencil.png'), default;
}

.triangle {
  cursor: url('resources/images/whiteboard-cursor/triangle.png'), default;
}

.rectangle {
  cursor: url('resources/images/whiteboard-cursor/square.png'), default;
}

.ellipse {
  cursor: url('resources/images/whiteboard-cursor/ellipse.png'), default;
}

.line {
  cursor: url('resources/images/whiteboard-cursor/line.png'), default;
}

.text {
  cursor: url('resources/images/whiteboard-cursor/text.png'), default;
}
