@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/_scrollable";
@import "/imports/ui/stylesheets/mixins/_indicators";
@import "/imports/ui/components/user-list/styles";
@import "/imports/ui/components/user-list/user-list-content/styles";
@import "/imports/ui/stylesheets/variables/_all";
@import "/client/stylesheets/fonts.css";

:root {
  --user-manage-menu-top : -0.5rem;
  --user-manage-menu-right : -0.75rem;
  --user-manage-menu-width : 12rem;
}

.dropdown {
  
  align-self: center;
  position: absolute !important;
  // padding-top: 2%;
  right: 0;
  left: 80%;
  
  [dir="rtl"] & {
    left: 0;
    right: auto;
  }
}

.dropdownContent {
  top: var(--user-manage-menu-top);
  right: var(--user-manage-menu-right);
  left: auto;
  width: var(--user-manage-menu-width);

  [dir="rtl"] & {
    top: var(--user-manage-menu-top);
    right: -1rem;
  }

  @include mq($small-only) {
    width: 100vw;
  }
}

.optionsButton {
  >i {
    font-size: var(--font-size-9px);
    color: #ffffff !important;
  }
}

.channelListColumn {
  @extend %flex-column;
  min-height: 0;
}

.container{
  display: flex;
  align-items: center;
  margin: var(--sm-padding-x) 0 var(--lg-padding-y) 11%;
  height:var(--font-size-13px);
}

 .channelsTitle {
  font-style: normal;
  font-size: var(--font-size-13px);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.034rem;
  color: #ffffff;
}

.scrollableList {
  @include elementFocus(transparent);
  @include scrollbox-vertical();
  @include highContrastOutline();

  &:focus-within,
  &:focus {
    outline-style: solid;
  }

  &:active {
    box-shadow: none;
    border-radius: none;
  }

  outline-width: 1px !important;
  outline-color: transparent !important;
}

.channelList {
  display: flex;
  flex-direction: column;
  // margin: 10px 10px 10px 10px;
}

.channelName {
  @extend %flex-column;
  justify-content: center;
  padding: 1% 0% 1% 13%;
  width: 80%;
}

.masterChannel {
  @extend %no-margin;
  text-overflow: ellipsis;
  white-space: nowrap;
    font-style: normal;
    color: #ffc700;
    letter-spacing: 0.025em;
    font-weight: 800;
    line-height: 1.313rem;
    padding-left: 1rem;
    font-size: var(--font-size-14px);
}

.master {
  padding: 0 !important;
  i {
    font-size: var(--font-size-18px);
  }
}

.channelNameMain {
  @extend %no-margin;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.029rem;
  color: #ffffff;
  overflow-x: hidden;
  font-size: var(--font-size-14px);
  
}

.buttonWrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
  cursor: pointer;
}

.channelWrapper {
  display: grid;
  grid-template-columns: 10% 90% 5%;
  justify-content: center;
  align-items: center;

  .brekout {
    color: #ffffff;
    padding-left: 1.5rem;
  }
}

.usersList {
  padding-left: 10%;
  width: 90%;
}

.breakoutUsersList {
  @extend %flex-column;
  justify-content: center;
  padding: 1% 0% 1% 10%;
  width: 90%;
}

.popup{
  
  display: flex;
 background: white;
  position: absolute;
  z-index: 2;
  width: auto;
  //padding: 50px 25px 25px 25px;
}

.unassigned {
  color: #ffffff;
  padding-left: 11%;
  height: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.allModerators {
  padding-left: 11%;
}

.createBreakouts {
  color: #36a1ff;
  padding-left: 11%;
  margin: 0.5rem 0 0.5rem 0;
  cursor: pointer;
}

button{
  color: #36a1ff;
  background: transparent;
  border: 0px;
}
