@import "/imports/ui/components/modal/simple/styles";

:root {
  --ban-checkbox-top-offset: 0.134rem;
  --ban-checkbox-margin-right: 0.5rem;
}

.title {
  color: var(--color-gray-dark);
  font-weight: var(--headings-font-weight);
  font-size: var(--jumbo-padding-y);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer {
  display: flex;
  margin: 20px;
}

.dismissBtn {
  padding-right: var(--jumbo-padding-y);
  padding-left: var(--jumbo-padding-y);
  margin: 0 var(--sm-padding-x) 0 0;

  [dir="rtl"] & {
    margin: 0 0 0 var(--sm-padding-x);
  }
}

.dismissBtn {
  box-shadow: 0 0 0 1px var(--color-gray);
}

.description {
  text-align: center;
  line-height: var(--line-height-base);
  color: var(--color-gray);
  margin-top: 10px;
}

.errorLabel {
  text-align: center;
  line-height: var(--line-height-base);
  color: var(--color-danger);
  margin-top: 20px;
}

.modal {
  @extend .modal;
  padding: var(--sm-padding-y);
}

.overlay {
  @extend .overlay;
}

.header {
  margin: 0;
  padding: 0;
  border: none;
  line-height: var(--title-position-left);
  margin-bottom: var(--lg-padding-y);
}

.newUsernameInput {
  text-align: center;
  margin: 20px;
}
