.languageContainer{
  background: #E8ECF0;
  border: 1px solid #8B9AA8;
  box-sizing: border-box;
  border-radius: 3px;
  width: 95%;
  margin-bottom: var(--md-padding-y);
  padding: var(--md-padding-y);
  p{
    text-align: center;
  }
  input{
    width: 150px;
  }
}

.check{
  color: green;
  margin-left:var(--sm-padding-y);
  cursor: pointer;
}
