.settings/org.eclipse.core.resources.prefs
linker-report.xml
bundles.txt
build/
bin/
bin-debug/
bin-release/
client/
locale/.tx/
bbbResources.properties.*
asdoc/
hs_err_pid*
html-templateBackup/
html-template/
locale/am/
locale/ar/
locale/el/
locale/fa/
locale/fr/
locale/hi/
locale/hy/
locale/ja/
locale/ka/
locale/lt/
locale/mk/
locale/nqo/
locale/ru/
locale/sq/
locale/te/
locale/vi/

