.settings/org.eclipse.core.resources.prefs
.project
.actionScriptProperties
.flexProperties
linker-report.xml
bundles.txt
build/
bin/
client/
bbbResources.properties.*
asdoc/
hs_err_pid*
html-templateBackup/
.actionScriptProperties.bak
.flexProperties.bak
