.settings/org.eclipse.core.resources.prefs
.project
.actionScriptProperties
.flexProperties
linker-report.xml
bundles.txt
build/
client
bbbResources.properties.*
asdoc/
html-templateBackup/
.actionScriptProperties.bak
.flexProperties.bak
