<events>
  <head>
    <title>matterhorn's meeting</title>
  </head>
  <event timestamp="1301433157600" module="PARTICIPANT" name="ParticipantJoinEvent">
    <status>{raiseHand=false, hasStream=false, presenter=false}</status>
    <userId>1</userId>
    <role>MODERATOR</role>
  </event>
  <event timestamp="1301433159230" module="PARTICIPANT" name="ParticipantStatusChangeEvent">
    <status>presenter</status>
    <userId>1</userId>
    <value>true</value>
  </event>
  <event timestamp="1301433159318" module="PRESENTATION" name="AssignPresenterEvent">
    <userid>1</userid>
    <assignedBy>1</assignedBy>
    <name>matterhorn</name>
  </event>
  <event timestamp="1301433166792" module="VOICE" name="ParticipantJoinedEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <callername>matterhorn</callername>
    <muted>true</muted>
    <talking>false</talking>
    <locked>false</locked>
    <callernumber>matterhorn</callernumber>
  </event>
  <event timestamp="1301433171309" module="VOICE" name="ParticipantMutedEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <muted>false</muted>
  </event>
  <event timestamp="1301433174470" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433176329" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433177205" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433179947" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433180493" module="PARTICIPANT" name="ParticipantStatusChangeEvent">
    <status>streamName</status>
    <userId>1</userId>
    <value>320x240-1-1301433140446</value>
  </event>
  <event timestamp="1301433180523" module="PARTICIPANT" name="ParticipantStatusChangeEvent">
    <status>hasStream</status>
    <userId>1</userId>
    <value>true</value>
  </event>
  <event timestamp="1301433180636" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433183169" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433183808" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433185687" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433187779" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433191568" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433197187" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433199248" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433199890" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433203130" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433204669" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433207133" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433208794" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433209120" module="Deskshare" name="DeskshareStartedEvent">
    <file>/var/bigbluebutton/deskshare/8774263b-c4a6-4078-b2e6-46b7d4bc91c1-1301433207838.flv</file>
  </event>
  <event timestamp="1301433210647" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433212330" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433214209" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433214927" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433218329" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433219009" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433220747" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433221887" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433224349" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433224647" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433225791" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433226687" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433226724" module="Deskshare" name="DeskshareStoppedEvent">
    <file>/var/bigbluebutton/deskshare/8774263b-c4a6-4078-b2e6-46b7d4bc91c1-1301433207838.flv</file>
  </event>
  <event timestamp="1301433228587" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433229989" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433230082" module="PARTICIPANT" name="ParticipantStatusChangeEvent">
    <status>streamName</status>
    <userId>1</userId>
    <value></value>
  </event>
  <event timestamp="1301433230112" module="PARTICIPANT" name="ParticipantStatusChangeEvent">
    <status>hasStream</status>
    <userId>1</userId>
    <value>false</value>
  </event>
  <event timestamp="1301433231847" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433232567" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433234068" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>false</talking>
  </event>
  <event timestamp="1301433234767" module="VOICE" name="ParticipantTalkingEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
    <talking>true</talking>
  </event>
  <event timestamp="1301433235171" module="VOICE" name="ParticipantLeftEvent">
    <bridge>79689</bridge>
    <participant>12</participant>
  </event>
  <event timestamp="1301433258092" module="PRESENTATION" name="GenerateSlideEvent">
    <presentationName>aSimple-Layout</presentationName>
    <numberOfPages>6</numberOfPages>
    <pagesCompleted>1</pagesCompleted>
  </event>
  <event timestamp="1301433258241" module="PRESENTATION" name="GenerateSlideEvent">
    <presentationName>aSimple-Layout</presentationName>
    <numberOfPages>6</numberOfPages>
    <pagesCompleted>2</pagesCompleted>
  </event>
  <event timestamp="1301433258389" module="PRESENTATION" name="GenerateSlideEvent">
    <numberOfPages>6</numberOfPages>
    <presentationName>aSimple-Layout</presentationName>
    <pagesCompleted>3</pagesCompleted>
  </event>
  <event timestamp="1301433258613" module="PRESENTATION" name="GenerateSlideEvent">
    <numberOfPages>6</numberOfPages>
    <presentationName>aSimple-Layout</presentationName>
    <pagesCompleted>4</pagesCompleted>
  </event>
  <event timestamp="1301433258826" module="PRESENTATION" name="GenerateSlideEvent">
    <presentationName>aSimple-Layout</presentationName>
    <numberOfPages>6</numberOfPages>
    <pagesCompleted>5</pagesCompleted>
  </event>
  <event timestamp="1301433258895" module="PRESENTATION" name="GenerateSlideEvent">
    <numberOfPages>6</numberOfPages>
    <presentationName>aSimple-Layout</presentationName>
    <pagesCompleted>6</pagesCompleted>
  </event>
  <event timestamp="1301433263199" module="PRESENTATION" name="ConversionCompletedEvent">
    <presentationName>aSimple-Layout</presentationName>
    <slidesInfo>&lt;uploadedpresentation&gt;
  &lt;conference id='8774263b-c4a6-4078-b2e6-46b7d4bc91c1' room='8774263b-c4a6-4078-b2e6-46b7d4bc91c1'&gt;
    &lt;presentation name='aSimple-Layout'&gt;
      &lt;slides count='6'&gt;
        &lt;slide number='1' name='slide/1' thumb='thumbnail/1' /&gt;
        &lt;slide number='2' name='slide/2' thumb='thumbnail/2' /&gt;
        &lt;slide number='3' name='slide/3' thumb='thumbnail/3' /&gt;
        &lt;slide number='4' name='slide/4' thumb='thumbnail/4' /&gt;
        &lt;slide number='5' name='slide/5' thumb='thumbnail/5' /&gt;
        &lt;slide number='6' name='slide/6' thumb='thumbnail/6' /&gt;
      &lt;/slides&gt;
    &lt;/presentation&gt;
  &lt;/conference&gt;
&lt;/uploadedpresentation&gt;</slidesInfo>
  </event>
  <event timestamp="1301433264690" module="PRESENTATION" name="SharePresentationEvent">
    <presentationName>aSimple-Layout</presentationName>
    <share>true</share>
  </event>
  <event timestamp="1301433264692" module="PRESENTATION" name="ResizeAndMoveSlideEvent">
    <widthRatio>1.0</widthRatio>
    <yOffset>0.0</yOffset>
    <heightRatio>1.0</heightRatio>
    <xOffset>0.0</xOffset>
  </event>
  <event timestamp="1301433267614" module="PRESENTATION" name="GotoSlideEvent">
    <slide>0</slide>
  </event>
  <event timestamp="1301433275714" module="PARTICIPANT" name="ParticipantLeftEvent">
    <userId>1</userId>
  </event>
  <event timestamp="1301433275779" module="PARTICIPANT" name="EndAndKickAllEvent"/>
</events>
