<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<bean id="log4jConfigurer" lazy-init="false"
		class="edu.carleton.webminer.util.Log4jDirectConfigurer">
		<property name="location">
			<value>app.worker.dir</value>
		</property>
		<property name="fileName">
			<value>log4j.properties</value>
		</property>
		<property name="interval">
			<value>3600</value>
		</property>
	</bean>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>/WEB-INF/webminer.properties
				</value>
			</list>
		</property>
	</bean>
	<bean id="webminerConfig" class="edu.carleton.webminer.config.ConfigHandler">
		<property name="indexPath" value="${indexPath}" />
	</bean>
	<bean id="lectureURLExpression"
		class="org.springframework.xml.xpath.XPathExpressionFactoryBean">
		<property name="expression" value="${lectureURLExpression}" />
	</bean>
	<bean id="slideTimeExpression"
		class="org.springframework.xml.xpath.XPathExpressionFactoryBean">
		<property name="expression" value="${slideTimeExpression}" />
	</bean>
</beans>
