@import "/imports/ui/stylesheets/variables/_all";

.videoDock {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  border-radius: .2rem;
}

.sharedWebcamVideo {
  display: none;
}

.sharedWebcamVideoLocal {
  display: normal;
}
