<?xml version="1.0" encoding="UTF-8"?>
<config>
	<downloadFilePath url="http://142.204.133.83/images/test_image.jpg"/>
	<ports>
		<port>
			<name>Port 1935</name>
			<number>1935</number>
		</port>
		<port>
			<name>Port 9123</name>
			<number>9123</number>
		</port>
		<port>
			<name>Port 80</name>
			<number>80</number>
		</port>
	</ports>
	<rtmpapps>
		<app>
			<name>RTMP BigBlueButton app</name>
			<uri>rtmp://142.204.133.83/bigbluebutton</uri>
		</app>
		<app>
			<name>RTMP deskShare app</name>
			<uri>rtmp://142.204.133.83/deskShare</uri>
		</app>
		<app>
			<name>RTMP video app</name>
			<uri>rtmp://142.204.133.83/video</uri>
		</app>
		<app>
			<name>RTMP sip app</name>
			<uri>rtmp://142.204.133.83/sip</uri>
		</app>
		<app>
			<name>RTMPT BigBlueButton app</name>
			<uri>rtmpt://142.204.133.83/bigbluebutton</uri>
		</app>
		<app>
			<name>RTMPT deskShare app</name>
			<uri>rtmpt://142.204.133.83/deskShare</uri>
		</app>
		<app>
			<name>RTMPT video app</name>
			<uri>rtmpt://142.204.133.83/video</uri>
		</app>
		<app>
			<name>RTMPT sip app</name>
			<uri>rtmpt://142.204.133.83/sip</uri>
		</app>
	</rtmpapps>
</config>
