/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace libChat "org.bigbluebutton.lib.chat.views.*";

@font-face { 
	src: 		url("assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	normal; 
	fontWeight:	normal; 
	embedAsCFF:	true;
}

@font-face { 
	src:		url("assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	normal; 
	fontWeight:	bold; 
	embedAsCFF:	true;
}

@font-face { 
	src:		url("assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	italic; 
	fontWeight:	normal; 
	embedAsCFF:	true;
}

@font-face { 
	src:		url("assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	normal; 
	fontWeight:	heavy; 
	embedAsCFF:	true;
}

@font-face { 
	src: 		url("assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf"); 
	fontFamily:	SourceSansProMX; 
	fontStyle:	normal; 
	fontWeight:	normal; 
	embedAsCFF:	false;
}

global
{
	font-family:	SourceSansPro;
}

s|Application
{
	backgroundColor: #2A2D33;	
}

mx|MenuItemRenderer
{
	font-Family:	SourceSansProMX;
}

libChat|NewMessagesIndicator
{
	backgroundColor: 	#F0615F;
	backgroundAlpha:	1;
	backgroundColor: 	#F0615F;
	borderAlpha: 		0;
	color:				#F3F6F9;
	cornerRadius:		6;
	skinClass:			ClassReference("org.bigbluebutton.lib.chat.views.skins.NewMessagesIndicatorSkin");
}

.titleLabelStyle
{
	color: 		#F3F6F9;
	fontSize:	24;
}

.topButtonStyle
{
	paddingLeft:		24;
	paddingRight:		24;
	width:				48;
	height:				48;
	verticalAlign:		middle;
	horizontalAlign:	middle;
	skinClass:			ClassReference("org.bigbluebutton.lib.main.views.skins.TopButtonSkin");

}

.participantsButtonStyle
{
	backgroundImage:	Embed(source="assets/res/drawable-mdpi/participants.png");
}

.settingsButtonStyle
{
	backgroundImage:	Embed(source="assets/res/drawable-mdpi/settings.png");
}

.menuButtonStyle
{
	backgroundColor         : #299AD5;
	selectedBackgroundColor : #8A9AA7;
	color                   : #F3F6F9;
	fontSize				: 14;
	skinClass               : ClassReference("org.bigbluebutton.lib.main.views.skins.MenuButtonSkin");
}

.micOnButtonStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/mic.png");
}

.micOffButtonStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/mic_off.png");
}

.camOnButtonStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/cam.png");
}

.camOffButtonStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/cam_off.png");
}

.handStatusButtonStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/hand.png");
}

.participantIconStyle
{
	circleColor : #8898A5;
	width  : 32;
	height : 32;
	fontSize : 12;
}

.chatMessageStyle
{
	nameFontSize: 		16;
	timeFontSize:		16;
}

.contentStyle
{
	fontSize:	14;
	color:		#8B9AA8;
}

.panelStyle
{
	backgroundColor:	#F3F6F9;
	backgroundAlpha:	1;
	padding:			6;
	skinClass:			ClassReference("org.bigbluebutton.web.common.skins.PanelSkin");
}

.panelTitleStyle
{
	fontSize:		18;
	fontWeight:		bold;
	color:			#2A2D33;
	paddingBottom:	10;
}

.iconStyle
{
	width:		32;
	height:		32;
	skinClass:	ClassReference("org.bigbluebutton.lib.common.skins.IconSkin")
}

.cameraIconStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/video.png");
}

.micIconStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/microphone.png");
}

.micOffIconStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/micOffIcon_dark.png");
}

.speakingMicIconStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/microphone_talk.png");
}

.listenOnlyIconStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/ic_headset.png");
}

.lockIconStyle
{
	backgroundImage : Embed(source="assets/res/drawable-mdpi/lock.png");
}
