/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace libChat "org.bigbluebutton.lib.chat.views.*";

@font-face { 
	src: 		url("../../../../shared/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	normal; 
	fontWeight:	normal; 
	embedAsCFF:	true;
}

@font-face { 
	src:		url("../../../../shared/assets/fonts/SourceSansPro/SourceSansPro-Semibold.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	normal; 
	fontWeight:	bold; 
	embedAsCFF:	true;
}

@font-face { 
	src:		url("../../../../shared/assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	italic; 
	fontWeight:	normal; 
	embedAsCFF:	true;
}

@font-face { 
	src:		url("../../../../shared/assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf"); 
	fontFamily:	SourceSansPro; 
	fontStyle:	normal; 
	fontWeight:	heavy; 
	embedAsCFF:	true;
}

@font-face { 
	src: 		url("../../../../shared/assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf"); 
	fontFamily:	SourceSansProMX; 
	fontStyle:	normal; 
	fontWeight:	normal; 
	embedAsCFF:	false;
}

global
{
	font-family:	SourceSansPro;
}

s|Application
{
	backgroundColor: #2A2D33;	
}

mx|MenuItemRenderer
{
	font-Family:	SourceSansProMX;
}

libChat|NewMessagesIndicator
{
	backgroundColor: 	#F0615F;
	backgroundAlpha:	1;
	backgroundColor: 	#F0615F;
	borderAlpha: 		0;
	color:				#F3F6F9;
	cornerRadius:		6;
	skinClass:			ClassReference("org.bigbluebutton.lib.chat.views.skins.NewMessagesIndicatorSkin");
}

.titleLabel
{
	color: 		#F3F6F9;
	fontSize:	24;
}

.topButton
{
	paddingLeft:		24;
	paddingRight:		24;
	width:				48;
	height:				48;
	verticalAlign:		middle;
	horizontalAlign:	middle;
	skinClass:			ClassReference("org.bigbluebutton.lib.main.views.skins.TopButtonSkin");

}

.participantsButton
{
	backgroundImage:	Embed(source="../../../../shared/assets/res/drawable-mdpi/participants.png");
}

.settingsButton
{
	backgroundImage:	Embed(source="../../../../shared/assets/res/drawable-mdpi/settings.png");
}

.menuButton
{
	backgroundColor         : #299AD5;
	selectedBackgroundColor : #8A9AA7;
	color                   : #F3F6F9;
	fontSize				: 14;
	skinClass               : ClassReference("org.bigbluebutton.lib.main.views.skins.MenuButtonSkin");
}

.micOnButton
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/mic.png");
}

.micOffButton
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/mic_off.png");
}

.camOnButton
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/cam.png");
}

.camOffButton
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/cam_off.png");
}

.handStatusButton
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/hand.png");
}

.participantIcon
{
	circleColor : #8898A5;
	width  : 32;
	height : 32;
	fontSize : 12;
}

.chatMessage
{
	nameFontSize: 		16;
	timeFontSize:		16;
}

.content
{
	fontSize:	14;
	color:		#8B9AA8;
}

.panel
{
	backgroundColor:	#F3F6F9;
	backgroundAlpha:	1;
	padding:			6;
	skinClass:			ClassReference("org.bigbluebutton.web.common.skins.PanelSkin");
}

.panelTitle
{
	fontSize:		18;
	fontWeight:		bold;
	color:			#2A2D33;
	paddingBottom:	10;
}

.icon
{
	fontSize   :    20;
	fontFamily :    BBBIcons;
	color      :    PropertyReference("bbbGrey");
}

.cameraIcon
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/video.png");
}

.micIcon
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/microphone.png");
}

.micOffIcon
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/micOffIcon_dark.png");
}

.speakingMicIcon
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/microphone_talk.png");
}

.listenOnlyIcon
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/ic_headset.png");
}

.lockIcon
{
	backgroundImage : Embed(source="../../../../shared/assets/res/drawable-mdpi/lock.png");
}
