@import "/imports/ui/components/user-list/styles.scss";
@import "/imports/ui/stylesheets/mixins/_indicators";

.chatThumbnail {
  @extend %flex-column;
  color: var(--color-gray-light);
  justify-content: center;
  font-size: 175%;
}

.chatIcon {
  @include highContrastOutline();
  outline-style: solid;
  flex: 0 0 2.2rem;
}
