<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
<suite name="BigBlueButton Test Suite">
  <test name="Conference tests">
	  <!--groups>
	    <run> 
	      <exclude name="broken"/>
	    </run>
	  </groups-->
  
    <packages>
    	<package name="org.bigbluebutton.conference"/>
    	<package name="org.bigbluebutton.conference.service.participants"/>
    	<package name="org.bigbluebutton.conference.service.archive"/>
    	<package name="org.bigbluebutton.conference.service.archive.playback"/>
    	<package name="org.bigbluebutton.conference.service.archive.recorder"/>
    </packages>
  </test>
</suite>
