@import "/imports/ui/stylesheets/variables/_all";

.echoTest {
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  &:focus {
    outline: none !important;
  }

  &:first-child {
    margin: 0 3rem 0 0;

    [dir="rtl"] & {
      margin: 0 0 0 3rem;
    }

    @include mq($small-only) {
      margin: 0 1rem 0 0;

      [dir="rtl"] & {
        margin: 0 0 0 1rem;
      }
    }
  }

  span:last-child {
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
}
