@import "/imports/ui/stylesheets/variables/_all";

.echoTest {
  margin-top: auto;
  margin-bottom: auto;
}

.button {
  &:focus {
    outline: none !important;
  }

  &:first-child {
    margin-right: 3rem;

    @include mq($small-only) {
      margin-right: 1rem;
    }
  }

  span:last-child {
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
}
