@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/modal/simple/styles";

.button {
  &:first-child {
    margin-right: 3rem;

    @include mq($small-only) {
      margin-right: 1rem;
    }
  }

  span:last-child {
    color: black;
    font-size: 1rem;
    font-weight: 600;
  }
}
