@import "imports/ui/stylesheets/variables/_all";

.settingsMenuLeft {
  width: 14%;
  float: right;
}

.settingsMenuItem {
  padding-top:20px;
}

.settingsMenuItemActive {
  color: #ffffff;
}

.settingsMenuLastItem {
  padding-top:20px;
  padding-bottom:20px;
}

.settingsMenuItemText {
  margin-left: 10px;
}

.divModal {
  clear: 'both';
  height: 100%;
}

.menuList {
  list-style-type: none;
  padding-left: 0px;
}

.descModal {
  position: fixed;
  left: -999em;
  margin: 0;
}

.settingBtn {
  -ms-transform: rotate( 90deg ); /* IE 9 */
  -webkit-transform: rotate( 90deg ); /* Safari */
  transform: rotate( 90deg );
  color: #ffffff;
  span {
    border: 0px solid;
    box-shadow: none;
  }
}

.hrDropdown {
  border: 0.5px solid black;
  width: 150px;
  text-align: center;
}

.dropdown {
    position: relative;
}

.dropdown_active_content {
  margin-top: 14px;
  margin-right: -3px;
  padding-left: 15px;
  height: auto;
  width: 190px;
  display: block;
  background-color: #ffffff;
  font-size: $font-size-base * 1.1;
  position: absolute;
  right: 0;
  text-align: left;
  border-radius: 3%;
}

 .triangleOnDropdown {
   position: absolute;
   margin-top: 5px;
   margin-left: -2px;
   width: 0;
   height: 0;
   border-left: 18px solid transparent;
   border-right: 18px solid transparent;
   border-bottom: 18px solid #ffffff;
 }
