@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

.chat {
  background-color: #fff;
  padding: $md-padding-x;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-shrink: 0;

  a {
    @include elementFocus($color-primary);
    padding-bottom: $sm-padding-y;
    padding-left: $sm-padding-y;
    text-decoration: none;
    display: block;
  }

  [class^="icon-bbb-"],
  [class*=" icon-bbb-"] {
    font-size: 85%;
  }
}

.title {
  @extend %text-elipsis;
  flex: 1;
}

.closeIcon {
  flex: 0 0;
  margin-left: $sm-padding-x / 2;
}
