@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

:root {
  --toast-content-width: 98%; 
  --toast-font-size: 80%;
  --toast-content-margin-sm: .4rem; 
  --toast-content-margin-md: 1.4rem;
}

@mixin lineClamp($lineHeight: 1em, $lineCount: 1) {
  position: relative;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $lineHeight;
  max-height: calc(#{"$lineHeight * $lineCount"});
}

.chat {
  background-color: #CCD5DE;
  padding:
    var(--md-padding-x)
    var(--md-padding-y)
    var(--md-padding-x)
    var(--md-padding-x);

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  height: 100vh;
  transform: translateZ(0);
}

.header {
  position: relative;
  top: var(--poll-header-offset);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  @extend %text-elipsis;
  flex: 1;
  // color:#0059B1 !important;
  & > button, button:hover {
    max-width: var(--toast-content-width);
  }
}

.hideBtn {
  position: relative;
  background-color: #CCD5DE;
  color:#0059B1 !important;
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  display: block;
  margin: var(--border-size-large);
  margin-bottom: var(--border-size);
  padding-left: 0;
  padding-right: inherit;

  [dir="rtl"] & {
    padding-left: inherit;
    padding-right: 0;
  }

  > i {
      color: #0059B1;
      font-size: smaller;

      [dir="rtl"] & {
        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
  }

  &:hover {
      background-color: var(--color-white);
  }
}

.link {
  text-decoration: none;
  background-color: inherit;
}

.pushMessageContent {
  margin-top: var(--toast-content-margin-md);
  margin-bottom: var(--toast-content-margin-sm);
  margin-left: var(--toast-content-margin-sm);
  margin-right: var(--toast-content-margin-sm);
  background-color: inherit;
  width: var(--toast-content-width);
}

.userNameMessage {
  margin: 0;
  font-size: var(--toast-font-size);
  color: var(--color-gray-dark);
  font-weight: bold;
  background-color: inherit;
  @include lineClamp(1em, 1);
}

.contentMessage {
  margin-top: var(--border-radius);
  font-size: var(--toast-font-size);
  background-color: inherit;
  @include lineClamp(var(--font-size-small), 10);
}
