@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

$icon-offset: -.4em;
$background-active: darken($color-white, 5%);

@mixin lineClamp($lineHeight: 1em, $lineCount: 1, $bgColor: $color-white) {
  display: block;
	box-orient: vertical;
  position: relative;
  word-break: break-word;

	overflow: hidden;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;

  &:before {
      content: '...';
      width: 10%;
      height: $lineHeight;
      text-align: right;
      position: absolute;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), $bgColor 75%);
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: $lineHeight;
    margin-top: 0.2em;
    background-color: $bgColor;
  }
}

.chat {
  background-color: #fff;
  padding: $md-padding-x;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: left;
  flex-shrink: 0;

  a {
    @include elementFocus($color-primary);
    padding-bottom: $sm-padding-y;
    padding-left: $sm-padding-y;
    text-decoration: none;
    display: block;
  }

  [class^="icon-bbb-"],
  [class*=" icon-bbb-"] {
    font-size: 85%;
  }
}

.title {
  @extend %text-elipsis;
  flex: 1;
}

.closeBtn {
  background-color: $color-white;
  flex: 0 0;
  padding: 0 0.25rem !important;

  i {
    font-size: 0.85em;
    color: $color-gray-dark !important;
    top: $icon-offset;
  }

  &:focus,
  &:hover{
    background-color: $color-white !important;
    i{
      color: $color-gray;
    }
  }
}

.link {
  text-decoration: none;
}

.pushMessageContent {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.4rem;
  margin-bottom: .4rem;
}

.userNameMessage {
  margin: 0;
  font-size: 80%;
  color: $color-gray-dark;
  font-weight: bold;
  @include lineClamp($lineHeight: 1em, $lineCount: 1, $bgColor: $color-white);
}

.contentMessage {
  margin-top: .2rem;
  font-size: 80%;
  @include lineClamp($lineHeight: $font-size-small, $lineCount: 10, $bgColor: $color-white);
}
