@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/_all";

:root {
  --toast-content-width: 98%; 
  --toast-font-size: 80%;
  --toast-content-margin-sm: .4rem; 
  --toast-content-margin-md: 1.4rem;
}

@mixin lineClamp($lineHeight: 1em, $lineCount: 1) {
  position: relative;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: $lineHeight;
  max-height: calc(#{"$lineHeight * $lineCount"});
}
.wrapper{
  display: flex;
  flex-flow: column;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
}
// .slide{
//   flex-flow: center;
//   flex-direction: center;
//   align-items: center;
//   align-self: center;
// }
.chat {
  background-color: #f1f2f2;
  padding:
    var(--md-padding-x)
    var(--md-padding-y)
    var(--md-padding-x)
    var(--md-padding-x);

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
 // height: 100vh;
  transform: translateZ(0);
}

.header {
  position: relative;
  top: var(--poll-header-offset);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.layout{
 // position: absolute;
width: 1238px;
//height: 50px;
left: 200px;
top: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
flex-wrap: nowrap;
flex-direction: row;
  justify-content: flex-end;
//  align-content: center;
 align-items: center;
 // text-align: center;
 flex: 0 10%;
// position: relative;
  // text-align: center;
  // background: #ffffff;
  // font-size: 1.5rem;

  //  font-family: Avenir;
  //  font-style: normal;
  //  font-weight: 800;
   font-size: 20px;
  //  line-height: 16px;
  //  /* identical to box height, or 80% */
   
  //  display: flex;
  //  align-items: center;
  //  letter-spacing: -0.6px
  
}
.title {
  @extend %text-elipsis;
  flex: 1;
 text-align: center;
 left: 14.03%;
right: 6.94%;
top: 8.77%;
bottom: 85.31%;
text-transform: uppercase;
background: #E5E5E6;
  & > button, button:hover {
    max-width: var(--toast-content-width);
  }
}

.hideBtn {
  position: relative;
  
  color:#0059B1 !important;
  font-family: Muli;

  font-style: normal;
  font-weight: normal;

  font-size: var(--font-size-12px);
  line-height: var(--font-size-15px);
  text-transform: capitalize; 

  display: block;
  margin: var(--border-size-large);
  margin-bottom: var(--border-size);
  padding-left: 0;
  padding-right: inherit;

  [dir="rtl"] & {
    padding-left: inherit;
    padding-right: 0;
  }

  > i {
      color: #0059B1;
      font-size: smaller;

      [dir="rtl"] & {
        -webkit-transform: scale(-1, 1);
        -moz-transform: scale(-1, 1);
        -ms-transform: scale(-1, 1);
        -o-transform: scale(-1, 1);
        transform: scale(-1, 1);
      }
  }

  &:hover {
      background-color: transparent;
  }
}

.link {
  text-decoration: none;
  background-color: inherit;
}

.pushMessageContent {
  margin-top: var(--toast-content-margin-md);
  margin-bottom: var(--toast-content-margin-sm);
  margin-left: var(--toast-content-margin-sm);
  margin-right: var(--toast-content-margin-sm);
  background-color: inherit;
  width: var(--toast-content-width);
}

.userNameMessage {
  margin: 0;
  font-size: var(--toast-font-size);
  color: var(--color-gray-dark);
  font-weight: bold;
  background-color: inherit;
  @include lineClamp(1em, 1);
}

.contentMessage {
  margin-top: var(--border-radius);
  font-size: var(--toast-font-size);
  background-color: inherit;
  @include lineClamp(var(--font-size-small), 10);
}
.slideBtn{
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-self: flex-end;
  
}

.chatTab{
  flex:1;

  font-family: Avenir;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
/* identical to box height, or 115% */

text-align: center;
letter-spacing: 0.05em;
text-transform: uppercase;

color: #000000;
  text-align: center;
  justify-content: center;
  align-items: center;
}