@import "../../stylesheets/variables/_all";

.chat {
  background-color: #fff;
  padding: $sm-padding-x;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.closeChat {
  text-decoration: none;
}

.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

// Modifies the close button style
Button.closeBtn span:first-child {
  color: $color-gray-light;
  background: none;
  border: none;
  box-shadow: none;
}

.header {
  margin-top: $lg-padding-x - $sm-padding-x;
  margin-bottom: $lg-padding-x;

  > [class^="icon-bbb-"],
  > [class*=" icon-bbb-"] {
    font-size: 85%;
  }
}
