user www-data;
worker_processes auto;
pid /run/nginx.pid;

events {
    worker_connections 768;
}

http {
    ##
    # Basic Settings
    ##

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    ##
    # SSL Settings
    ##

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
    ssl_prefer_server_ciphers on;

    ##
    # Logging Settings
    ##

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    ##
    # Gzip Settings
    ##

    gzip on;
    gzip_disable "msie6";

    ##
    # Virtual Host Configs
    ##

    server {
        listen   80;
        listen [::]:80;
        server_name {{ .Env.SERVER_DOMAIN }};
        listen 443 ssl;
        listen [::]:443 ssl;
        ssl_certificate {{ .Env.SSL_CERT_PATH }};
        ssl_certificate_key {{ .Env.SSL_KEY_PATH }};
        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout 10m;
        # need TLSv1 for the Java calls for the API, otherwise it would be removed
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;
        ssl_dhparam {{ .Env.SSL_DHPARAM_PATH }};
        ssl_ecdh_curve secp384r1;
        ssl_session_tickets off;
        ssl_stapling on;
        ssl_stapling_verify on;
        add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload";

        access_log  /var/log/nginx/bigbluebutton.access.log;

        # BigBlueButton landing page.
        location / {
            root   /var/www/bigbluebutton-default;
            index  index.html index.htm;
            expires 1m;
        }

        # BigBlueButton Flash client.
        location /client {
            root    /var/www/bigbluebutton;
            index  index.html index.htm;
        }

        location /playback/presentation/playback.html {
            return 301 /playback/presentation/0.81/playback.html?$query_string;
        }

        location /playback/presentation {
            root    /var/bigbluebutton;
            index  index.html index.htm;
        }

        location /presentation {
            root    /var/bigbluebutton/published;
            index  index.html index.htm;
        }

        location /ws {
            proxy_pass https://bbb-freeswitch:7443;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_read_timeout 6h;
            proxy_send_timeout 6h;
            client_body_timeout 6h;
            send_timeout 6h;
        }

        # Pass to the webhooks app all requests made to the webhooks API.
        location /bigbluebutton/api/hooks {
            proxy_pass     http://bbb-webhooks:3005;
            proxy_redirect     default;
            proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
            proxy_set_header   X-Real-IP     $remote_addr;
            proxy_set_header   Host      $http_host;
            proxy_set_header   X-NginX-Proxy     true;
        }

        # Handle request to bbb-web running within Tomcat.  This is for
        # the BBB-API and Presentation.
        location /bigbluebutton {
            proxy_pass     http://bbb-web:8080;
            proxy_redirect     default;
            proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;

            # Workaround IE refusal to set cookies in iframe
            add_header P3P 'CP="No P3P policy available"';

            # Allow 30M uploaded presentation document.
            client_max_body_size       30m;
            client_body_buffer_size    128k;

            proxy_connect_timeout      90;
            proxy_send_timeout     90;
            proxy_read_timeout     90;

            proxy_buffer_size      4k;
            proxy_buffers      4 32k;
            proxy_busy_buffers_size    64k;
            proxy_temp_file_write_size 64k;

            include    fastcgi_params;
        }

        location /bbb-webrtc-sfu {
            proxy_pass http://bbb-webrtc-sfu:3008;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
            proxy_read_timeout 6h;
            proxy_send_timeout 6h;
            client_body_timeout 6h;
            send_timeout 6h;
        }

        location /html5client {
            proxy_pass http://bbb-html5:3000;
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
        }

        location /_timesync {
            proxy_pass http://bbb-html5:3000;
        }

#        # Routes requests to Greenlight based on the '/b' prefix
#        location /b {
#            proxy_pass          http://greenlight:80;
#            proxy_set_header    Host              $host;
#            proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
#            proxy_set_header    X-Forwarded-Proto $scheme;
#            proxy_http_version  1.1;
#        }
#
#        location /b/cable {
#            proxy_pass          http://greenlight:80;
#            proxy_set_header    Host              $host;
#            proxy_set_header    X-Forwarded-For   $proxy_add_x_forwarded_for;
#            proxy_set_header    X-Forwarded-Proto $scheme;
#            proxy_set_header    Upgrade           $http_upgrade;
#            proxy_set_header    Connection        "Upgrade";
#            proxy_http_version  1.1;
#            proxy_read_timeout  6h;
#            proxy_send_timeout  6h;
#            client_body_timeout 6h;
#            send_timeout        6h;
#        }

        # Redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
               root   /var/www/nginx-default;
        }

        location = / {
            return 301 /b;
        }
    }
}
