<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="BIGBLUEBUTTON" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>log/bigbluebutton.log</File>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>log/bigbluebutton.%d{yyyy-MM-dd}.log</FileNamePattern>
      <!-- keep 30 days worth of history -->
      <MaxHistory>30</MaxHistory>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date [%thread] %-5level %logger{35} - %msg%n</Pattern>
    </layout>
  </appender> 
  
	<root>
		<level value="DEBUG" />
		<appender-ref ref="BIGBLUEBUTTON" />
	</root>		
</configuration>
