@import "/imports/ui/components/video-preview/styles";

.virtualBackgroundRowDropdown {
  display: flex;
  justify-content: inherit;
  width: 100%;

  input {
    border-radius: 0.3rem;
  }

  input:disabled {
    filter: grayscale(100%);
  }
}

.virtualBackgroundRowThumbnail {
  @extend .virtualBackgroundRowDropdown;
  margin-top: 0.4rem;
}
