.heading{
    //position: absolute;
// width: 323px;
// height: 21px;
// left: 237.5px;
// top: 221px;
font-size: 30px;
font-family: Avenir;
font-style: normal;
// font-weight: 500;
// font-size: 13px;
// line-height: 21px;
/* identical to box height, or 162% */

letter-spacing: 0.015em;

color: #000000;
}
.number{
    text-align: center;
    margin-top: 19px;
    margin-bottom: 30px;
}
.num{
    border-color: #36A1FF ;
    border-radius: 4px;
}
