@import "/imports/ui/stylesheets/variables/breakpoints";
@import "/imports/ui/components/modal/simple/styles";
@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/mixins/_scrollable";

.header {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.videoOptions {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.overlay {
  @extend .overlay;
}

.modal {
  @extend .modal;
  padding: 1.5rem;
  min-height: 23rem;
}

.closeBtn {
  position: relative;
  background-color: var(--color-white);

  i {
    color: var(--color-gray-light);
  }

  &:focus,
  &:hover{
    background-color: var(--color-gray-lighter);
    i{
      color: var(--color-gray);
    }
  }
}
.warning{
  text-align: center;
  font-weight: var(--headings-font-weight);
  font-size: 5rem;
  white-space: normal;
}
.text{
  margin: var(--line-height-computed);
  text-align: center;
}

.main {
  margin: var(--line-height-computed);
  text-align: center;
  font-size: var(--font-size-large);
}

.startBtn {
  display: flex;
  align-self: center;
  &:focus {
    outline: none !important;
  }

  i{
    color: #3c5764;
  }

  margin: 0;
  width: 40%;
  display: block;
  bottom:   20px;
  color: var(--color-white) !important;
  background-color: var(--color-link) !important;
}

.title {
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  white-space: normal;

  @include mq(var(--small-only)) {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.videoUrl {
  margin: 0 var(--border-size) 0 var(--border-size);

  label {
    display: block;
  }

  input {
    @include inputFocus(var(--color-blue-light));
    display: block;
    margin: 10px 0 10px 0;
    padding: 0.4em;
    color: var(--color-text);
    line-height: 2rem;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    border: 1px solid var(--color-gray-lighter);
    border-radius: var(--border-radius);

    :global(.animationsEnabled) & {
      transition: box-shadow .2s;
    }
  }

  span {
    font-weight: 600;
  }
}

.urlError {
  color: red;
  padding: 1em 0;

  :global(.animationsEnabled) & {
    transition: 1s;
  }
}

.externalVideoNote {
  color: var(--color-gray);
  font-size: var(--font-size-small);
  font-style: italic;
  padding-top: var(--sm-padding-y);
}

.icon {
  width: 1%;
}

.icon > i {
  font-size: 1.35rem;
}

.item {
  cursor: pointer;
}

.name {
  height: 1rem;
  width: auto;
  position: relative;

  &:before {
    content: "\00a0";
    visibility: hidden;
  }

  > span {
    @extend %text-elipsis;
    position: absolute;
    left: 0;
    right: 0;

    [dir="rtl"] & {
      right: 1rem;
    }
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.list {
  @include scrollbox-vertical();
  max-height: 35vh;
  width: 100%;
  padding: .5rem 0;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  > thead {
  }

  > tbody {
    text-align: left;

    [dir="rtl"] & {
      text-align: right;
    }

    > tr {
      border-bottom: 1px solid var(--color-gray-light);

      &:last-child {
        border-bottom: 0;
      }

      &:hover,
      &:focus {
        background-color: transparentize(#8B9AA8, .85);
      }

      th,
      td {
        padding: calc(var(--sm-padding-y) * 2) calc(var(--sm-padding-x) / 2);
        white-space: nowrap;
      }

      th {
        font-weight: bold;
        color: var(--color-gray-dark);
      }

      td {
      }
    }
  }
}
