@namespace s "library://ns.adobe.com/flex/spark";

@namespace main "org.bigbluebutton.air.main.views.*";

@namespace skins "org.bigbluebutton.air.main.views.skins.*";

@namespace views "org.bigbluebutton.air.common.views.*";

@namespace chat "org.bigbluebutton.air.chat.views.*";

@namespace user "org.bigbluebutton.air.user.views.*";

@namespace settings "org.bigbluebutton.air.settings.views.*";

@namespace settingsAudio "org.bigbluebutton.air.settings.views.audio.*";

@namespace settingsChat "org.bigbluebutton.air.settings.views.chat.*";

@namespace settingsLock "org.bigbluebutton.air.settings.views.lock.*";

@namespace settingsCamera "org.bigbluebutton.air.settings.views.camera.*";

@namespace voice "org.bigbluebutton.air.voice.views.*";

@media (application-dpi: 240) {
    main|LoadingScreen {
        fontSize: 25.50;
    }

    main|TopToolbarAIR {
        height: 60.00;
    }

    views|NoTabView {
        toolbarHeight: 60.00;
    }

    main|MainView {
        menuHeight: 120.00;
    }

    main|MenuButtonsBase {
        bottom: 26.25;
        top: 10.50;
        gap: 33.75;
    }

    skins|MenuButtonSkin {
        fontSize: 18.00;
        iconSize: 27.00;
        labelPadding: 9.00;
    }

    chat|NewMessagesIndicator {
        cornerRadius: 19.50;
        labelPadding: 22.50;
    }

    chat|ChatItemRenderer {
        padding: 10.50;
        gap: 6.00;
        leftIndent: 33.00;
        fontSize: 21.00;
        nameFontSize: 21.00;
        timeFontSize: 21.00;
    }

    settings|SettingsViewBase, settingsCamera|CameraSettingsViewBase {
        groupsPadding: 30.00;
    }

    settingsAudio|AudioSettingsViewBase, settingsChat|ChatSettingsViewBase, settingsLock|LockSettingsViewBase, voice|EchoTestViewBase {
        padding: 22.50;
    }

    main|ExitView, main|DisconnectView {
        gap: 22.50;
        padding: 22.50;
    }

    user|UserDetailsView {
        groupsPadding: 15.00;
    }

    settings|SettingsItemRenderer {
        fontSize: 25.50;
        iconSize: 33.00;
        padding: 24.00;
    }

    settingsCamera|CameraProfileItemRenderer {
        fontSize: 25.50;
        padding: 24.00;
    }

    chat|ChatViewBase {
        inputPadding: 19.50;
    }

    user|UserItemRenderer {
        iconSize: 33.00;
    }

    voice|EchoTestViewBase {
        padding: 22.50;
    }

    s|ToggleSwitch {
        fontSize: 18.00;
    }

    .icon {
        fontSize: 15.00;
    }

    .sendButton {
        borderWeight: 1.50;
        diameter: 42.00;
    }

    .titleGroup {
        fontSize: 25.50;
        left: 67.50;
        right: 67.50;
    }

    .topButton {
        fontSize: 33.00;
    }

    .saveButton {
        fontSize: 18.00;
    }

    .topLeftButton {
        left: 22.50;
    }

    .topRightButton {
        right: 22.50;
    }

    .actionButton {
        fontSize: 15.75;
    }

    .participantItem {
        fontSize: 25.50;
        padding: 22.50;
    }

    .participantIcon {
        diameter: 33.00;
        fontSize: 13.50;
        circleStroke: 1.50;
    }

    .participantIconSettings {
        diameter: 93.00;
        fontSize: 39.00;
        circleStroke: 1.50;
    }

    .sectionTitle {
        paddingTop: 12.00;
        paddingBottom: 12.00;
        paddingLeft: 22.50;
        fontSize: 21.00;
    }

    .participantStatus {
        fontSize: 22.50;
    }

    .chatIcon, .settingsIcon {
        fontSize: 33.00;
    }

    .recordIcon {
        fontSize: 25.50;
    }

    .chatRoomItem {
        fontSize: 25.50;
        padding: 22.50;
    }

    .sendButton {
        fontSize: 15.00;
        borderWeight: 1.50;
        cornerRadius: 3.00;
    }

    .echoTestLabel {
        padding: 24.00;
    }
}
