@namespace s "library://ns.adobe.com/flex/spark";

@namespace main "org.bigbluebutton.air.main.views.*";

@namespace skins "org.bigbluebutton.air.main.views.skins.*";

@namespace views "org.bigbluebutton.air.common.views.*";

@namespace chat "org.bigbluebutton.air.chat.views.*";

@namespace user "org.bigbluebutton.air.user.views.*";

@namespace settings "org.bigbluebutton.air.settings.views.*";

@namespace settingsAudio "org.bigbluebutton.air.settings.views.audio.*";

@namespace settingsChat "org.bigbluebutton.air.settings.views.chat.*";

@namespace settingsLock "org.bigbluebutton.air.settings.views.lock.*";

@namespace settingsCamera "org.bigbluebutton.air.settings.views.camera.*";

@namespace voice "org.bigbluebutton.air.voice.views.*";

@namespace poll "org.bigbluebutton.air.poll.views.*";

@media (application-dpi: 120) {
    main|MainView {
        pollPadding: 6.750;
    }

    main|LoadingScreen {
        fontSize: 12.750;
    }

    main|TopToolbarBase {
        height: 30.000;
    }

    views|NoTabView {
        toolbarHeight: 30.000;
    }

    main|MainView {
        menuHeight: 60.000;
    }

    main|MenuButtons {
        gap: 16.875;
    }

    skins|MenuButtonSkin {
        fontSize: 9.000;
        iconSize: 13.500;
        labelPadding: 4.500;
    }

    chat|NewMessagesIndicator {
        cornerRadius: 9.750;
        labelPadding: 11.250;
    }

    chat|ChatItemRenderer {
        padding: 5.250;
        gap: 3.000;
        leftIndent: 16.500;
        fontSize: 10.500;
        nameFontSize: 10.500;
        timeFontSize: 10.500;
    }

    settings|SettingsViewBase, settingsCamera|CameraSettingsViewBase {
        groupsPadding: 15.000;
    }

    settingsAudio|AudioSettingsViewBase, settingsChat|ChatSettingsViewBase, settingsLock|LockSettingsViewBase, voice|EchoTestViewBase {
        padding: 11.250;
    }

    main|ExitView, main|DisconnectView {
        gap: 11.250;
        padding: 11.250;
    }

    user|UserDetailsView {
        groupsPadding: 7.500;
    }

    settings|SettingsItemRenderer {
        fontSize: 12.750;
        iconSize: 16.500;
        padding: 12.000;
    }

    settingsCamera|CameraProfileItemRenderer {
        fontSize: 12.750;
        padding: 12.000;
    }

    chat|ChatViewBase {
        inputPadding: 9.750;
    }

    user|UserItemRenderer {
        iconSize: 16.500;
    }

    voice|EchoTestViewBase {
        padding: 11.250;
    }

    voice|JoinAudioView {
        gap: 21.000;
    }

    s|ToggleSwitch {
        fontSize: 9.000;
    }

    main|EmojiCallout {
        minListWidth: 82.500;
        fontSize: 8.250;
    }

    poll|PollButtons {
        padding: 4.500;
        gap: 6.750;
    }

    .icon {
        fontSize: 7.500;
    }

    .sendButton {
        borderWeight: .750;
        diameter: 21.000;
    }

    .titleGroup {
        fontSize: 12.750;
        left: 33.750;
        right: 33.750;
    }

    .topButton {
        fontSize: 16.500;
    }

    .saveButton {
        fontSize: 9.000;
    }

    .topLeftButton {
        left: 11.250;
    }

    .topRightButton {
        right: 11.250;
    }

    .actionButton {
        fontSize: 7.875;
    }

    .participantItem {
        fontSize: 12.750;
        padding: 11.250;
    }

    .participantIcon {
        diameter: 16.500;
        fontSize: 6.750;
        circleStroke: .750;
    }

    .participantIconSettings {
        diameter: 46.500;
        fontSize: 19.500;
        circleStroke: .750;
    }

    .sectionTitle {
        paddingTop: 6.000;
        paddingBottom: 6.000;
        paddingLeft: 11.250;
        fontSize: 10.500;
    }

    .participantStatus {
        fontSize: 11.250;
    }

    .chatIcon, .settingsIcon {
        fontSize: 16.500;
    }

    .recordIcon {
        fontSize: 12.750;
    }

    .chatRoomItem {
        fontSize: 12.750;
        padding: 11.250;
    }

    .sendButton {
        fontSize: 7.500;
        borderWeight: .750;
        cornerRadius: 1.500;
    }

    .echoTestLabel {
        padding: 12.000;
    }

    .audioHelpLabel {
        fontSize: 13.500;
    }

    .audioButtonLabel {
        fontSize: 10.500;
    }

    .audioButtonStyle {
        iconSize: 33.000;
    }
}
