@namespace s "library://ns.adobe.com/flex/spark";

@namespace main "org.bigbluebutton.air.main.views.*";

@namespace skins "org.bigbluebutton.air.main.views.skins.*";

@namespace views "org.bigbluebutton.air.common.views.*";

@namespace chat "org.bigbluebutton.air.chat.views.*";

@namespace user "org.bigbluebutton.air.user.views.*";

@namespace settings "org.bigbluebutton.air.settings.views.*";

@namespace settingsAudio "org.bigbluebutton.air.settings.views.audio.*";

@namespace settingsChat "org.bigbluebutton.air.settings.views.chat.*";

@namespace settingsLock "org.bigbluebutton.air.settings.views.lock.*";

@namespace settingsCamera "org.bigbluebutton.air.settings.views.camera.*";

@namespace voice "org.bigbluebutton.air.voice.views.*";

@namespace poll "org.bigbluebutton.air.poll.views.*";

@media (application-dpi: 160) {
    main|MainView {
        pollPadding: 9.0;
    }

    main|LoadingScreen {
        fontSize: 17.0;
    }

    views|NoTabView {
        toolbarHeight: 40.0;
    }

    main|MainView {
        menuHeight: 55.0;
    }

    main|MenuButtons {
        gap: 22.5;
    }

    skins|MenuButtonSkin {
        iconSize: 20.0;
    }

    chat|NewMessagesIndicator {
        cornerRadius: 13.0;
        labelPadding: 15.0;
    }

    chat|ChatItemRenderer {
        padding: 7.0;
        gap: 4.0;
        leftIndent: 22.0;
        fontSize: 16.0;
        nameFontSize: 16.0;
        timeFontSize: 14.0;
    }

    settings|SettingsViewBase, settingsCamera|CameraSettingsViewBase {
        groupsPadding: 20.0;
    }

    settingsAudio|AudioSettingsViewBase, settingsChat|ChatSettingsViewBase, settingsLock|LockSettingsViewBase, voice|EchoTestViewBase {
        padding: 15.0;
    }

    main|ExitView, main|DisconnectView, main|UserInactivityPopUp {
        gap: 15.0;
        padding: 15.0;
    }

    user|UserDetailsView {
        groupsPadding: 10.0;
    }

    settings|SettingsItemRenderer {
        fontSize: 17.0;
        iconSize: 22.0;
        padding: 16.0;
    }

    settingsCamera|CameraProfileItemRenderer {
        fontSize: 17.0;
        padding: 16.0;
    }

    chat|ChatViewBase {
        inputPadding: 13.0;
    }

    user|UserItemRenderer {
        iconSize: 22.0;
    }

    voice|EchoTestViewBase {
        padding: 15.0;
    }

    voice|JoinAudioView {
        gap: 28.0;
    }

    s|ToggleSwitch {
        fontSize: 12.0;
    }

    main|EmojiCallout {
        minListWidth: 110.0;
        fontSize: 11.0;
    }

    main|MobilePopUp {
        cornerRadius: 4.0;
        fontSize: 11.0;
        padding: 6.0;
    }

    .mobilePopUpUniqueButton, .mobilePopUpFirstButton, .mobilePopUpLastButton, .mobilePopUpLastButton {
        cornerRadius: 4.0;
    }

    .icon {
        fontSize: 10.0;
    }

    .sendButton {
        diameter: 28.0;
        fontSize: 15;
    }

    .titleGroup {
        fontSize: 17.0;
        left: 45.0;
        right: 45.0;
    }

    .topButton {
        fontSize: 22.0;
        height: 38.0;
        width: 38.0;
    }

    .saveButton {
        fontSize: 12.0;
    }

    .topLeftButton {
        left: 0;
    }

    .topRightButton {
        right: 0;
    }

    .actionButton {
        fontSize: 10.5;
    }

    .participantItem {
        fontSize: 17.0;
        padding: 15.0;
    }

    .participantIcon {
        diameter: 22.0;
        fontSize: 9.0;
        circleStroke: 1.0;
    }

    .participantIconSettings {
        diameter: 62.0;
        fontSize: 26.0;
        circleStroke: 1.0;
    }

    .sectionTitle {
        paddingTop: 8.0;
        paddingBottom: 8.0;
        paddingLeft: 15.0;
        fontSize: 14.0;
    }

    .participantStatus {
        fontSize: 15.0;
    }

    .chatIcon, .settingsIcon {
        fontSize: 22.0;
        width: 22.0;
        height: 22.0;
    }

    .recordIcon {
        fontSize: 17.0;
    }

    .chatRoomItem {
        fontSize: 17.0;
        padding: 15.0;
    }

    .echoTestLabel {
        padding: 16.0;
    }

    .audioHelpLabel {
        fontSize: 18.0;
    }

    .audioButtonLabel {
        fontSize: 14.0;
    }

    .audioButtonStyle {
        iconSize: 44.0;
    }
}
