@namespace s "library://ns.adobe.com/flex/spark";
@namespace main "org.bigbluebutton.air.main.views.*";
@namespace skins "org.bigbluebutton.air.main.views.skins.*";
@namespace views "org.bigbluebutton.air.common.views.*";
@namespace chat "org.bigbluebutton.air.chat.views.*";
@namespace user "org.bigbluebutton.air.user.views.*";
@namespace settings "org.bigbluebutton.air.settings.views.*";
@namespace settingsAudio "org.bigbluebutton.air.settings.views.audio.*";
@namespace settingsChat "org.bigbluebutton.air.settings.views.chat.*";
@namespace settingsLock "org.bigbluebutton.air.settings.views.lock.*";
@namespace settingsCamera "org.bigbluebutton.air.settings.views.camera.*";
@namespace voice "org.bigbluebutton.air.voice.views.*";
@namespace poll "org.bigbluebutton.air.poll.views.*";

@media (application-dpi: 320) {
	main|MainView {
		pollPadding : 18;
	}
	
	main|LoadingScreen {
		fontSize : 34;
	}
	
	views|NoTabView {
		toolbarHeight : 80;
	}
	
	main|MainView {
		menuHeight : 110;
	}
	
	main|MenuButtons {
		gap      : 45;
	}
	
	skins|MenuButtonSkin {
		iconSize     : 40;
	}
	
	chat|NewMessagesIndicator {
		cornerRadius : 26;
		labelPadding : 30;
	}
	
	chat|ChatItemRenderer {
		padding      : 14;
		gap          : 8;
		leftIndent   : 44;
		fontSize     : 32;
		nameFontSize : 32;
		timeFontSize : 28;
	}
	
	settings|SettingsViewBase, settingsCamera|CameraSettingsViewBase {
		groupsPadding : 40;
	}
	
	settingsAudio|AudioSettingsViewBase, settingsChat|ChatSettingsViewBase, settingsLock|LockSettingsViewBase, voice|EchoTestViewBase {
		padding: 30;
	}
	
	main|ExitView, main|DisconnectView, main|UserInactivityPopUp {
		gap     : 30;
		padding : 30;
	}
	
	user|UserDetailsView {
		groupsPadding : 20;
	}
	
	settings|SettingsItemRenderer {
		fontSize : 34;
		iconSize : 44;
		padding  : 32;
	}
	
	settingsCamera|CameraProfileItemRenderer {
		fontSize : 34;
		padding  : 32;
	}
	
	chat|ChatViewBase {
		inputPadding : 26;
	}
	
	user|UserItemRenderer {
		iconSize : 44;
	}
	
	voice|EchoTestViewBase {
		padding: 30;
	}
	
	voice|JoinAudioView {
		gap : 56;
	}
	
	s|ToggleSwitch {
		fontSize : 24;
	}
	
	main|EmojiCallout {
		minListWidth : 220;
		fontSize     : 22;
	}
	
	main|MobilePopUp {
		cornerRadius : 8;
		fontSize     : 22;
		padding : 12;
	}
	
	.mobilePopUpUniqueButton, .mobilePopUpFirstButton, .mobilePopUpLastButton, .mobilePopUpLastButton {
		cornerRadius : 8;
	}
	
	.icon {
		fontSize : 20;
	}
	
	.sendButton {
		diameter     : 56;
		fontSize     : 30;
	}
	
	.titleGroup {
		fontSize : 34;
		left     : 90;
		right    : 90;
	}
	
	.topButton {
		fontSize : 44;
		height   : 76;
		width    : 76;
	}
	
	.saveButton {
		fontSize : 24;
	}
	
	.topLeftButton {
		left : 0;
	}
	
	.topRightButton {
		right : 0;
	}
	
	.actionButton {
		fontSize : 21;
	}
	
	.participantItem {
		fontSize : 34;
		padding  : 30;
	}
	
	.participantIcon {
		diameter     : 44;
		fontSize     : 18;
		circleStroke : 2;
	}
	
	.participantIconSettings {
		diameter     : 124;
		fontSize     : 52;
		circleStroke : 2;
	}
	
	.sectionTitle {
		paddingTop    : 16;
		paddingBottom : 16;
		paddingLeft   : 30;
		fontSize      : 28;
	}
	
	.participantStatus {
		fontSize : 30;
	}
	
	.chatIcon, .settingsIcon {
		fontSize : 44;
		width: 44;
		height: 44;
	}
	
	.recordIcon {
		fontSize : 34;
	}
	
	.chatRoomItem {
		fontSize : 34;
		padding  : 30;
	}
	
	.echoTestLabel {
		padding : 32;
	}
	
	.audioHelpLabel {
		fontSize : 36;
	}
	
	.audioButtonLabel {
		fontSize : 28;
	}
	
	.audioButtonStyle {
		iconSize : 88;
	}
}
