@namespace s "library://ns.adobe.com/flex/spark";

@namespace main "org.bigbluebutton.air.main.views.*";

@namespace skins "org.bigbluebutton.air.main.views.skins.*";

@namespace views "org.bigbluebutton.air.common.views.*";

@namespace chat "org.bigbluebutton.air.chat.views.*";

@namespace user "org.bigbluebutton.air.user.views.*";

@namespace settings "org.bigbluebutton.air.settings.views.*";

@namespace settingsAudio "org.bigbluebutton.air.settings.views.audio.*";

@namespace settingsChat "org.bigbluebutton.air.settings.views.chat.*";

@namespace settingsLock "org.bigbluebutton.air.settings.views.lock.*";

@namespace settingsCamera "org.bigbluebutton.air.settings.views.camera.*";

@namespace voice "org.bigbluebutton.air.voice.views.*";

@namespace poll "org.bigbluebutton.air.poll.views.*";

@media (application-dpi: 480) {
    main|MainView {
        pollPadding: 27.0;
    }

    main|LoadingScreen {
        fontSize: 51.0;
    }

    views|NoTabView {
        toolbarHeight: 120.0;
    }

    main|MainView {
        menuHeight: 240.0;
    }

    main|MenuButtons {
        gap: 67.5;
    }

    skins|MenuButtonSkin {
        fontSize: 36.0;
        iconSize: 54.0;
        labelPadding: 18.0;
    }

    chat|NewMessagesIndicator {
        cornerRadius: 39.0;
        labelPadding: 45.0;
    }

    chat|ChatItemRenderer {
        padding: 21.0;
        gap: 12.0;
        leftIndent: 66.0;
        fontSize: 42.0;
        nameFontSize: 42.0;
        timeFontSize: 42.0;
    }

    settings|SettingsViewBase, settingsCamera|CameraSettingsViewBase {
        groupsPadding: 60.0;
    }

    settingsAudio|AudioSettingsViewBase, settingsChat|ChatSettingsViewBase, settingsLock|LockSettingsViewBase, voice|EchoTestViewBase {
        padding: 45.0;
    }

    main|ExitView, main|DisconnectView, main|UserInactivityView {
        gap: 45.0;
        padding: 45.0;
    }

    user|UserDetailsView {
        groupsPadding: 30.0;
    }

    settings|SettingsItemRenderer {
        fontSize: 51.0;
        iconSize: 66.0;
        padding: 48.0;
    }

    settingsCamera|CameraProfileItemRenderer {
        fontSize: 51.0;
        padding: 48.0;
    }

    chat|ChatViewBase {
        inputPadding: 39.0;
    }

    user|UserItemRenderer {
        iconSize: 66.0;
    }

    voice|EchoTestViewBase {
        padding: 45.0;
    }

    voice|JoinAudioView {
        gap: 84.0;
    }

    s|ToggleSwitch {
        fontSize: 36.0;
    }

    main|EmojiCallout {
        minListWidth: 330.0;
        fontSize: 33.0;
    }

    poll|PollButtons {
        padding: 18.0;
        gap: 27.0;
    }

    .icon {
        fontSize: 30.0;
    }

    .sendButton {
        diameter: 84.0;
    }

    .titleGroup {
        fontSize: 51.0;
        left: 135.0;
        right: 135.0;
    }

    .topButton {
        fontSize: 66.0;
        height: 114.0;
        width: 114.0;
    }

    .saveButton {
        fontSize: 36.0;
    }

    .topLeftButton {
        left: 0;
    }

    .topRightButton {
        right: 0;
    }

    .actionButton {
        fontSize: 31.5;
    }

    .participantItem {
        fontSize: 51.0;
        padding: 45.0;
    }

    .participantIcon {
        diameter: 66.0;
        fontSize: 27.0;
        circleStroke: 3.0;
    }

    .participantIconSettings {
        diameter: 186.0;
        fontSize: 78.0;
        circleStroke: 3.0;
    }

    .sectionTitle {
        paddingTop: 24.0;
        paddingBottom: 24.0;
        paddingLeft: 45.0;
        fontSize: 42.0;
    }

    .participantStatus {
        fontSize: 45.0;
    }

    .chatIcon, .settingsIcon {
        fontSize: 66.0;
        width: 66.0;
        height: 66.0;
    }

    .recordIcon {
        fontSize: 51.0;
    }

    .chatRoomItem {
        fontSize: 51.0;
        padding: 45.0;
    }

    .sendButton {
        fontSize: 30.0;
        borderWeight: 3.0;
        cornerRadius: 6.0;
    }

    .echoTestLabel {
        padding: 48.0;
    }

    .audioHelpLabel {
        fontSize: 54.0;
    }

    .audioButtonLabel {
        fontSize: 42.0;
    }

    .audioButtonStyle {
        iconSize: 132.0;
    }
}
