@namespace s "library://ns.adobe.com/flex/spark";

@namespace main "org.bigbluebutton.air.main.views.*";

@namespace skins "org.bigbluebutton.air.main.views.skins.*";

@namespace views "org.bigbluebutton.air.common.views.*";

@namespace chat "org.bigbluebutton.air.chat.views.*";

@namespace user "org.bigbluebutton.air.user.views.*";

@namespace settings "org.bigbluebutton.air.settings.views.*";

@namespace settingsAudio "org.bigbluebutton.air.settings.views.audio.*";

@namespace settingsChat "org.bigbluebutton.air.settings.views.chat.*";

@namespace settingsLock "org.bigbluebutton.air.settings.views.lock.*";

@namespace settingsCamera "org.bigbluebutton.air.settings.views.camera.*";

@namespace voice "org.bigbluebutton.air.voice.views.*";

@namespace poll "org.bigbluebutton.air.poll.views.*";

@media (application-dpi: 640) {
    main|MainView {
        pollPadding: 36;
    }

    main|LoadingScreen {
        fontSize: 68;
    }

    views|NoTabView {
        toolbarHeight: 160;
    }

    main|MainView {
        menuHeight: 220;
    }

    main|MenuButtons {
        gap: 90;
    }

    skins|MenuButtonSkin {
        iconSize: 80;
    }

    chat|NewMessagesIndicator {
        cornerRadius: 52;
        labelPadding: 60;
    }

    chat|ChatItemRenderer {
        padding: 28;
        gap: 16;
        leftIndent: 88;
        fontSize: 64;
        nameFontSize: 64;
        timeFontSize: 56;
    }

    settings|SettingsViewBase, settingsCamera|CameraSettingsViewBase {
        groupsPadding: 80;
    }

    settingsAudio|AudioSettingsViewBase, settingsChat|ChatSettingsViewBase, settingsLock|LockSettingsViewBase, voice|EchoTestViewBase {
        padding: 60;
    }

    main|ExitView, main|DisconnectView, main|UserInactivityPopUp {
        gap: 60;
        padding: 60;
    }

    user|UserDetailsView {
        groupsPadding: 40;
    }

    settings|SettingsItemRenderer {
        fontSize: 68;
        iconSize: 88;
        padding: 64;
    }

    settingsCamera|CameraProfileItemRenderer {
        fontSize: 68;
        padding: 64;
    }

    chat|ChatViewBase {
        inputPadding: 52;
    }

    user|UserItemRenderer {
        iconSize: 88;
    }

    voice|EchoTestViewBase {
        padding: 60;
    }

    voice|JoinAudioView {
        gap: 112;
    }

    s|ToggleSwitch {
        fontSize: 48;
    }

    main|EmojiCallout {
        minListWidth: 440;
        fontSize: 44;
    }

    main|MobilePopUp {
        cornerRadius: 16;
        fontSize: 44;
        padding: 24;
    }

    .mobilePopUpUniqueButton, .mobilePopUpFirstButton, .mobilePopUpLastButton, .mobilePopUpLastButton {
        cornerRadius: 16;
    }

    .icon {
        fontSize: 40;
    }

    .sendButton {
        diameter: 112;
        fontSize: 60;
    }

    .titleGroup {
        fontSize: 68;
        left: 180;
        right: 180;
    }

    .topButton {
        fontSize: 88;
        height: 152;
        width: 152;
    }

    .saveButton {
        fontSize: 48;
    }

    .topLeftButton {
        left: 0;
    }

    .topRightButton {
        right: 0;
    }

    .actionButton {
        fontSize: 42;
    }

    .participantItem {
        fontSize: 68;
        padding: 60;
    }

    .participantIcon {
        diameter: 88;
        fontSize: 36;
        circleStroke: 4;
    }

    .participantIconSettings {
        diameter: 248;
        fontSize: 104;
        circleStroke: 4;
    }

    .sectionTitle {
        paddingTop: 32;
        paddingBottom: 32;
        paddingLeft: 60;
        fontSize: 56;
    }

    .participantStatus {
        fontSize: 60;
    }

    .chatIcon, .settingsIcon {
        fontSize: 88;
        width: 88;
        height: 88;
    }

    .recordIcon {
        fontSize: 68;
    }

    .chatRoomItem {
        fontSize: 68;
        padding: 60;
    }

    .echoTestLabel {
        padding: 64;
    }

    .audioHelpLabel {
        fontSize: 72;
    }

    .audioButtonLabel {
        fontSize: 56;
    }

    .audioButtonStyle {
        iconSize: 176;
    }
}
