@import '../styles.scss';

.userListItem {
  @extend %list-item;
  flex-flow: column;
  flex-shrink: 0;

  .cursorPointer {
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s all;
  }

  &:hover,
  &:focus {
    .cursorPointer {
      opacity: 1;
    }
  }
}

.userItemContentsCompact {
}

.userName {
  @extend %flex-column;
  min-width: 0;
  flex-grow: 1;
  margin-left: 0.7rem;
  justify-content: center;
  font-size: 0.95rem;
  font-weight: 600;
}

.userNameMain {
  @extend %no-margin;
  font-size: 0.9rem;
  line-height: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
  transition: all 0.3s;
}

.hasSub {
  transform: translateY(0%);
}

.userNameSub {
  @extend %no-margin;
  font-size: 0.8rem;
  line-height: 0.9rem;
  font-weight: 200;
  font-style: italic;;
  color: $sub-name-color;
}

.userIconsContainer {
  @extend %flex-column;
  text-align: center;
  flex-basis: 1rem;
  justify-content: center;
  transition: 0.3s all;
}

.userIcons {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 0.3rem;
  text-align: right;
  font-size: 1rem;
  flex-basis: 4rem;
  flex-shrink: 1;
  color: $user-icons-color;
}

.userItemContents {
  flex-grow: 0;
  display: flex;
  flex-flow: row;
}

/* Animations
 * ==========
 */

// Actions
.enter, .appear {
  opacity: 0;
  max-height: 0;
}

.enterActive, .appearActive {
  opacity: 1;
  transition: all 300ms;
  max-height: 10rem;
}

.leave {
  opacity: 1;
  max-height: 10rem;
}

.leaveActive {
  opacity: 0;
  transition: all 500ms;
  max-height: 0rem;
}

// Text under username
.subUserNameEnter, .subUserNameAppear {
  opacity: 0.01;
  transform: translateY(-100%);
}

.subUserNameEnterActive, .subUserNameAppearActive {
  transform: translateY(0%);
  opacity: 1;
  transition: all 500ms;
  max-height: 10rem;
}

.subUserNameLeave {
  opacity: 1;
  transform: translateY(0%);
}

.subUserNameLeaveActive {
  opacity: 0;
  transition: all 300ms;
  transform: translateY(-100%);
}

@import "../../../stylesheets/variables/_all";

.settingsMenuItem {
  padding-top:20px;
}

.settingsMenuItemText {
  margin-left: 10px;
}

.menuList {
  list-style-type: none;
  padding-left: 0px;
}

.settingBtn {
  -ms-transform: rotate( 90deg ); /* IE 9 */
  -webkit-transform: rotate( 90deg ); /* Safari */
  transform: rotate( 90deg );
  color: #ffffff;
  span {
    border: 0px solid;
    box-shadow: none;
  }
}

.hrDropdown {
  border: 0.3px solid $color-gray-light;
  width: 165px;
  text-align: center;
}

.dropdown {
  position: static;
}

.dropdownActiveContent {
  left: 16vw;
  height: auto;
  width: 190px;
  display: block;
  background-color: #ffffff;
  position: absolute;
  text-align: left;
  font-size: 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.triangleOnDropdown {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
  left: 15.5vw;
  top: 263px;
  position: absolute;
  /* margin-top: 5px; */
  z-index: 10000;
  /* margin-left: -2px; */
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 9px solid #ffffff;
}

 .iconColor {
   font-size: $font-size-base;
   color: $color-gray-light;
 }
