@import "../styles.scss";

.smallTitle {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 var(--sm-padding-x);
  margin: 0 0 (var(--lg-padding-x) / 2) 0;
  color: var(--color-gray);
}

.optionName{
  font-weight: 400;
  font-size: var(--font-size-small);
  color: var(--color-gray-dark);
  flex-grow: 1;
  line-height: 2;
  text-align: left;
  padding: 0 0 0 var(--lg-padding-y);
  text-overflow: ellipsis;
}

.translationContainer {
  @extend %list-item;
  cursor: pointer;
  text-decoration: none;
  flex-grow: 1;
  line-height: 2;
  color: var(--color-gray-dark);
  background-color: var(--color-off-white);
  padding-top: var(--lg-padding-y);
  padding-bottom: var(--lg-padding-y);
  padding-left: var(--lg-padding-y);
  padding-right: 0;
  margin-left: var(--border-size);
  margin-top: var(--border-size);
  margin-bottom: var(--border-size);
  margin-right: 0;
  img{
    height: 24px;
    width: 24px;
  }
}
.active {
  background-color: var(--list-item-bg-hover);
  box-shadow: inset 0 0 0 var(--border-size) var(--item-focus-border), inset 1px 0 0 1px var(--item-focus-border);
}
