<div id="login-container">

<img id="bbb-logo" height="50px" alt="" src="images/bbb_logo.png">
  <p id="bbb-title" >BigBlueButton</p>
  <h1>HTML5 Client</h1>
  <p id="welcomeMsg">
    Please type a username and meeting ID below and click Sign in to start your BigBlueButton session.
  </p>

  <form id="login-form">
    <input id="user-name" type="text" maxlength="30" name="user[name]" placeholder="Enter a username" autofocus="autofocus"/>
    <!-- <select id="meeting-id" name="meeting[id]">
      <% _.each(meetings, function(meeting) { %>
        <option value='<%= meeting.get("meetingID") %>'>
          <%= meeting.get("meetingName") %>
        </option>
      <% }); %>
    </select> -->
    <input id="meeting-id" type="text" maxlength="1000" name="meeting[0]"/>
    <input id="login-button" type="submit" class="submit_btn" value="Join"/>
  </form>

</div>
