<div id="login-container">
  <div id="system-check">
    <div id="system-check-title">
    <h1>BigBlueButton HTML5</h1></br>
    System Check
    </div>
    <div>
      <form id="system-check-list">
        <table id="system-check-table">
          <tr>
            <td class="system-check-table-td">Test Direct Connection</td><td><input type="checkbox" id="direct-connection"></td>
          </tr>
          <tr>
            <td class="system-check-table-td">Test Alternate Connection</td><td><input type="checkbox" id="alter-connection"></td>
          </tr>
          <tr>
            <td class="system-check-table-td">Bandwidth</td><td><input type="checkbox" id="bandwidth"></td>
          </tr>
          <tr>
            <td class="system-check-table-td">Browser Version Check</td><td><input type="checkbox" id="browser-version"></td>
          </tr>
          <tr>
            <td class="system-check-table-td">Java Version Check</td><td><input type="checkbox" id="java-version"></td>
          </tr>
          <tr>
            <td class="system-check-table-td">Connection Desktop Sharing</td><td><input type="checkbox" id="connect-desk-sharing"></td>
          </tr>

        </table>
        <button  id="login-button" >Next</button>
      </form>
  </div>
  </div>
</div>