<div class="navbar-btn-group-left btn-group">
  <button id="users-btn" class="navbar-btn">
    <i class="icon fa fa-group"></i>
  </button>

  <button id="chat-btn" class="navbar-btn">
    <i class="icon fa fa-comments"></i>
    <!--
      <div id="chat-notifications" class="notification">12</div>
    -->
  </button>

  <button id="video-btn" class="navbar-btn">
    <i class="icon fa fa-video-camera"></i>
  </button>

  <button id="audio-btn" class="navbar-btn">
     <i class="icon fa fa-microphone"></i>
  </button>
</div>

<div class="navbar-btn-group-right btn-group">
  <!--
  <button id="setting-btn" class="navbar-btn">
    <i class="icon fa fa-gear"></i>
  </button
   -->

  <button id="logout-btn" class="navbar-btn" >
    <i class="icon fa fa-sign-out"></i>
  </button>

  <button id="hide-menu-btn" class="navbar-btn">
    <i class="icon fa fa-chevron-circle-up "></i>
  </button>
</div>
