<div id="chat-header">
  <h3>Chat</h3>
</div>

<div id="chat-options-bar">
  <button id="chat-general-btn" class="btn btn-default btn-sm active">
    General
  </button>
  <div id="chat-private-tabs" class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <i class="icon fa fa-plus"></i>
    </button>
    <ul id="chat-user-list" class="dropdown-menu" role="menu">
    </ul>
  </div>
</div>

<div id="chat-messages">
  <div id="chat-public-box" class="active">
  </div>
</div>

<div id="chat-input-wrapper" class="input-group input-group-sm">
  <input id="chat-input-box" type="text" class="form-control" placeholder="Enter message"></input>
	<span class="input-group-btn">
  	<button id="chat-send-btn" class="btn btn-default">Post</button>
	</span>
</div>
