<li class="user-wrapper" id="user-<%= userID %>">
   <div class="row">
      <div class="user-role col-md-1"><i class="icon fa fa-user"></i></div>
      <div class="user-name col-md-5"><%= username %></div>
      <div class="user-video col-md-1"><i class="icon fa fa-video-camera"></i></div>
      <div class="user-audio col-md-1"><i class="icon fa fa-microphone"></i></div>
      <div class="user-kick col-md-1"><i class="icon fa fa-sign-out"></i></div>
      <div class="clearfix"></div>
   </div>
</li>