html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 1rem; /* 16px */
}

a {
  color: inherit;
}

#app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

[hidden]:not([hidden="false"]) {
  display: none !important;
}

/* DEBUG ONLY
* {
  background-color: rgba(0, 0, 0, .025) !important;
}
*/
