@import "/imports/ui/stylesheets/variables/_all";

.btn {
  --icon-offset: -.4em;
  --square-side-length: 1.56rem;

  flex: 0 0;
  margin-top: auto;

  cursor: pointer;

  span:first-child {
    width: var(--square-side-length);
    height: var(--square-side-length);
  }


  i {
    color: var(--color-icon) !important;
    top: var(--icon-offset);
    left: var(--icon-offset);
  }

  &:hover,
  &:focus {
    > span:first-child {
      background-color: transparent !important;
    }
  }
}

.optionsButton{
    i {
      color: var(--color-icon) !important;
      background-color: transparent !important;
    }
    span {
      &:hover,
      &:focus {
        background-color: var(--background-icon) !important;
      }
    }
}
