@import "/imports/ui/stylesheets/variables/_all";

.btn {
  flex: 0 0;
  margin-top: auto;

  i {
    color: $color-gray-dark !important;
  }   

  &:hover,
  &:focus {
    span {
      background-color: transparent !important;
    }
  }
}