@import "/imports/ui/stylesheets/variables/_all";

.btn {
  --icon-offset: -.4em;
  --square-side-length: 1.56rem;

  flex: 0 0;
  margin-top: auto;

  cursor: pointer;

  span:first-child {
    width: var(--square-side-length);
    height: var(--square-side-length);
  }


  i {
    color: var(--color-gray-dark) !important;
    top: var(--icon-offset);
    left: var(--icon-offset);
  }

  &:hover,
  &:focus {
    > span:first-child {
      background-color: transparent !important;
    }
  }
}
