@import "/imports/ui/stylesheets/variables/_all";

.btn {
  flex: 0 0;
  margin-top: auto;

  span {
    width: 1.56rem;
    height: 1.56rem;
  }

  i {
    color: $color-gray-dark !important;
    top: -.4em;
    left: -.1em;
  }   

  &:hover,
  &:focus {
    span {
      background-color: transparent !important;
    }
  }
}