@import "imports/ui/stylesheets/variables/_all";

.modalHeaderButtonContainer {
  float: right;
}

.modalHeaderTitle {
  font-family: $font-family-base;
  color: $color-heading;
  float: left;
}

.settingsMenuTop {
  height: 15%;
  min-height: 35px;
  max-height: 65px;
}

.settingsMenuBottom {
  height: 85%;
}

.testRadius {
  border-radius: 18px;
}
