@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/user-list/styles.scss";

.captionsListItem {
  @extend %list-item;
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: var(--lg-padding-y);
  padding-bottom: var(--lg-padding-y);
  padding-left: var(--lg-padding-y);
  text-decoration: none;
  width: 100%;
  color: var(--color-gray-dark);

  [dir="rtl"]  & {
    padding-right: var(--lg-padding-y);
    padding-left: none;
  }

  > i {
    display: flex;
    font-size: 175%;
    color: #ffffff;
    flex: 0 0 2.2rem;
  }

  > span {
    font-family: Avenir;
    font-weight: 400;
    font-size: var(--font-size-14);
    color: #ffffff;
    position: relative;
    flex-grow: 1;
    line-height: 2;
    text-align: left;
    padding-left: var(--lg-padding-y);
    text-overflow: ellipsis;

    [dir="rtl"]  & {
      text-align: right;
      padding-right: var(--md-padding-x);
    }
  }

  &:active {
    background-color: var(--list-item-bg-hover);
  }
}
