@import "/imports/ui/components/user-list/styles.scss";

.smallTitle {
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 $sm-padding-x;
  margin: 0 0 ($lg-padding-x / 2) 0;
  color: $color-gray-light;
}

.scrollableList {
  @include scrollbox-vertical($user-list-bg);
}

.separator {
  margin: 1rem auto;
  width: 2.2rem;
  border: 0;
  border-top: 1px solid $color-gray-lighter;
}

.chatsList {
  @extend .lists;
  overflow-x: hidden;
  flex-shrink: 1;
}