@import "/imports/ui/components/user-list/styles.scss";
@import "/imports/ui/stylesheets/mixins/focus";

.smallTitle {
  @extend .smallTitle;
}

.scrollableList {
  @include elementFocus($list-item-bg-hover);
  @include scrollbox-vertical($user-list-bg);
}

.separator {
  margin: 1rem auto;
  width: 2.2rem;
  border: 0;
  border-top: 1px solid $color-gray-lighter;
}

.chatsList {
  @extend .lists;
  overflow: hidden;
  flex-shrink: 1;
}

.list {
  margin-left: $md-padding-y;
}
