@import "/imports/ui/stylesheets/variables/_all";
@import '/imports/ui/stylesheets/mixins/focus';
@import "/imports/ui/components/modal/simple/styles";

.actions {
  margin-left: auto;
  margin-right: 3px;

  :first-child {
    margin-right: 3px;
  }
}

.closeBtn {
  i {
    color: var(--color-gray-light);
  }
  margin-left: auto;
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 1.5rem;
  justify-content: center;

  //width: 50%;
  @include mq($small-only) {
    width: 100%;
    height: unset;
  }
}

.content {
  display: flex;
  flex: 3;

  @include mq($small-only) {
    flex-direction: column;
  }
}

.footer {
  display: flex;
}

.header {
  display: flex;
  border: none;
}

.label {
  margin-top: 8px;
  font-size: 0.85rem;
  font-weight: bold;
  color: var(--color-gray-label);
}

.modal {
  padding: 1rem;
  @extend .modal;
}

.overlay {
  @extend .overlay;
}

.preview {
  width: 12rem;
  height: 9rem;
  @include mq($small-only) {
    width: 100%;
  }
}

.row {
  display: flex;
}

.select {
  margin-top: 0.4rem;
  width: 100%;
  height: 1.6rem;

  color: var(--color-gray-label);
  border-radius: 0.3rem;

  background-color: var(--color-white);
}

.title {
  display: block;
  color: var(--color-background);
  font-size: 1.4rem;
  text-align: center;
}

.browserWarning {
  padding: 0.5rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.25rem;
  margin: var(--line-height-computed);
  text-align: center;
}