@import "/imports/ui/stylesheets/variables/_all";

:root {
  --systemMessage-background-color: #F9FBFC;
  --systemMessage-border-color: #C5CDD4;
}

.item {
  font-size: var(--font-size-base);
  margin-bottom: var(--line-height-computed);

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.wrapper {
  display: flex;
  flex-flow: row;
  flex: 1;
  position: relative;
  margin-left: var(--border-size);
  margin-top: var(--border-size);
}

.systemMessage {
  background: var(--systemMessage-background-color);
  border: 1px solid var(--systemMessage-border-color);
  border-radius: var(--border-radius);
  font-weight: var(--btn-font-weight);
  padding: var(--font-size-base);
}

.avatarWrapper {
  flex-basis: 1.65rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: calc(var(--line-height-computed) / 2);
}

.avatar {
  font-size: .85rem;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  width: calc(100% - 1.7rem);
}

.meta {
  display: flex;
  flex: 1;
  flex-flow: row;
  line-height: 1;

  & + .message {
    margin-top: 0;
  }
}

.name,
.logout {
  display: flex;
  min-width: 0;
  font-weight: 600;
  position: relative;

  > span {
    @extend %text-elipsis;
    padding: .5rem 0;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
  }
}

.name {
  color: var(--color-heading);
}

.logout {
  text-transform: capitalize;
  font-style: italic;
  & > span {
    text-align: right;
    padding-right: .1rem;
  }
}

.offline {
  color: var(--color-gray-light);
  font-weight: 100;
  text-transform: lowercase;
  font-style: italic;
  font-size: 90%;
  line-height: 1;
  align-self: center;
}

.time {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 3.5rem;
  color: var(--color-gray-light);
  text-transform: uppercase;
  font-size: 75%;
  margin-left: calc(var(--line-height-computed) / 2);

  > span {
    vertical-align: sub;
  }
}

.messages {
  > .message:first-child {
    margin-top: calc(var(--line-height-computed) / 4);
  }
}

.message, .hyperlink {
  flex: 1;
  margin-top: calc(var(--line-height-computed) / 3);
  margin-bottom: 0;
  color: var(--color-text);
  word-wrap: break-word;
}

.hyperlink {
  a {
    color: var(--color-primary);
  }
}
