@import "/imports/ui/stylesheets/variables/placeholders";

:root {
  --systemMessage-background-color: #F9FBFC;
  --systemMessage-border-color: #C5CDD4;
  --systemMessage-font-color: var(--color-dark-grey);
  --chat-poll-margin-sm: .5rem;
}

.item {
  padding: calc(var(--line-height-computed) / 4) 0 calc(var(--line-height-computed) / 2) 0;
  font-size: var(--font-size-base);
}

.wrapper {
  display: flex;
  flex-flow: row;
  flex: 1;
  position: relative;
  margin:var(--border-size) 0 0 var(--border-size);

  [dir="rtl"] & {
    margin: var(--border-size) var(--border-size) 0 0;
  }
}

.systemMessage {
  background: var(--systemMessage-background-color);
  border: 1px solid var(--systemMessage-border-color);
  border-radius: var(--border-radius);
  font-weight: var(--btn-font-weight);
  padding: var(--font-size-base);
  //margin-bottom: var(--line-height-computed);
  color: var(--systemMessage-font-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.systemMessageNoBorder {
  color: var(--systemMessage-font-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.avatarWrapper {
  flex-basis: 2.25rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 calc(var(--line-height-computed) / 2) 0 0;

  [dir="rtl"] & {
    margin: 0 0 0 calc(var(--line-height-computed) / 2);
  }
}

.avatar {
  font-size: .85rem;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  width: calc(100% - 1.7rem);
}

.meta {
  display: flex;
  flex: 1;
  flex-flow: row;
  line-height: 1.35;

  & + .message {
    margin-top: 0;
  }
}

.name,
.logout {
  display: flex;
  min-width: 0;
  font-weight: 600;
  position: relative;

  :first-child {
    @extend %text-elipsis;
  }
}

.name {
  color: var(--color-heading);
}

.logout {
  text-transform: capitalize;
  font-style: italic;

  & > span {
    text-align: right;
    padding: 0 .1rem 0 0;

    [dir="rtl"] & {
      text-align: left;
      padding: 0 0 0 .1rem;
    }
  }
}

.offline {
  color: var(--color-gray-light);
  font-weight: 100;
  text-transform: lowercase;
  font-style: italic;
  font-size: 90%;
  line-height: 1;
  align-self: center;
}

.time {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 3.5rem;
  color: var(--color-gray-light);
  text-transform: uppercase;
  font-size: 75%;
  margin: 0 0 0 calc(var(--line-height-computed) / 2);

  [dir="rtl"] & {
    margin: 0 calc(var(--line-height-computed) / 2) 0 0;
  }

  > span {
    vertical-align: sub;
  }
}

.messages {
  > .message:first-child {
    margin-top: calc(var(--line-height-computed) / 4);
  }
}

.message, .hyperlink {
  flex: 1;
  margin-top: calc(var(--line-height-computed) / 3);
  margin-bottom: 0;
  color: var(--color-text);
  word-wrap: break-word;
}

.hyperlink {
  a {
    color: var(--color-primary);
  }
}

.isPoll {
  bottom: var(--border-size-large);
}

.pollWrapper {
  background: var(--systemMessage-background-color);
  border: solid 1px var(--color-gray-lighter);
  border-radius: var(--border-radius);
  padding: var(--chat-poll-margin-sm);
  padding-left: 1rem;
  margin-top: var(--chat-poll-margin-sm) !important;
}
