@import "/imports/ui/stylesheets/variables/_all";

.item {
  font-size: $font-size-base * .90;
  margin-bottom: $line-height-computed;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.wrapper {
  display: flex;
  flex-flow: row;
  flex: 1;
}

.systemMessage {
  padding: $line-height-computed 0;
  border-bottom: 1px solid $color-gray-lighter;

  .item:not(&) + & {
    border-top: 1px solid $color-gray-lighter;
  }

  & + & {
    margin-top: -$line-height-computed;
  }

  &:last-child {
    border-bottom: none;
  }

  .message {
    color: $color-gray;
  }
}

.avatarWrapper {
  flex-basis: 1.65rem;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: $line-height-computed / 2;
}

.avatar {
  font-size: .85rem;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  width: calc(100% - 1.7rem);
}

.meta {
  display: flex;
  flex: 1;
  flex-flow: row;
  line-height: 1;

  & + .message {
    margin-top: 0;
  }
}

.name, .logout {
  display: flex;
  min-width: 0;
  font-weight: 600;
  position: relative;

  > span {
    @extend %text-elipsis;
    padding: .5rem 0;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
  }
}

.name {
  color: $color-heading;
}

.logout {
  text-transform: capitalize;
  font-style: italic;
  & > span {
    text-align: right;
    padding-right: .1rem;
  }
}

.offline {
  color: $color-gray-light;
  font-weight: 100;
  text-transform: lowercase;
  font-style: italic;
  font-size: 90%;
  line-height: 1;
  align-self: center;
}

.time {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 3.5rem;
  color: $color-gray-light;
  text-transform: uppercase;
  font-size: 75%;
  margin-left: $line-height-computed / 2;

  > span {
    vertical-align: sub;
  }
}

.messages {
  > .message:first-child {
    margin-top: $line-height-computed / 4;
  }
}

.message {
  flex: 1;
  margin-top: $line-height-computed / 3;
  margin-bottom: 0;
  color: $color-text;
  word-wrap: break-word;
}
