@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/variables/typography";
@import "/client/stylesheets/fonts.css";

:root {
  --systemMessage-background-color: #fefefe;
  --systemMessage-border-color: rgb(231, 236, 241);
}

.item {
  font-size: var(--font-size-base);
  margin-bottom: var(--line-height-computed);

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.systemMessage {
  background: var(--systemMessage-background-color);
  border: 1px solid var(--systemMessage-border-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-14px);
  color: #30213f;
  line-height: var(--font-size-15px);
  padding: var(--font-size-base);
  margin-bottom: var(--line-height-computed);
  max-width: 70%;
}

.avatarWrapper {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 calc(var(--line-height-computed) / 2) 0 0;

  [dir="rtl"] & {
    margin: 0 0 0 calc(var(--line-height-computed) / 2);
  }
}

.avatar {
  font-size: .71rem;
}

.names,
.logout {
  display: flex;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;

  > span{
    color: #A3AEBD;
    font-size: var(--font-size-13px);
    line-height: var(--font-size-15px);
    letter-spacing: 0.006rem;
    text-transform: capitalize;
    align-self: center;
    padding: 0.2rem;
  }
  :first-child {
    @extend %text-elipsis;
  }
}

.names {
  display: flex;
  flex: auto;
  color: var(--color-heading);
  white-space: nowrap;
  text-overflow: ellipsis;

}
.name{
  position: relative;
}

.logout {
  text-transform: capitalize;
  font-style: normal;

  & > span {
    text-align: right;
    padding: 0 .1rem 0 0;

    [dir="rtl"] & {
      text-align: left;
      padding: 0 0 0 .1rem;
    }
  }
}

.offline {
  color: #1A5577;
  font-style: normal;
  font-weight: 100;
  line-height:var(--font-size-13px);
  text-transform: lowercase;
  align-self: center;
}

.time {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 3.5rem;
  color: rgba(4, 46, 87, 0.51);
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-10px);
  line-height: var(--font-size-13px);
  text-align: right;
  text-transform: capitalize;
  margin-left: 3rem;
  align-self: right;
  [dir="rtl"] & {
    margin: 0 calc(var(--line-height-computed) / 2) 0 0;
  }

  > span {
    vertical-align: sub;
  }
}

.hyperlink {
  a {
    color: var(--color-primary);
  }
}

.messagesleft {  
  flex: auto;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-style: light;
  line-height: 1.6;
  color:#000000;
  a {
    color: var(--color-primary);
  }
}

.messagesright {  
  flex:auto;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-style: light;
  align-self: flex-start;
  text-align: left;
  margin-right: 0.85rem;
    line-height: 1.6;
    color:#000000;
    a {
      color: var(--color-primary);
    }
}

.messageleft, .hyperlinkleft {
  flex: 1;
  margin-top: calc(var(--line-height-computed) / 3);
  margin-bottom: 0;
  color: var(--color-light);
  word-wrap: break-word;

  align-self: flex-end;
  max-width: 18.25rem;
  background: #FFFFFF;
  border-radius: 20px 0px 20px 20px;
  line-height: var(--font-size-21px);
  padding: var(--font-size-10px);
  letter-spacing: 0.1px;

}
.messageright, .hyperlinkright {
  flex: 1;
  margin-top: calc(var(--line-height-computed) / 3);
  margin-bottom: 0;
  color: var(--color-light);
  word-wrap: break-word;

  align-self: flex-start;
  max-width: 17.4rem;
  background:linear-gradient(0deg, #BCD7EF, #BCD7EF);
  border-radius: 0px 20px 20px 20px;
  padding: var(--font-size-10px);
}

.timeleft {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 3.5rem;
  flex-wrap: wrap;
  color: #B2B5C0;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-10px);
  line-height: var(--font-size-13px);
  text-align: right;
  text-transform: capitalize;
  margin: 0 0 0 calc(var(--line-height-computed) / 2);
  align-self: auto;
  [dir="rtl"] & {
    margin: 0 calc(var(--line-height-computed) / 2) 0 0;
  }

  > span {
    vertical-align: sub;
  }
}
.timeright {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 3.5rem;
  flex-wrap: wrap-reverse;
  color: #B2B5C0;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size-10px);
  line-height: var(--font-size-13px);
  text-align: left;
  text-transform: capitalize;
  margin-right: 1.0rem;
 // margin: 0 0 0 calc(var(--line-height-computed) / 2);
  align-self:left;
  [dir="rtl"] & {
    margin: 0 calc(var(--line-height-computed) / 2) 0 0;
  }

  > span {
    vertical-align: sub;
  }
}

.wrapperleft {
  display: flex;
  flex-flow: row-reverse;
  flex: 1;
  position: relative;
  padding: 0.42rem;
  margin:var(--border-size) 0 0 var(--border-size);

  [dir="rtl"] & {
    margin: var(--border-size) var(--border-size) 0 0;
  }
}
.wrapperright {
  display: flex;
  flex-flow: row;
  flex: 1;
  position: relative;
  margin:var(--border-size) 0 0 var(--border-size);

  [dir="rtl"] & {
    margin: var(--border-size) var(--border-size) 0 0;
  }
}

.contentleft {
  flex: auto;
  display: flex;
  flex-flow: column;
}
.contentright {
  flex: auto;
  display: flex;
  flex-flow: column;
}

.metaleft {
  display: flex;
  flex: auto;
  flex-flow: row-reverse;
 align-self: flex-end;
 line-height: 1.5;
  flex-direction: row-reverse;
  & + .message {
    margin-top: 0;
  }
}

.metaright {
  align-self: auto;
  display: flex;
  flex:1;
  flex-flow: row;
  

  & + .message {
    margin-top: 0;
  }
}