@import "/imports/ui/stylesheets/variables/_all";

.item {
  font-size: $font-size-base * .90;
  margin-bottom: $line-height-computed;

  &:last-child {
    margin-bottom: 0 !important;
  }
}

.wrapper {
  display: flex;
  flex-flow: row;
  flex: 1;
}

.systemMessage {

  .item + &,
  & + .item {
    margin-bottom: $line-height-computed * 1.5;
  }
}

.avatarWrapper {
  flex-basis: 1.65rem;
  flex-shrink: 0;
  flex-grow: 0;
}

.avatar {
  font-size: .85rem;
}

.content {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  margin-left: $line-height-computed / 2;
}

.meta {
  display: flex;
  flex: 1;
  flex-flow: row;

  & + .message {
    margin-top: 0;
  }
}

.name {
  display: flex;
  min-width: 0;
  font-weight: 600;
  color: $color-gray;

  > span {
    @extend %text-elipsis;
  }
}

.logout {
  display: flex;
  min-width: 0;
  font-weight: 600;
  color: $color-gray-light;
  text-transform: capitalize;
  font-style: italic;

  > span {
    @extend %text-elipsis;
  }
}

.offline {
  color: $color-gray-light;
  font-weight: 100;
  text-transform: lowercase;
  font-style: italic;
  margin-left: .25rem;
  font-size: 90%;
  line-height: 1;
  align-self: center;
}

.time {
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 3.5rem;
  color: $color-gray-light;
  text-transform: uppercase;
  font-size: 75%;
  margin-left: $line-height-computed / 2;

  > span {
    vertical-align: sub;
  }
}

.messages {
  > .message:first-child {
    margin-top: 0;
  }
}

.message {
  flex: 1;
  margin-top: $line-height-computed / 2;
  margin-bottom: 0;
  color: $color-text;
  word-wrap: break-word;
}
