@import "../../stylesheets/variables/_all";
@import "/client/stylesheets/fonts.css";

:root {
  --mobile-nav-height: 5rem;
  --mobile-margin-top: .25rem;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.top,
.bottom {
  display: flex;
  flex-direction: row;
}

.bottom {
  @include mq($phone-landscape) {
    margin-top: var(--mobile-margin-top);
  }
}

.left,
.right,
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.both{
  color: #0F4C81;
  position: relative;
   flex-wrap: nowrap;
   align-items: center;
   text-transform: capitalize;

  white-space: nowrap;
  text-overflow: ellipsis;

 flex-flow: row;
 flex-direction: row;
display: flex;
>span{
  padding: 0.3rem;
}
}
.name{
  padding: 0.3rem;
}
.right {
  flex: 0;
}

.center {
  width: 60%;
  flex: 1;
}

.presentationTitle {
  font-weight: 800;
  color: #5594d4;
  font-style: normal;
  font-size: var(--font-size-19px);
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;

  > [class^="icon-bbb-"] {
    font-size: 75%;
  }
}

.btnWithNotificationDot {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    bottom: var(--border-size);
    right: 3px;
    background-color: var(--color-danger);
    border: var(--border-size) solid var(--color-gray-dark);
  }
}

.btn {
  margin: 0;

  span {
    border: none;
    box-shadow: none;
  }

  i {
    font-weight: 600;
  }

  &:hover,
  &:focus {
    span {
      background-color: transparent !important;
      color: var(--color-white) !important;
      opacity: .75;
    }
  }
}
.button {
  span:first-child {
    box-shadow: none;
    border: 1px solid #36A1FF;
  }
}
.mastericon{
  padding: 0 !important;
  i {
    font-size: 175%;
  }
}