@import "../../stylesheets/variables/_all";

.navbar {
  padding: $line-height-computed / 2;
  display: flex;
  flex-direction: row;
}

.left,
.right,
.center,
.record {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 $line-height-computed;
  }
}

.left,
.right,
.record {
  flex: 0;
}

.center {
  width:70%;
  flex: 1;
}

.presentationTitle {
  font-weight: 200;
  color: $color-white;
  font-size: $font-size-base * 1.2;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divideBar {
  color: $color-white;
  font-size: $font-size-base * 1.2;
  margin-left: 15px;
}

.recordImage {
  margin-left: -5px;
}
