@import "../../stylesheets/variables/_all";

.navbar {
  display: flex;
  flex-direction: row;
}

.left,
.right,
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  flex: 0;
}

.center {
  width:70%;
  flex: 1;
}

.presentationTitle {
  font-weight: 200;
  color: $color-white;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > [class^="icon-bbb-"] {
    font-size: 75%;
  }
}

.divider {
  background: $color-white;
  height: $font-size-base * 1.25;
  width: 1px;
  margin: 0 $line-height-computed / 2;
  opacity: .75;
}

.btnWithNotificationDot {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
    background-color: $color-danger;
  }
}

.btn {
  margin: 0;

  span {
    border: none;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    span {
      background-color: transparent !important;
      color: $color-white !important;
      opacity: .75;
    }
  }
}

.btnSettings {
  transform: rotate(90deg);
}

.dropdownBreakout {
  cursor: pointer;
}
