@import "../../stylesheets/variables/_all";

.navbar {
  display: flex;
  flex-direction: row;
}

.left,
.right,
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  flex: 0;
}

.center {
  width: 70%;
  flex: 1;
}

.presentationTitle {
  font-weight: 200;
  color: var(--color-white);
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30vw;

  > [class^="icon-bbb-"] {
    font-size: 75%;
  }
}

.presentationTitleSeparator {
  color: var(--color-gray);
  font-size: var(--font-size-base);
  margin: 0 1rem;
}

.btnWithNotificationDot {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    bottom: var(--border-size);
    right: 3px;
    background-color: var(--color-danger);
    border: var(--border-size) solid var(--color-gray-dark);
  }
}

.btn {
  margin: 0;

  span {
    border: none;
    box-shadow: none;
  }

  &:hover,
  &:focus {
    span {
      background-color: transparent !important;
      color: var(--color-white) !important;
      opacity: .75;
    }
  }
}

.btnSettings {
}

.dropdownBreakout {
  cursor: pointer;
}
