@import "imports/ui/stylesheets/variables/_all";

.navbar {
  padding: $line-height-computed / 2;
  display: flex;
  flex-direction: row;
}

.left,
.right,
.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > * {
    margin: 0 $line-height-computed;
  }
}

.left,
.right {
  flex: 0;
}

.center {
  flex: 1;
}

.presentationTitle {
  font-weight: 200;
  color: $color-white;
  font-size: $font-size-base * 1.2;
  margin: 0;
  padding: 0;
}

.btn {
  border: 10px solid red;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
