<template name="makeButton">
    <button type="submit" id="{{id}}" class="btn {{btn_class}}" {{isDisabled}} rel="{{rel}}" data-placement="{{data_placement}}" title="{{title}}" style="{{style}}">
      {{#if text}}
        <span>{{text}}</span>
      {{else}}
        {{#if i_class}}
          <i class="{{i_class}}"></i>
          {{#if label}}<span>{{label}}</span>{{/if}}
          {{#if notification}}{{#if hasGotUnreadMail notification }}<span class="unreadChat"></span>{{/if}}{{/if}}
        {{/if}}
      {{/if}}
    </button>
</template>
