<template name="makeButton">
  <button type="submit" id="{{id}}" class="btn {{btn_class}}" {{isDisabled}} rel="{{rel}}" data-placement="{{data_placement}}" title="{{title}}" style="{{style}}">
    {{#if notification}}
      {{#if hasGotUnreadMail notification }}
        <div class="{{getNotificationClass notification}}">{{getNumberOfUnreadMessages notification}}</div>
      {{/if}}
    {{/if}}
    {{#if i_class}}
      <i class="{{i_class}}"></i>
    {{/if}}
    {{#if label}}
      <span>{{label}}</span>
    {{/if}}
    {{#if span}}
      <span></span>
    {{/if}}
  </button>
</template>
