<template name="whiteboard">
  <div id="{{id}}" {{visibility name}} class="component gradientBar">
    {{#each getCurrentSlide}}
      {{> slide}}
    {{/each}}
    <div id="whiteboard-container" class="{{whiteboardSize}}">
      <div id="whiteboard-paper">
      </div>
      {{#if isCurrentUserRaisingHand}}
        {{> makeButton btn_class="lowerHand soaringButton raiseHandButton" i_class="ion-android-hand"}}
      {{else}}
        {{> makeButton btn_class="raiseHand soaringButton raiseHandButton" i_class="ion-android-hand"}}
      {{/if}}
      {{#if isMobile}}
        {{> makeButton btn_class="soaringButton fullscreenButton whiteboardFullscreenButton" i_class="ion-arrow-expand"}}
      {{/if}}
    </div>
    {{#if isCurrentUserPresenter}}
      <div id="controllers">
        <div id="switchSlideSection">
          {{> makeButton btn_class="switchSlideButton previousSlide" i_class="ion-arrow-left-a" rel="tooltip" data_placement="top" title="Previous"}}
          <span id="presentationProgress">
            {{presentationProgress}}
          </span>
          {{> makeButton btn_class="switchSlideButton nextSlide" i_class="ion-arrow-right-a" rel="tooltip" data_placement="top" title="Next"}}
        </div>
      </div>
    {{/if}}
  </div>
</template>
