<template name="whiteboard">
    <div id="{{id}}" {{visibility name}} class="component gradientBar">
        <h3 id="whiteboard-navbar" class="title">
            {{#if isMobile}}
                {{> makeButton btn_class="fullscreenWhiteboardButton" i_class="glyphicon glyphicon-fullscreen"}}
            {{/if}}
            <span class="ion-easel heading"></span>
            {{title}}
        </h3>
        {{#each getCurrentSlide}}
            {{> slide}}
        {{/each}}
        <div id="whiteboard-container">
            <div id="whiteboard-paper">
            </div>
        </div>
    </div>
</template>
