<template name="deskshareModal">
	<div>
		<table id="conf_list" style="display: none;"></table>
		<div>
			<fieldset>
				<legend align="center"><b>Deskshare Video Quality</b>:</legend>
				<select id="deskshareResolutions"></select>
			</fieldset>
		</div><br>
		{{#if getInSession "sharingMyScreen"}}
			{{> makeButton id="screenshareStop" btn_class="screenshareStop vertoButton settingsButton" i_class="fi-monitor" rel="tooltip" data_placement="bottom" title="Stop sharing your screen"}}
		{{else}}
			{{> makeButton id="screenshareStart" btn_class="screenshareStart vertoButton settingsButton" i_class="fi-monitor" rel="tooltip" data_placement="bottom" title="Share your screen"}}
		{{/if}}
		<button id='desksharePreview' class="vertoButton">desksharePreview</button>
		{{#if getInSession "isPreviewingDeskshare"}}
			<button id='stopDesksharePreview' class="screenshareStop">stop</button>
		{{/if}}
	</div>
</template>
