<template name="settingsModal">
  <div id="settingsModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="bar" style="border-bottom:1px solid grey">
      <p style="float: left">
        <i class="icon fi-widget" style="font-size:30px">
          <span class="modalTitle">BigBlueButton Settings</span>
        </i>
      </p>
      <p style="text-align:right">
        <a href="#" class="close-reveal-modal" style="font-size: 30px; position: inherit;">&#215;</a>
      </p>
    </div>

    <div style="padding: 10px; text-align: center;">
      <p>Share Camera</p>
      {{> settingsAudio}}
      {{> optionsFontSize}}
      {{> bbbSettingsInfo}}
    </div>

    <div class="bar" style="border-top:1px solid grey; text-align: right;">
        <a href="#" class="close-reveal-modal" style="font-size: 12px; position: inherit;"><u>Cancel</u></a>
        <button type="submit" style="margin-bottom: 0px; background-color: #007095; border-radius: 15px; padding: 5px 10px 5px 10px" class="btn settingsButton" rel="tooltip" title="Save Changes">
        Save
      </button>
    </div>
  </div>
</template>

<template name="bbbSettingsInfo">
  {{{getBBBSettingsInfo}}}
</template>

<!-- listen only | microphone -->
<template name="settingsAudio">
  <div class='audioControllersSection'>
    {{#if amIInAudio}}
      {{#if amIListenOnlyAudio}}
        <!-- display listen only with exit -->
        {{> makeButton id="exitAudio" btn_class="exitAudio settingsButton" i_class="prohibited" rel="tooltip"
        data_placement="bottom" title="Leave Audio Call"}}
        <!-- display microphone with join -->
        {{> makeButton id="joinMicrophone" btn_class="joinMicrophone settingsButton" i_class="microphone" rel="tooltip"
        data_placement="bottom" title="Join Microphone"}}
      {{else}}
        <!-- display join listen only -->
        {{> makeButton id="joinListenOnly" btn_class="joinListenOnly settingsButton" i_class="megaphone" rel="tooltip"
        data_placement="bottom" title="Join Listen only"}}
        <!-- display microphone with exit -->
        {{> makeButton id="exitAudio" btn_class="exitAudio settingsButton" i_class="prohibited" rel="tooltip"
        data_placement="bottom" title="exit"}}

        <!-- to be inserted back into the navbar -->
        <!-- different icons for speaking -->
        <!-- {{#if isCurrentUserMuted}} -->
          <!-- if you are muted the button representing your status will show volume off -->
          <!-- {{> makeButton btn_class="muteIcon" i_class="glyphicon glyphicon-volume-off" sharingAudio=true rel="tooltip" data_placement="bottom" title="Unmute"}} -->
        <!-- {{else}} -->
          <!-- {{#if isCurrentUserTalking}} -->
            <!-- you are talking. Display a high volume/volume up representing voice activity -->
            <!-- {{> makeButton btn_class="muteIcon" i_class="glyphicon glyphicon-volume-up" sharingAudio=true rel="tooltip" data_placement="bottom" title="Mute"}} -->
          <!-- {{else}} -->
            <!-- you are not talking. Display low volume/volume down representing no voice activity -->
            <!-- {{> makeButton btn_class="muteIcon" i_class="glyphicon glyphicon-volume-down" sharingAudio=true rel="tooltip" data_placement="bottom" title="Mute"}} -->
          <!-- {{/if}} -->
        <!-- {{/if}} -->
      {{/if}}
    {{else}}
      <!-- display both with join -->
      {{> makeButton id="joinListenOnly" btn_class="joinListenOnly settingsButton" i_class="megaphone"
      rel="tooltip" data_placement="bottom" title="Join Listen only"}}
      {{> makeButton id="joinMicrophone" btn_class="joinMicrophone settingsButton" i_class="microphone"
      rel="tooltip" data_placement="bottom" title="Join Microphone"}}
    {{/if}}
  </div>
</template>
